.action-list(ng-click='$hide(); $event.stopPropagation()')
  .action(ng-switch='thread.isUnread')
    a(ng-switch-when='false', ng-click='ctrl.markAsUnread()', title="#{__('Mark as unread')}")
      i.mdi.mdi-eye-off
      span.label
        | #{__('Mark as unread')}
    a(ng-switch-when='true', ng-click='ctrl.markAsRead()', title="#{__('Mark as read')}")
      i.mdi.mdi-eye
      span.label
        | #{__('Mark as read')}
  .action(ng-switch='thread.isFlagged')
    a(ng-switch-when='false', ng-click='ctrl.markAsFlagged()', title="#{__('Star')}")
      i.mdi.mdi-star
      span.label
        | #{__('Star')}
    a(ng-switch-when='true', ng-click='ctrl.unmarkAsFlagged()', title="#{__('Unstar')}")
      i.mdi.mdi-star-off
      span.label
        | #{__('Unstar')}
  .action
    a(ng-click='ctrl.move()', title="#{__('Move to')}")
      i.mdi.mdi-folder-move
      span.label
        | #{__('Move to')}
  .action
    a(ng-click='ctrl.moveToTrash()', title="#{__('Delete')}")
      i.mdi.mdi-delete
      span.label
        | #{__('Delete')}