.email-view

  ul.actions.pull-right
    li
      a(ng-href="/#/unifiedinbox/{{::mailbox}}" title="#{__('Go back to mailbox')}")
        i.mdi.mdi-v-centered.mdi-folder
    li
      a(href="", action-list, template-desktop-url="/unifiedinbox/views/partials/action-list-desktop.html" template-mobile-url="/unifiedinbox/views/partials/action-list-mobile.html" title="#{__('More')}")
        i.mdi.mdi-v-centered.mdi-view-module

  h2.subject.visible-md.visible-lg {{::email.subject}}
  h3.headers
    .text-right
      ng-include(src="'/unifiedinbox/views/partials/email-star'")
      span.date {{::email.date | date:'short' }}
      i.mdi.mdi-clock
    .avatarify
      .from
        span.line-header #{__('From')}:
        emailer(emailer="::email.from")
      .to
        span.line-header #{__('To')}:
        emailer-group(group="::email.to")
      .cc
        span.line-header #{__('CC')}:
        emailer-group(group="::email.cc")

  .email-body
    html-email-body(ng-if="email.htmlBody", email="::email")
    .lv-item.multilines(ng-if="!email.htmlBody") {{::email.textBody}}
    .lv-item(ng-if="!email.htmlBody && !email.textBody") {{::email.preview}}
      .text-center(openpaas-logo-spinner, spinner-start-active='1',spinner-size='0.5')

  .lv-footer(ng-if="email.attachments.length > 0")
    .attachments
      i.title.mdi.mdi-attachment #{__('Attachments')}
      inbox-attachment(ng-repeat="attachment in ::email.attachments", ng-if="::!attachment.isInline", attachment="::attachment")
  
  .lv-footer
    .modal-attachments
      ul.actions
        li
          a(ng-click="ctrl.forward()", title="#{__('Forward')}")
            i.mdi.mdi-forward
          a(ng-click="ctrl.replyAll()", title="#{__('Reply all')}")
            i.mdi.mdi-reply-all
          a(ng-click="ctrl.reply()", title="#{__('Reply')}")
            i.mdi.mdi-reply

  inbox-fab
