.cc-sync(ui-view="sync")
  .block-header
    h2 #{__('Sync an external application with OpenPaaS')}

  .cc-sync-apps
    .card.cc-sync-app
      img.cc-sync-app-icon(src="/sync/images/thunderbird_logo.png", title=__('Thunderbird'), alt=__('Thunderbird'))
      .cc-sync-app-description !{__('Download and install the OpenPaas %s to automatically configure your email, calendars and contacts accounts in Thunderbird', '<a href="/sync/downloads/thunderbird/op-tb-autoconf.xpi" download>extension</a>')}

    .clickable.card.cc-sync-app(ui-sref="controlcenter.sync.outlook")
      img.cc-sync-app-icon(src="/sync/images/outlook_logo.png", title=__('Outlook'), alt=__('Outlook'))
      .cc-sync-app-description #{__('Click here to learn how to synchronize Outlook 2016 with OpenPaaS')}
    
    .clickable.card.cc-sync-app(ui-sref="controlcenter.sync.android")
      img.cc-sync-app-icon(src="/sync/images/android_logo.png", title=__('Android'), alt=__('Android'))    
      .cc-sync-app-description #{__('Click here to learn how to synchronize your Android device with OpenPaaS')}

    .clickable.card.cc-sync-app(ui-sref="controlcenter.sync.ios")
      img.cc-sync-app-icon(src="/sync/images/ios_logo.png", title=__('iOS'), alt=__('iOS'))
      .cc-sync-app-description #{__('Click here to learn how to synchronize your iOS device with OpenPaaS')}