sub-header
  communities-view-subheader

community-create-button

.no-padding-xs(sub-header-aware)
  .community-list
    .community-list-header.card
      .community-list-tabs
        ul.esn-tab
          li.btn-wave(ng-class="{'active': selected === 'all', disabled: loading}")
            a(href="", ng-click="getAll()")
              | #{__('All')}
          li.btn-wave(ng-class="{'active': selected === 'membership', disabled: loading}")
            a(href="", ng-click="getMembership()")
              | #{__('Member of')}
          li.btn-wave(ng-class="{'active': selected === 'moderator', disabled: loading}")
            a(href="", ng-click="getModerator()")
              | #{__('Owned')}
          li.filter.hidden-xs
            esn-filter-input(filter="filter", on-change="setFilter($filter)")
        esn-filter-input.hidden-md(filter="filter", on-change="setFilter($filter)")

    .community-list-content
      .community-list-error(ng-if="error && !loading")
        .list-empty(ng-if="error && !loading")
          i.mdi.mdi-alert-circle-outline
          .message #{__('Error while loading communities !')}

      .community-list-data(ng-if="!error && !loading")
        .card
          community-list-item(ng-repeat="community in communities | orderBy:'title' | filter:filter as filteredCommunities", community="community", actions='true')

        .list-empty(ng-if="!communities.length && selected === 'all'")
          i.mdi.mdi-information-outline
          .message
            span #{__('There is no communities yet')}

        .list-empty(ng-if="!communities.length && selected === 'membership'")
          i.mdi.mdi-information-outline
          .message
            span #{__('You are not member of any community')}

        .list-empty(ng-if="!communities.length && selected === 'moderator'")
          i.mdi.mdi-information-outline
          .message
            span #{__('You are not moderator of any community yet')}

        .list-empty(ng-if="communities.length && filter && !filteredCommunities.length")
          i.mdi.mdi-information-outline
          .message
            span #{__('Filter is too restrictive')}

