.clickable(
    title="{{ ::mailbox.name }}",
    ui-sref-active="{'selected' : 'unifiedinbox.list({ mailbox: mailbox.id })'}",
    esn-droppable,
    esn-droptarget-class="droptarget",
    esn-on-drop="onDrop($dragData)",
    esn-is-drop-zone="isDropZone($dragData)"
  )
  .badge-container
    .badge(ng-hide='mailbox.unreadMessages === 0') {{ mailbox.unreadMessages | maxPlus:99 }}
    i.inbox-icon(ng-class='mailboxIcons')
  .menu-item
    span.menu-item-inner
      bdi {{ ::mailbox.qualifiedName }}
    span.menu-item-after
