.clickable.inbox-item-with-icon.waves-effect.waves-classic(
    title="{{ mailbox.name }}",
    ui-sref-active="selected",
    esn-droppable,
    esn-droptarget-class="droptarget",
    esn-on-drop="onDrop($dragData)",
    esn-is-drop-zone="isDropZone($dragData)"
  )
  .badge-container
    .badge(ng-if="!hideBadge && mailbox.unreadMessages !== 0") {{ mailbox.unreadMessages | maxPlus:99 }}
    i.inbox-icon(ng-class='mailboxIcons')
  .menu-item
    span.menu-item-inner
      bdi {{ mailbox.qualifiedName }}
    span.menu-item-after
  .settings-overlay(ng-if="settings", ui-sref='unifiedinbox.inbox.folders.edit({ mailbox: mailbox.id })', ng-click="$event.stopImmediatePropagation(); hideAside();")
    i.mdi.mdi-settings
