.inbox-message-list-item.swipe(inbox-swipeable-list-item, swipe-right="onSwipeRight", swipe-left="onSwipeLeft", left-template="{{leftTemplate}}")
  .inbox-list-item-content.clickable(
      ng-click="esnIsDragging || ctrl.openEmail(item)",
      esn-draggable,
      inbox-draggable-list-item,
      inbox-swipeable-list-item,
      esn-drag-message="{{ ::item.subject }}",
      esn-drag-data="item",
      esn-drag-class="dragging",
      esn-on-drag-end="onDragEnd($dropped)",
      esn-on-drop-failure="onDropFailure()"
    )
    .list-image.badge-container
      inbox-emailer-avatar(emailer='::item.from')
    .media-body(ng-class="{bold: item.isUnread}")
      .flex-space-between
        .inbox-subject.lv-title.ellipsis {{ ::item.subject}}
        .date-container {{ ::item.date | date: group.dateFormat }}
      .flex-space-between
        inbox-emailer.lv-title(emailer="::item.from")
        inbox-indicators(item="item")
    .lv-small.preview {{ ::item.preview }}
