.inbox-message-list-item.swipe(inbox-swipeable-list-item, swipe-right="onSwipeRight", swipe-left="onSwipeLeft", left-template="{{ leftTemplate }}", ng-class="{ selected: item.selected }")
  .inbox-list-item-content.clickable(
      ng-click="esnIsDragging || ctrl.openEmail(item)",
      esn-draggable,
      inbox-draggable-list-item,
      esn-drag-message="getDragMessage($dragData)",
      esn-drag-data="getDragData()",
      esn-drag-class="dragging",
      ng-class="{ dragging: esnIsDragging && item.selected }"
    )
    .inbox-item-with-icon
      .list-image.badge-container(ng-click="ctrl.select(item, $event)", desktop-hover="hovering = hover && !esnIsDragging")
        inbox-emailer-avatar(ng-hide="hovering || item.selected", emailer='item.from')
        label.checkbox.clickable(ng-hide="!hovering && !item.selected")
          input(type='checkbox', ng-model="item.selected")
          i.input-helper
      .media-body(ng-class="{ bold: item.isUnread }")
        .inbox-list-item-subject-and-from
          .inbox-subject.lv-title
            span.inbox-subject-inline {{ item.subject }}
            span.inbox-preview-inline.inbox-preview-divider(ng-if='item.subject') -
            .inbox-preview-inline.lv-small.preview(ng-if="item.preview") {{ item.preview }}
          inbox-emailer.inbox-from.lv-title(emailer="item.from")
        .inbox-list-item-date-and-indicators
          .date-container {{ item.date | inboxItemDate }}
          inbox-indicators(item="item")
    .inbox-preview-block.preview {{ item.preview }}
