.cal-blue-bar

  .cal-blue-bar-minical-container
    .cal-blue-bar-minical
      .cal-blue-bar-minical-month {{ ($ctrl.event.start | amDateFormat:'MMM') || '-' }}
      .cal-blue-bar-minical-date {{ ($ctrl.event.start | amDateFormat:'DD') || '-' }}
      .cal-blue-bar-minical-day {{ ($ctrl.event.start | amDateFormat:'ddd') || '-' }}
    .cal-blue-bar-minical-overlay(ng-if="!$ctrl.event")
      .cal-blue-bar-overlay-loading(ng-if="!$ctrl.meeting.loaded")
        i.cal-blue-bar-overlay-icon.mdi.mdi-sync.rotate
      i.cal-blue-bar-overlay-icon.mdi.mdi-alert-circle.text-danger(ng-if="$ctrl.meeting.error")
      i.cal-blue-bar-overlay-icon.mdi.mdi-help-circle(ng-if="$ctrl.meeting.invalid")

  .cal-blue-bar-message(ng-if="!$ctrl.event")
    .cal-blue-bar-message-error.text-danger(ng-if="$ctrl.meeting.error") #{__('An error occured while processing meeting information contained in this message.')}
    .cal-blue-bar-message-error(ng-if="$ctrl.meeting.invalid") #{__('Some meeting information contained in this message cannot be processed.')}
    .cal-blue-bar-message-info(ng-if="!$ctrl.meeting.loaded") #{__('This message contains some meeting information. Please wait while we fetch the event details...')}

  .cal-blue-bar-info-and-actions.ellipsis(ng-if="$ctrl.event")
    .cal-blue-bar-info
      .cal-blue-bar-summary.ellipsis {{ $ctrl.event.summary }}
      .cal-blue-bar-location.cal-blue-bar-labelled-value.ellipsis(ng-if="$ctrl.event.location")
        i.cal-blue-bar-label.mdi.mdi-map-marker
        span.cal-blue-bar-value {{ $ctrl.event.location }}
      .cal-blue-bar-date.cal-blue-bar-labelled-value.ellipsis
        i.cal-blue-bar-label.mdi.mdi-clock
        span.cal-blue-bar-value {{ $ctrl.event.start | amDateFormat:'lll' }} ({{ $ctrl.event.end | amDifference:$ctrl.event.start:'hours':true }}h)
      .cal-blue-bar-recurrence.cal-blue-bar-labelled-value.ellipsis(ng-if="$ctrl.event.isRecurring()")
        i.cal-blue-bar-label.mdi.mdi-sync
        span.cal-blue-bar-value #{__('Recurs %s', '{{ $ctrl.event.getRecurrenceType() | lowercase }}')}

    .cal-blue-bar-actions-container.cal-blue-bar-labelled-value(ng-if="$ctrl.meeting.method === 'REQUEST'")
      .cal-blue-bar-participation.cal-blue-bar-label.hidden-xs #{__('Will you attend?')}
      .cal-blue-bar-actions.cal-blue-bar-value.btn-group.btn-group-sm
        .cal-blue-bar-action-button.btn(ng-class="$ctrl.getParticipationButtonClass('btn-success', 'ACCEPTED')", ng-click="$ctrl.changeParticipation('ACCEPTED')") #{__('Yes')}
        .cal-blue-bar-action-button.btn(ng-class="$ctrl.getParticipationButtonClass('btn-primary', 'TENTATIVE')", ng-click="$ctrl.changeParticipation('TENTATIVE')") #{__('Maybe')}
        .cal-blue-bar-action-button.btn(ng-class="$ctrl.getParticipationButtonClass('btn-danger', 'DECLINED')", ng-click="$ctrl.changeParticipation('DECLINED')") #{__('No')}

    .cal-blue-bar-actions-container.cal-blue-bar-labelled-value(ng-if="$ctrl.replyAttendee")
      .cal-blue-bar-action-icon.cal-blue-bar-label(ng-switch="$ctrl.replyAttendee.partstat")
        i.text-success.mdi.mdi-account-check(ng-switch-when="ACCEPTED")
        i.text-danger.mdi.mdi-account-remove(ng-switch-when="DECLINED")
        i.text-primary.mdi.mdi-account(ng-switch-default)
      .cal-blue-bar-value
        inbox-emailer(emailer="$ctrl.message.from")

    .cal-blue-bar-actions-container.cal-blue-bar-labelled-value(ng-if="$ctrl.meeting.method === 'CANCEL'")
      .cal-blue-bar-action-icon.cal-blue-bar-label
        i.text-danger.mdi.mdi-calendar-remove
      .cal-blue-bar-value #{__('This event has been cancelled')}
