div.login-bg
  div.form-container
    form(method='POST')
      legend #{__('Sign In')}
      .form-group
        label.control-label(for='username') #{__('Username')}
        input.form-control(type='text', name='username', id='username', placeholder="#{__('Username')}", autofocus=true)
      .form-group
        label.control-label(for='username') #{__('Password')}
        input.form-control(type='password', name='password', id='password', placeholder="#{__('Password')}")
      .form-group
        button.btn.btn-primary(type='submit')
          i.fa.fa-unlock-alt
          | #{__('Login')}

