.lv-item.sidebar-title
  .media
    .pull-right
      .lv-actions.actions
        li.dropdown
          a(href='', data-toggle='dropdown', aria-expanded='true', title=__('New address book'))
            i.mdi.mdi-plus
          ul.dropdown-menu.dropdown-menu-right
            li
              a(
                href='',
                esn-modal-launcher="/contact/app/addressbook/create/contact-addressbook-create",
                controller='ContactAddressbookCreateController',
                controller-as='$ctrl',
                backdrop='static'
              )
                | #{__('Contacts')}
            li
              a(href='/#/controlcenter/accounts') #{__('Import contacts')}
    .media-body
      .title
        .text #{__('Address books')}

.listview
  .lv-item.clickable.addressbook-item.waves-effect.waves-classic(
    title=__('All contacts'),
    ui-sref-active="selected",
    ui-sref="contact.addressbooks({ bookName: null })"
  )
    .badge-container
      .badge
      i.addressbook-icon.mdi.mdi-folder-multiple
    .title.ellipsis
      span #{__('All contacts')}

hr

.listview
  contact-sidebar-addressbook-item(ng-repeat='book in $ctrl.addressbooks', addressbook-display-shell='book')
