form(name='applicationsForm')
  .form-group
    label #{__('Application name')}
    input.form-control(type='text', ng-model='$ctrl.application.name', name='name', placeholder="#{__('Application Name')}", autofocus=true, required)
    span.help-block #{__('Application name will help users to find and trust it')}.
  .form-group
    label #{__('Redirect URI')}
    input.form-control(type='url', ng-model='$ctrl.application.redirectUri', name='redirectUri', placeholder="#{__('Redirect URI')}", required pattern="https?://.+")
    span.help-block #{__("The application's callback URL. Check OAuth documentation for more details")}.
  .form-group
    label #{__('Application description')}
    textarea.form-control(ng-model='$ctrl.application.description', name='description', placeholder="#{__('Application description')}")
    span.help-block #{__('Tell us what your application is about')}.
  .form-group.text-center
    button.btn.btn-warning(type='submit', ng-click='$ctrl.update()')
      | #{__('Update')}
    &nbsp;
    button.btn.btn-danger(type='submit', ng-click='$ctrl.remove()')
      | #{__('Delete')}