.from
  label.line-header #{__('From')}:
  inbox-emailer(emailer="::email.from")

.flex
  .recipients(ng-switch="collapsed")
    .collapsed(ng-switch-when="true", ng-if="::previewEmailer")
      .to
        label.line-header(ng-switch="::previewEmailerGroup")
          span(ng-switch-when="To") #{__('To')}:
          span(ng-switch-when="CC") #{__('CC')}:
          span(ng-switch-when="BCC") #{__('BCC')}:
        inbox-emailer(emailer="::previewEmailer", hide-email="true")
    .expanded(ng-switch-when="false")
      .to(ng-if="::(email.to && email.to.length)")
        label.line-header #{__('To')}:
        inbox-emailer-group(group="::email.to")
      .cc(ng-if="::(email.cc && email.cc.length)")
        label.line-header #{__('CC')}:
        inbox-emailer-group(group="::email.cc")
      .bcc(ng-if="::(email.bcc && email.bcc.length)")
        label.line-header #{__('BCC')}:
        inbox-emailer-group(group="::email.bcc")

  .more.clickable(ng-show="::showMoreButton", ng-switch="collapsed", ng-click="$event.stopPropagation(); collapsed = !collapsed")
    .collapsed(ng-switch-when="true")
      | +{{ ::numberOfHiddenEmailer }}
      i.mdi.mdi-menu-down
    .expanded(ng-switch-when="false")
      i.mdi.mdi-menu-up

.date
  label.line-header #{__('Date')}:
  span {{ ::email.date | date:'short' }}
