.modal
  .modal-dialog
    .modal-content
      ng-form(name='{{ ctrl.formName }}')
        legend.modal-header #{__('Register a new application')}
        .modal-body
          .application-add-form
            .application-form-details
              esn-form-group(form="{{ ctrl.formName }}", label="#{__('Application name')}")
                input.form-control(type='text', ng-model='client.name', name='name', autofocus=true, required)
            .application-form-details
              esn-form-group(form="{{ ctrl.formName }}", label="#{__('Redirect URI')}")
                input.form-control(type='text', ng-model='client.redirectUri', name='redirectUri', required)
            .application-form-details
              esn-form-group(form="{{ ctrl.formName }}", label="#{__('Application description')}")
                textarea.form-control(ng-model='client.description', name='description')
        .form-group.modal-footer
          button.btn.btn-primary(type='submit', ng-click='create(client); $hide(); resetFields();', ng-disabled='sending') #{__('Register your application')}
          button.btn.btn-default(ng-click='$hide(); resetFields();') #{__('Cancel')}
