.col-xs-12.well.form-container
  form(name='applicationsForm')
    legend #{__('Register a new application')}
    .form-group
      label #{__('Application name')}
      input.form-control(type='text', ng-model='client.name', name='name', placeholder="#{__('Application Name')}", autofocus=true, required)
      span.help-block #{__('Application name will help users to find and trust it')}.
    .form-group
      label #{__('Redirect URI')}
      input.form-control(type='url', ng-model='client.redirectUri', name='redirectUri', placeholder="#{__('Redirect URI')}", required)
      span.help-block #{__("The application's callback URL. Check OAuth documentation for more details")}.
    .form-group
      label #{__('Application description')}
      textarea.form-control(ng-model='client.description', name='description', placeholder="#{__('Application description')}")
      span.help-block #{__('Tell us what your application is about')}.
    .form-group
      button.btn.btn-warning(type='submit', ng-click='create(client)', ng-disabled='sending')
        | #{__('Register your application')}
