.modal
  .modal-dialog
    .modal-content
      form(name='applicationsForm')
        legend.modal-header #{__('Register a new application')}
        .modal-body
          .form-group
            label #{__('Application name')}
            input.form-control(type='text', ng-model='client.name', name='name', placeholder="#{__('Application Name')}", autofocus=true, required)
            span.help-block #{__('Application name will help users to find and trust it')}.
          .form-group
            label #{__('Redirect URI')}
            input.form-control(type='text', ng-model='client.redirectUri', name='redirectUri', placeholder="#{__('Redirect URI')}", required)
            span.help-block #{__("The application's callback URL. Check OAuth documentation for more details")}.
          .form-group
            label #{__('Application description')}
            textarea.form-control(ng-model='client.description', name='description', placeholder="#{__('Application description')}")
            span.help-block #{__('Tell us what your application is about')}.
        .form-group.modal-footer
          button.btn.btn-primary(type='submit', ng-click='create(client); $hide()', ng-disabled='sending')
            | #{__('Register your application')}
