sub-header
  inbox-identity-form-subheader(identity-id="{{ $ctrl.identityId }}", on-save="$ctrl.saveIdentity()", form="form")

.inbox-main-content.configuration.card.inbox-identity-form
  .card-body.card-padding
    form(name="form", esn-submit="$ctrl.saveIdentity()")
      esn-form-group(label="#{__('Description')}")
        input.form-control(required, auto-focus="!$ctrl.identity.isDefault", ng-model="$ctrl.identity.description", name="description", ng-disabled="$ctrl.identity.isDefault")
      esn-form-group(label="#{__('Name')}")
        input.form-control(ng-model="$ctrl.identity.name", name="name", ng-disabled="$ctrl.identity.isDefault")
      esn-form-group(label="#{__('Email')}")
        input.form-control(ng-model="$ctrl.identity.email", name="email", ng-disabled="$ctrl.identity.isDefault")
      esn-form-group(label="#{__('Reply to address')}")
        input.form-control(ng-model="$ctrl.identity.replyTo", name="replyTo", ng-disabled="$ctrl.identity.isDefault")
      .form-group.fg-float.full-width
        .fg-line
          textarea.form-control(auto-focus="$ctrl.identity.isDefault", auto-size-dynamic="true", ng-model="$ctrl.identity.textSignature", name="textSignature")
        label.fg-label #{__('Signature')}
