md-select.md-no-underline(
  ng-model="ctrl.selectedProvider",
  ng-model-options="{trackBy: '$value.id'}"
  ng-change="ctrl.onProviderSelected({provider: ctrl.selectedProvider})",
  aria-label=__('Search type'),
  title=__('Search type')
)
  md-option.option-all(ng-value="undefined") 
    | &nbsp;#{__('All')}
  md-option(ng-value="provider", ng-repeat="provider in ctrl.providers | orderBy:'displayName'")
    img.option-icon(ng-if="provider.icon", ng-src="{{ provider.icon }}")
    | {{ provider.displayName }}