extends /modules/subheader/responsive-subheader

block left
  .event-full-form-subheader
    .left-container.hidden-xs(ng-if='isOrganizer')
      .header-title(ng-if='isNew(editedEvent)') #{__('Create a new event')}
      .header-title(ng-if='!isNew(editedEvent)') #{__('Save event')}
    .left-container.hidden-md(ng-if='isOrganizer')
      .flex-vertical-centered.flex-space-between
        button.btn.btn-primary(type='button', ng-click="goToCalendar()")
          i.mdi.mdi-close
        button.btn.btn-primary(ng-if='!isNew(editedEvent)', type='button', ng-click="goToCalendar(deleteEvent)")
          i.mdi.mdi-delete
    .left-container(ng-if='!isOrganizer')
      .header-title
        | #{__('Consult')}
block right
  .event-full-form-subheader
    .right-container.hidden-xs
      .buttons(ng-if='isOrganizer')
        button.btn.btn-primary.pull-right(type='button', ng-disabled="restActive", ng-click='goToCalendar(submit);')
          span(ng-if='isNew(editedEvent)') #{__('Create')}
          span(ng-if='!isNew(editedEvent)') #{__('Save')}
        button.btn.btn-primary.pull-right(type='button', ng-disabled="restActive", ng-click='goToCalendar(deleteEvent);', ng-if="isInvolvedInATask(editedEvent) || !isNew(editedEvent)")
          | #{__('Delete')}
        button.btn.btn-default.pull-right(type='button', ng-click="goToCalendar()")
          | #{__('Cancel')}
      .buttons(ng-if='!isOrganizer')
        button.btn.btn-primary.pull-right(type='button', ng-disabled="restActive", ng-click='goToCalendar(submit);')
          | #{__('Modify')}
        button.btn.btn-default.pull-right(type='button', ng-click="goToCalendar()")
          | #{__('Back')}
    .right-container.hidden-md(ng-if='isOrganizer')
      button.btn.btn-primary(ng-if='isNew(editedEvent)', type='button', ng-disabled="restActive", ng-click='goToCalendar(submit)')
        | #{__('Create')}
        i.mdi.mdi-check
      button.btn.btn-primary(ng-if='!isNew(editedEvent)', type='button', ng-disabled="restActive", ng-click='goToCalendar(submit)')
        | #{__('Save')}
        i.mdi.mdi-check
    .right-container.hidden-md(ng-if='!isOrganizer')
      button.btn.btn-primary(type='button', ng-click="goToCalendar()")
        i.mdi.mdi-close
