.row
  .col-xs-12.no-padding-xs
    sub-header
      cal-event-full-form-subheader
    .nopadding.card.event-full-form.zoomIn(keep-scroll-position, ng-class="{ 'readonly': !canModifyEvent }")
      .card-body.card-padding
        form.form(role="form", aria-hidden="true", ng-class="{ 'readonly': !canModifyEvent }")
          .row
            .col-xs-12.col-sm-6
              .row
                .col-xs-12
                  .form-group
                    .fg-line
                      input.input.title.form-control(type="text", ng-model='editedEvent.title', ng-model-options="{getterSetter: true}", maxlength="{{::CAL_EVENT_FORM.title.maxlength}}", placeholder="#{__('Title')}", ng-readonly="!canModifyEvent")

              .row
                .col-xs-12
                  .form-group
                    .input-group
                      span.input-group-addon
                        i.mdi.mdi-calendar-multiple
                      .fg-line.select
                        select.form-control(ng-if="!isNew(editedEvent)", ng-disabled="!isNew(editedEvent) || !canModifyEvent", ng-model='calendar', ng-options='calendar as calendar.name for calendar in calendars | readonlyOrSubscriptionCalendars')
                        select.form-control(ng-if="isNew(editedEvent)", ng-model='calendar', ng-options='calendar as calendar.name for calendar in calendars | filter: { readOnly: false }')

              cal-event-date-edition(event="editedEvent", disabled="!canModifyEvent")

              .row
                .col-xs-12
                  .form-group
                    .input-group
                      span.input-group-addon
                        i.mdi.mdi-map-marker
                      .fg-line
                        input.input.location.form-control(type="text", ng-model='editedEvent.location', ng-model-options="{getterSetter: true}", maxlength="{{::CAL_EVENT_FORM.location.maxlength}}",placeholder="#{__('Location')}", ng-readonly="!canModifyEvent")

              .row.visible-xs
                cal-attendees-autocomplete-input(ng-hide='!canModifyEventAttendees', original-attendees='editedEvent.attendees', mutable-attendees='newAttendees')

              .row.visible-xs
                .form-group.status(ng-if='displayParticipationButton')
                  span.col-xs-12.col-md-6.text-center #{__('Will you attend?')}
                  .col-xs-12.col-md-6.text-center
                    .btn-group(role="group")
                      button.btn.btn-link.accepted(type='button', ng-click='changeParticipation("ACCEPTED")', ng-class='{ "active": userAsAttendee.partstat === "ACCEPTED" }') #{__('Yes')}
                      button.btn.btn-link.undecided(type='button', ng-click='changeParticipation("TENTATIVE")', ng-class='{ "active": userAsAttendee.partstat === "TENTATIVE" }') #{__('Maybe')}
                      button.btn.btn-link.declined(type='button', ng-click='changeParticipation("DECLINED")', ng-class='{ "active": userAsAttendee.partstat === "DECLINED" }') #{__('No')}

              .row.visible-xs
                .col-xs-12
                  cal-attendees-list-condensed(attendees='editedEvent.attendees', can-modify-attendees='::canModifyEventAttendees', organizer='::editedEvent.organizer')

              .row.visible-xs
                cal-mail-to-attendees(ng-if='displayCalMailToAttendeesButton()', event='editedEvent')

              event-recurrence-edition(event="editedEvent", can-modify-event-recurrence='canModifyEventRecurrence')
              cal-event-alarm-edition(event="editedEvent", can-modify-event= "canModifyEvent")

              .row
                .col-xs-12
                  .form-group
                    .input-group
                      span.input-group-addon
                        i.mdi.mdi-lock
                      .fg-line.select
                        select.form-control(ng-disabled="!canModifyEvent", ng-model='editedEvent.class', ng-options="class.value as class.label for class in CAL_EVENT_FORM.class.values")

            .col-xs-12.col-sm-6
              .row.hidden-xs
                cal-attendees-autocomplete-input(ng-hide='!canModifyEventAttendees', original-attendees='editedEvent.attendees', mutable-attendees='newAttendees')

              .row.hidden-xs
                .form-group.status(ng-if='displayParticipationButton')
                  span.col-xs-12.col-md-6.text-center #{__('Will you attend?')}
                  .col-xs-12.col-md-6.text-center.nopadding-left.nopadding-right
                    .btn-group(role="group")
                      button.btn.btn-link.accepted(type='button', ng-click='changeParticipation("ACCEPTED")', ng-class='{ "active": userAsAttendee.partstat === "ACCEPTED" }') #{__('Yes')}
                      button.btn.btn-link.undecided(type='button', ng-click='changeParticipation("TENTATIVE")', ng-class='{ "active": userAsAttendee.partstat === "TENTATIVE" }') #{__('Maybe')}
                      button.btn.btn-link.declined(type='button', ng-click='changeParticipation("DECLINED")', ng-class='{ "active": userAsAttendee.partstat === "DECLINED" }') #{__('No')}

              .row.hidden-xs
                cal-attendees-list-condensed(attendees='editedEvent.attendees', can-modify-attendees='::canModifyEventAttendees', organizer='::editedEvent.organizer')

              .row.hidden-xs
                cal-mail-to-attendees(ng-if='displayCalMailToAttendeesButton()', event='editedEvent')

          .row
            .col-xs-12
              .row
                .col-xs-12
                  .form-group
                    .input-group
                      span.input-group-addon.textarea-icon
                        i.mdi.mdi-calendar-text
                      .fg-line
                        textarea.form-control(cal-auto-size-and-update, type="text", ng-model='editedEvent.description', placeholder="#{__('Notes...')}", ng-readonly="!canModifyEvent")
