div.esn-email
  h4.media-heading
    a(href="#") {{message.author.firstname}} {{message.author.lastname}} #{__('has shared an email')}
    small
      | &nbsp;-&nbsp;
      a(href="/#messages/{{message._id}}")
        span(am-time-ago="message.published")
  table.table-hover.esn-email-heading
    tbody
      tr
        td #{__('From')}
        td(ng-bind-html='message.from | linky')
      tr
        td #{__('To')}
        td(ng-bind-html='message.to | linky')
      tr
        td #{__('Cc')}
        td(ng-bind-html='message.cc | linky')
      tr
        td #{__('Date')}
        td
          span {{message.published | amCalendar}}

  h4
    strong #{__('Subject')}: {{message.subject}}

  p.multilines.esn-email-body(data-ng-show='message.body.text') {{message.body.text}}
  p.multilines.esn-email-body(data-ng-show='message.body.html', ng-bind-html='message.body.html')
