div(ng-class="{'just-posted': message._id === lastPost.messageId, 'esn-panel': parentMessage, 'thread': parentMessage}")
  h3.media-heading
      a(href="/#messages/{{message._id}}/activitystreams/{{streamable.activity_stream.uuid}}") {{event.title}}
  a.pull-left.message-avatar(href='#')
    img.media-object(src='/images/user.png', ng-src='/api/users/{{message.author._id}}/profile/avatar')
  div
    a(href="#") {{message.author.firstname}} {{message.author.lastname}}
    include ./includes/dateLink
    activity-stream-origin(ng-if='parentMessage', streams='streams', message='message', activitystream='streamable')
    div.loading.text-center
      div.throbber(openpaas-logo-spinner, spinner-key='activityStreamSpinner', spinner-size='0.3', spinner-start-active)
      | #{__('Loading calendar event data, please wait...')}

    div.hidden.message
      div
        p.multilines {{event.description}}
      p
        div.event-details
          div.text-center
            strong.dates {{event.formattedDate}} #{__('from')} {{event.formattedStartTime}}&nbsp;
              sup {{event.formattedStartA}}
              |&nbsp; #{__('to')} {{event.formattedEndTime}}&nbsp;
              sup {{event.formattedEndA}}
            div.vertiz-space(style='color: #666' ng-show='event.location')
              u #{__('Location:')}
              | &nbsp;{{event.location}}
            div.vertiz-space.question
              strong #{__('Do you want to participate?')}
            div.vertiz-space.participateStatus
              button.btn.btn-link.participate(ng-click='changeParticipation("ACCEPTED")', ng-class='{ selected: partstat == "ACCEPTED" }') #{__('Yes')}
              button.btn.btn-link.participate(ng-click='changeParticipation("DECLINED")', ng-class='{ selected: partstat == "DECLINED" }') #{__('No')}
              button.btn.btn-link.participate(ng-click='changeParticipation("TENTATIVE")', ng-class='{ selected: partstat == "TENTATIVE" }') #{__('Maybe')}
          div.attendees
            div.statusrow(ng-if='event.attendees.ACCEPTED.length > 0') #{__('Going')}#{': '}
              span(ng-repeat='att in event.attendees.ACCEPTED track by att.mail')
                a(href='mailto:{{att.mail}}' title='{{att.fullmail}}') {{att.name}}
                span(ng-if='!$last') #{', '}
            div.statusrow(ng-if='event.attendees.DECLINED.length > 0') #{__('Not Going')}#{': '}
              span(ng-repeat='att in event.attendees.DECLINED track by att.mail')
                a(href='mailto:{{att.mail}}' title='{{att.fullmail}}') {{att.name}}
                span(ng-if='!$last') #{', '}

      include ./includes/messagesBottomLinks
      include ./includes/attachments.jade
      include ./includes/comments.jade
    div.error.hidden
      h4 #{__('Unable to get event details from server... sorry')}
