.poll-message-thread(data-ng-switch='parentMessage')
  .card.card-thread.esn-panel(data-ng-switch-when='true', data-tv-type="poll" ng-class="{'just-posted': message._id === lastPost.messageId}")
    .card-header
      .media
        a.pull-left(ui-sref="profile({user_id: message.author._id})")
          img.lv-img(src='/images/user.png', ng-src='/api/users/{{::message.author._id}}/profile/avatar', alt=__("Message Author"))
        .media-body.p-t-5
          i.mdi.mdi-email(ng-show='message.source === "email"', title='sent via email reply')
          a(ui-sref="profile({user_id: message.author._id})")
            h2 {{message.author.firstname}} {{message.author.lastname}}
          small
            message-date-link(message='message', activitystream='activitystream')
            .share
              message-actions-dropdown(message='message', activitystream='activitystream')
          activity-stream-origin(ng-if='parentMessage && !message.isOrigin', streams='message.streamOrigins')
          message-shared(message='message')
    .card-body.card-padding
      p.m-t-5.m-b-0
        i {{message.pollResults.length}} #{__('people have already voted')}.
      p.m-b-5
        text-parser(parsers='{{message.parsers}}', text='{{message.content}}')
      div
        display-position(position='message.position')
      div.container-fluid.poll-vote-form(ng-if='pollContext.hasVoted === false')
        form.horizontal-form
          .radio(ng-repeat='choice in message.pollChoices')
            label
              input(type='radio' name='{{::message._id}}' ng-model='pollContext.vote' value='{{$index}}')
              | {{choice.label}}
              i.input-helper
          button(type='submit', class='btn btn-primary vote-button' ng-click='recordVote()' ng-disabled='pollContext.vote === null') #{__('Vote')}
      table.table.table-condensed.table-responsive(ng-if='pollContext.hasVoted === true')
        thead
          tr
            th.col-md-7 #{__('Choice')}
            th.col-md-3
            th.col-md-2 #{__('Votes')}
        tbody
          tr(ng-repeat='result in pollContext.results')
            td.col-md-7 {{result.label}}
            td.col-md-3
              div.progress
                div.progress-bar(role="progressbar" aria-valuenow="{{result.ratio}}" aria-valuemin="0" aria-valuemax="100" style="width: {{result.ratio}}%; min-width:0.1em")
                  span(ng-if="result.ratio !== 0") {{result.ratio}}%
            td.col-md-2
              strong {{result.votes}}
      .row(ng-if='pollContext.hasVoted === true')
        .col-xs-12
          a.chart(href='', ng-click='toggleChartDisplay()')
            i.mdi.mdi-chart-pie
            span(ng-show='!showMeChart') #{__('Show results as chart')}
            span(ng-show='showMeChart') #{__('Hide chart')}
          canvas(ng-if='showMeChart' class="chart chart-doughnut", data="pollContext.chart" labels="pollContext.labels")

      .attachments(ng-if="message.attachments && message.attachments.length > 0")
        message-attachments(message='message')
      div(ng-show="message.content && message.length > 0")
        message-oembeds(message='message')
      ul.wall-attrs.clearfix.list-inline.list-unstyled
        li.wa-buttons
          span(ng-show='::writable')
            like-button(bounce='true', target-object-type='"esn.message"', target-id='message._id', liked='message.likes.me.liked', on-liked='onMessageLiked()', on-unliked='onMessageUnliked()', title=__('Like'))
          span(ng-show='::writable')
            button.comment-button.no-effect(set-focus="{{'textarea-' + message._id}}", title=__('Add a comment'))
              i.mdi.mdi-comment-outline
      ul.wall-attrs.clearfix.list-inline.list-unstyled.wall-stats
        li.wa-stats
          span
            | {{message.likes.total_count}} #{__('Like')}
          span(ng-if="message.responses.length > 1")
            | {{message.responses.length }} #{__('Comments')}
          span(ng-if="message.responses.length <= 1")
            | {{message.responses.length }} #{__('Comment')}
        li.wa-users
          a.wa-users(ui-sref="profile({user_id: response.author._id})", ng-repeat='response in message.responses | limitTo : 5')
            img.lv-img(src="images/user.png", ng-src='/api/users/{{::response.author._id}}/profile/avatar', alt=__("Response Author"))
    .message-comments-thread
      message-comments