div.whats-up-message-thread(data-ng-switch='parentMessage')
  .card.card-thread.esn-panel(data-ng-switch-when='true', data-tv-type="text" ng-class="{ 'just-posted': message._id === lastPost.messageId}")
    .card-header
      .media
        a.pull-left(ui-sref="profile({user_id: message.author._id})")
          img.lv-img(src='/images/user.png', ng-src='/api/users/{{::message.author._id}}/profile/avatar', alt=__("Message Author"))
        .media-body
          i.mdi.mdi-email(ng-show='message.source === "email"', title='sent via email reply')
          a(ui-sref="profile({user_id: message.author._id})")
            h2 {{message.author.firstname}} {{message.author.lastname}}
          small
            message-date-link(message='message', activitystream='activitystream')
          .share
            message-actions-dropdown(message='message', activitystream='activitystream')
    .card-body.card-padding
      p.m-b-5.white-space-pre-line
        text-parser(parsers='{{message.parsers}}', text='{{message.content}}')
      div(ng-if="message.position")
        display-position(position='message.position')
      div(ng-if="message.attachments && message.attachments.length > 0", ng-repeat='attachment in message.attachments')
        esn-attachment(attachment="attachment", gallery="message._id")
      div
        message-oembeds(message='message')
      ul.wall-attrs.clearfix.list-inline.list-unstyled
        li.wa-buttons
          span(ng-show='::writable')
            like-button(bounce='true', target-object-type='"esn.message"', target-id='message._id', liked='message.likes.me.liked', on-liked='onMessageLiked()', on-unliked='onMessageUnliked()', title=__('Like'))
          span(ng-show='::writable')
            button.comment-button.no-effect(set-focus="{{'textarea-' + message._id}}", title=__('Add a comment'))
              i.mdi.mdi-comment-outline
      ul.wall-attrs.clearfix.list-inline.list-unstyled.wall-stats
        li.wa-stats
          span
            | {{message.likes.total_count}} #{__('Like')}
          span(ng-if="message.responses.length > 1")
            | {{message.responses.length }} #{__('Comments')}
          span(ng-if="message.responses.length <= 1")
            | {{message.responses.length }} #{__('Comment')}
        li.wa-users
          a(ui-sref="profile({user_id: response.author._id})", ng-repeat='response in message.responses | limitTo : 5')
            img.lv-img(src="images/user.png", ng-src='/api/users/{{::response.author._id}}/profile/avatar', alt=__("Response Author"))
    .message-comments-thread
      message-comments
  .message-comment-list(data-ng-switch-when='false', data-tv-type="text" ng-class="{ 'just-posted': message._id === lastPost.messageId}")
    .message-comment
      .message-comment-avatar
        a.pull-left(ui-sref="profile({user_id: message.author._id})")
          img.lv-img-sm(src='/images/user.png', ng-src='/api/users/{{::message.author._id}}/profile/avatar', alt=__("Message Author"))
      .message-comment-body
        .message-comment-header
          .message-comment-info
            i.mdi.mdi-email(ng-show='message.source === "email"', title='sent via email reply')
            a(ui-sref="profile({user_id: message.author._id})")
              strong {{message.author.firstname}} {{message.author.lastname}}
            small.c-gray.m-l-10
              message-date-link(message='message', activitystream='activitystream')
          .message-comment-actions
            message-bottom-links
            message-actions-dropdown(ng-show='::writable', message='message', activitystream='activitystream', parent="parent")
        .message-comment-content
          p.m-b-5.white-space-pre-line
            text-parser(parsers='{{message.parsers}}', text='{{message.content}}')
          display-position(ng-if="message.position", position='message.position')
          message-oembeds.attachment(message='message')
          div(ng-if="message.attachments && message.attachments.length > 0", ng-repeat='attachment in message.attachments')
            esn-attachment(attachment="attachment", gallery="message._id")
