a(
  href='',
  esn-modal-launcher='/contact/app/addressbook/addressbook-shared-configuration/addressbook-shared-configuration-dialog',
  controller='contactAddressbookSharedConfigurationController',
  controller-as='$ctrl',
  backdrop='static'
)
  | #{__('Shared address book')}
