//- NOTE: When adding form controls that should change the event in this form,
//-       be sure to add them to the EVENT_MODIFY_COMPARE_KEYS constant, to
//-       make sure they are checked during modification.
form.event-quick-form(role="form", aria-hidden="true", ng-class="{ 'readonly': !isOrganizer }", ng-submit='submit()')
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title
          .col-xs-12
            .form-group
              input.input-lg.title.form-control(type="text", ng-model='editedEvent.title', maxlength="{{::EVENT_FORM.title.maxlength}}", placeholder="#{__('Title')}", ng-readonly="!isOrganizer")
      .modal-body
        .col-xs-3.col-sm-2
          .form-group
            .fg-line
              i.mdi.mdi-calendar
        .col-xs-9.col-sm-3
          .form-group
            .fg-line
              input.input-lg.form-control(type="text", size="10", ng-model="editedEvent.start", data-autoclose="1", data-min-date="today", data-start-week="1", data-date-format="yyyy/MM/dd", placeholder="#{__('Start date')}", ng-change="onStartDateChange()", bs-datepicker, aria-expanded="false", ng-disabled="!isOrganizer", date-to-moment)
            .fg-line(ng-if='!editedEvent.allDay')
              input.input-lg.form-control(type="text", size="10", ng-model="editedEvent.start", data-autoclose="1", placeholder="#{__('Time')}", ng-change="onStartDateChange()", bs-timepicker, aria-expanded="false", ng-disabled="!isOrganizer", date-to-moment)
        .col-xs-3.col-sm-2
          .form-group
            .fg-line
              i.mdi.mdi-check
        .col-xs-9.col-sm-3
          .form-group
            .fg-line
              input.input-lg.form-control(type="text", size="10", class="form-control", ng-model="editedEvent.end", data-autoclose="1", data-min-date="{{getMinDate()}}", data-start-week="1", data-date-format="yyyy/MM/dd", placeholder="#{__('End date')}", ng-change="onEndDateChange()", aria-expanded="false", ng-disabled="!isOrganizer", bs-datepicker, date-to-moment, friendlify-end-date)
            .fg-line(ng-if='!editedEvent.allDay')
              input.input-lg(type="text", size="10", class="form-control", ng-model="editedEvent.end", data-autoclose="1", data-min-time="{{getMinTime()}}", placeholder="#{__('Time')}", ng-change="onEndDateChange()", aria-expanded="false", ng-disabled="!isOrganizer", bs-timepicker, date-to-moment)
        .col-xs-12.col-sm-2
          .form-group
            .fg-line
              .checkbox
                label
                  input(type="checkbox", ng-model='editedEvent.allDay', ng-disabled="!isOrganizer")
                  i.input-helper #{__('All day')}
        .col-xs-12
          .form-group(ng-show="isOrganizer || editedEvent.location")
            .input-group
              span.input-group-addon
                i.mdi.mdi-map-marker
              .fg-line
                input.input-lg.form-control(type="text", ng-model='editedEvent.location', placeholder="#{__('Location')}", ng-readonly="!isOrganizer")
        .col-xs-12
          .form-group.status(ng-show="hasAttendees")
            span.col-xs-12.col-sm-6 #{__('Will you attend?')}
            button.btn.btn-default.col-xs-4.col-sm-2.accepted(type='button', ng-click='changeParticipation("ACCEPTED")', ng-class='{ "active": invitedAttendee.partstat == "ACCEPTED" }') #{__('Yes')}
            button.btn.btn-default.col-xs-4.col-sm-2.undecided(type='button', ng-click='changeParticipation("TENTATIVE")', ng-class='{ "active": invitedAttendee.partstat == "TENTATIVE" }') #{__('Maybe')}
            button.btn.btn-default.col-xs-4.col-sm-2.declined(type='button', ng-click='changeParticipation("DECLINED")', ng-class='{ "active": !invitedAttendee || invitedAttendee.partstat == "DECLINED" }') #{__('No')}
        .col-xs-12
          hr
        .col-xs-12
          .form-group(ng-show='isOrganizer || isNew(editedEvent)')
            .input-group
              span.input-group-addon
                i.mdi.mdi-account-multiple-plus
              .fg-line
                tags-input(ng-model='newAttendees', display-property='displayName', key-property='email', placeholder='#{__("Attendees")}', on-tag-adding='onAddingAttendee($tag)', replace-spaces-with-dashes='false')
                  auto-complete(source='getInvitableAttendees($query)', min-length='1', debounce-delay='200', template="/views/modules/auto-complete/user-auto-complete")
        .attendees-list.picture-list
          .col-xs-12
            div(ng-if='attendeesPerPartstat.ACCEPTED > 0')
              .fg-line.accepted #{__('Accepted')}
              .fg-line.pl-body(ng-if='attendeesPerPartstat.ACCEPTED > 0')
                .col-xs-2.col-sm-1(ng-repeat="attendee in editedEvent.attendees | partstat:'ACCEPTED' track by attendee.email")
                  attendee-list-item(attendee='attendee', read-only='::!isOrganizer', ng-click= "selectAttendee(attendee)")
            div(ng-if='attendeesPerPartstat.DECLINED > 0')
              .fg-line.declined #{__('Declined')}
              .fg-line.pl-body(ng-if='attendeesPerPartstat.DECLINED > 0')
                .col-xs-2.col-sm-1(ng-repeat="attendee in editedEvent.attendees | partstat:'DECLINED' track by attendee.email")
                  attendee-list-item(attendee='attendee', read-only='::!isOrganizer', ng-click= "selectAttendee(attendee)")
            div(ng-if='attendeesPerPartstat["NEEDS-ACTION"] > 0 || attendeesPerPartstat["TENTATIVE"] > 0')
              .fg-line.undecided #{__('Undecided')}
              .fg-line.pl-body(ng-if='attendeesPerPartstat["NEEDS-ACTION"] > 0 || attendeesPerPartstat["TENTATIVE"] > 0')
                .col-xs-2.col-sm-1(ng-repeat="attendee in editedEvent.attendees | partstat:'NEEDS-ACTION' track by attendee.email")
                  attendee-list-item(attendee='attendee', read-only='::!isOrganizer', ng-click= "selectAttendee(attendee)")
                .col-xs-2.col-sm-1(ng-repeat="attendee in editedEvent.attendees | partstat:'TENTATIVE' track by attendee.email")
                  attendee-list-item(attendee='attendee', read-only='::!isOrganizer', ng-click= "selectAttendee(attendee)")
            .trash
              a(href="")
                i.mdi.mdi-delete(ng-show='isOrganizer && attendeeClickedCount > 0', ng-click='deleteSelectedAttendees()')
      .modal-footer
        .col-xs-12
          hr
        .col-xs-12
          .form-group
            .fg-line
              .col-xs-3
                button.btn.btn-default.save(type='submit', ng-disabled="restActive")
                  span.hidden-xs #{__('Save')}
                  i.mdi.mdi-check.visible-xs
              .col-xs-3
                button.btn.btn-default(type='button', ng-disabled="true")
                  span.hidden-xs #{__('More options')}
                  i.mdi.mdi-dots-horizontal.visible-xs
              .col-xs-3
                button.btn.btn-default.delete(type='button', ng-click="deleteEvent()", ng-if="isOrganizer && !isNew(editedEvent)", ng-disabled="restActive")
                  span.hidden-xs #{__('Delete')}
                  i.mdi.mdi-delete.visible-xs
              .col-xs-3
                button.btn.btn-default(type='button', ng-click="closeModal()")
                  span.hidden-xs #{__('Cancel')}
                  i.mdi.mdi-close.visible-xs
