form.event-quick-form.form-container(role='form')
  span.event-create-error-message
  .form-group
    input.title.event-input.form-control(type="text", ng-model='editedEvent.title', maxlength="{{::EVENT_FORM.title.maxlength}}", placeholder="#{__('No title')}")
  .form-group.form-inline
    .row
      .col-xs-4.nopadding
        .input-group
          span.input-group-addon
            i.fa.fa-calendar.fa-2x.fa-fw
          input(type="text", size="10", class="form-control", ng-model="editedEvent.start", data-autoclose="1", data-min-date="today", data-start-week="1", data-date-format="yyyy/MM/dd", placeholder="#{__('Start date')}", ng-change="onStartDateChange()", bs-datepicker, date-to-moment)
        .input-group.margin-bottom-sm(ng-hide='editedEvent.allDay')
          span.input-group-addon
            i.fa.fa-clock-o.fa-2x.fa-fw
          input(type="text", size="10", class="form-control", ng-model="editedEvent.start", data-autoclose="1", placeholder="#{__('Time')}", ng-change="onStartDateChange()", bs-timepicker, date-to-moment)
      .col-xs-2.nopadding
        h3.text-center #{__('To')}
      .col-xs-4.nopadding
        .input-group
          span.input-group-addon
            i.fa.fa-calendar.fa-2x.fa-fw
          input(type="text", size="10", class="form-control", ng-model="editedEvent.end", data-autoclose="1", data-min-date="{{getMinDate()}}", data-start-week="1", data-date-format="yyyy/MM/dd", placeholder="#{__('End date')}", ng-change="onEndDateChange()", bs-datepicker, date-to-moment, friendlify-end-date)
        .input-group.margin-bottom-sm(ng-hide='editedEvent.allDay')
          span.input-group-addon
            i.fa.fa-clock-o.fa-2x.fa-fw
          input(type="text", size="10", class="form-control", ng-model="editedEvent.end", data-autoclose="1", data-min-time="{{getMinTime()}}", placeholder="#{__('Time')}", ng-change="onEndDateChange()", bs-timepicker, date-to-moment)
      .col-xs-2.allday
        .checkbox
          label
            input(type="checkbox", ng-model='editedEvent.allDay' , style='margin-left:10px; margin-right:10px')
            | #{__('All day')}
  .form-group
    .input-group
      span.input-group-addon
        i.fa.fa-location-arrow.fa-2x.fa-fw
      input.event-input.form-control(type="text", ng-model='editedEvent.location', placeholder="#{__('Location')}")
  .form-group
    .input-group
      span.input-group-addon
        i.fa.fa-users.fa-2x.fa-fw
      tags-input(ng-model='editedEvent.attendees', display-property='displayName', key-property='email', placeholder='#{__("Attendees")}', on-tag-adding='onAddingAttendee($tag)', replace-spaces-with-dashes='false')
        auto-complete(source='getInvitableAttendees($query)', min-length='1', debounce-delay='200', template="/views/modules/auto-complete/user-auto-complete")
  .form-group.nopadding
    .text-center
      button.btn.btn-default.submit-button.pull-left(type='submit', ng-click='addNewEvent()', ng-if="isNew(editedEvent)", ng-disabled="restActive")
        span.hidden-xs #{__('Create')}
        i.fa.fa-check.fa-2x.visible-xs
      button.btn.btn-default.submit-button.pull-left(type='submit', ng-click="modifyEvent()", ng-if="!isNew(editedEvent)", ng-disabled="restActive")
        span.hidden-xs #{__('Modify')}
        i.fa.fa-check.fa-2x.visible-xs
      button.btn.btn-default.submit-button(type='button', ng-if="isNew(editedEvent)", ng-disabled="true")
        span.hidden-xs #{__('More options')}
        i.fa.fa-bars.fa-2x.visible-xs
      button.btn.btn-default.submit-button(type='button', ng-click="deleteEvent()", ng-if="!isNew(editedEvent)", ng-disabled="restActive")
        span.hidden-xs #{__('Delete')}
        i.fa.fa-trash-o.fa-2x.visible-xs
      button.btn.btn-default.submit-button.pull-right(type='button', ng-click="closeModal()")
        span.hidden-xs #{__('Cancel')}
        i.fa.fa-close.fa-2x.visible-xs
