form.whatsup-form.form-container(role='form')
  span.event-create-error-message
  .form-group
    input.event-input.form-control(type="text", ng-model='editedEvent.title', placeholder="#{__('Event Title')}")
  .form-group
    .input-group
      span.input-group-addon
        i.fa.fa-compass.fa-fw
      input.event-input.form-control(type="text", ng-model='editedEvent.location', placeholder="#{__('Event Location')}")
  .form-group.form-inline
    .row
      .col-xs-5.nopadding
        .input-group
          span.input-group-addon
            i.fa.fa-calendar.fa-fw
          input(type="text", size="10", class="form-control", ng-model="editedEvent.startDate", data-autoclose="1", data-min-date="today", data-start-week="1", data-date-format="yyyy/MM/dd", placeholder="#{__('Start date')}", ng-change="onStartDateChange()", bs-datepicker)
        .input-group.margin-bottom-sm(ng-hide='editedEvent.allDay')
          span.input-group-addon
            i.fa.fa-clock-o.fa-fw
          input(type="text", size="10", class="form-control", ng-model="editedEvent.startDate", data-autoclose="1", placeholder="#{__('Time')}", ng-change="onStartTimeChange()", bs-timepicker)
        span.help-block #{__('Start of Event')}
      .col-xs-5.nopadding
        .input-group
          span.input-group-addon
            i.fa.fa-calendar.fa-fw
          input(type="text", size="10", class="form-control", ng-model="editedEvent.endDate", data-autoclose="1", data-min-date="{{getMinDate()}}", data-start-week="1", data-date-format="yyyy/MM/dd", placeholder="#{__('End date')}", bs-datepicker)
        .input-group.margin-bottom-sm(ng-hide='editedEvent.allDay')
          span.input-group-addon
            i.fa.fa-clock-o.fa-fw
          input(type="text", size="10", class="form-control", ng-model="editedEvent.endDate", data-autoclose="1", placeholder="#{__('Time')}", ng-change="onEndTimeChange()", bs-timepicker)
        span.help-block #{__('End of Event')}
      .col-xs-2.nopadding
        .checkbox
          label
            input(type="checkbox", ng-model='editedEvent.allDay' , style='margin-left:10px; margin-right:10px', ng-change="onAllDayChecked()")
            | #{__('All day')}
  .form-group
    tags-input(ng-model='editedEvent.attendees', display-property='displayName', key-property='email', placeholder='#{__("Attendees")}', on-tag-added='resetView()', replace-spaces-with-dashes='false')
      auto-complete(source='getInvitableAttendees($query)', min-length='1', debounce-delay='200', template="/views/modules/auto-complete/user-auto-complete")
  .form-group
    textarea.event-input.form-control(ng-model='editedEvent.description', ng-focus='expand()', ng-blur='shrink()', placeholder="#{__('Give an event description')}", rows="{{rows}}")
  .form-group
    .text-left
      button.btn.btn-primary.submit-button(type='button', ng-click='addNewEvent()', ng-hide="modifyEventAction", ng-disabled="restActive") #{__('Create')}
      button.btn.btn-default.submit-button(type='button', ng-click="modifyEvent()", ng-hide="!modifyEventAction", ng-disabled="restActive") #{__('Modify')}
      button.btn.btn-default.submit-button(type='button', ng-click="deleteEvent()", ng-hide="!modifyEventAction", ng-disabled="restActive") #{__('Delete')}
      button.btn.btn-default.submit-button(type='button', ng-click="closeModal()") #{__('Cancel')}
