form.event-quick-form(role="form", aria-hidden="true", ng-class="{ 'readonly': !isOrganizer }")
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title
          .col-sm-12
            .form-group
              input.input-lg.title.form-control(type="text", ng-model='editedEvent.title', maxlength="{{::EVENT_FORM.title.maxlength}}", placeholder="#{__('Title')}", ng-readonly="!isOrganizer")
      .modal-body
        .col-sm-2
          .form-group
            .fg-line
              i.mdi.mdi-calendar
        .col-sm-3
          .form-group
            .fg-line
              input.input-lg.form-control(type="text", size="10", class="form-control", ng-model="editedEvent.start", data-autoclose="1", data-min-date="today", data-start-week="1", data-date-format="yyyy/MM/dd", placeholder="#{__('Start date')}", ng-change="onStartDateChange()", data-dt-picker, aria-expanded="false", data-toggle="dropdown", ng-disabled="!isOrganizer")
            .fg-line(ng-if='!editedEvent.allDay')
              input.input-lg.form-control(type="text", size="10", class="form-control", ng-model="editedEvent.start", data-autoclose="1", placeholder="#{__('Time')}", ng-change="onStartDateChange()", data-format="LT", data-dt-picker, aria-expanded="false", data-toggle="dropdown", ng-disabled="!isOrganizer")
        .col-sm-2
          .form-group
            .fg-line
              i.mdi.mdi-check
        .col-sm-3
          .form-group
            .fg-line
              input.input-lg.form-control(type="text", size="10", class="form-control", ng-model="editedEvent.end", data-autoclose="1", data-min-date="{{getMinDate()}}", data-start-week="1", data-date-format="yyyy/MM/dd", placeholder="#{__('End date')}", ng-change="onEndDateChange()", data-dt-picker, aria-expanded="false", data-toggle="dropdown", ng-disabled="!isOrganizer")
            .fg-line(ng-if='!editedEvent.allDay')
              input.input-lg(type="text", size="10", class="form-control", ng-model="editedEvent.end", data-autoclose="1", data-min-time="{{getMinTime()}}", placeholder="#{__('Time')}", ng-change="onEndDateChange()", data-format="LT", data-dt-picker, aria-expanded="false", data-toggle="dropdown", ng-disabled="!isOrganizer")
        .col-sm-2
          .form-group
            .fg-line
              .checkbox
                label
                  input(type="checkbox", ng-model='editedEvent.allDay', ng-disabled="!isOrganizer")
                  i.input-helper #{__('All day')}
        .col-sm-12
          .form-group(ng-show="isOrganizer || editedEvent.location")
            .input-group
              span.input-group-addon
                i.mdi.mdi-map-marker
              .fg-line
                input.input-lg.form-control(type="text", ng-model='editedEvent.location', placeholder="#{__('Location')}", ng-readonly="!isOrganizer")
        .col-sm-12
          // ng-show="hasAttendees"
          .form-group.status(ng-show="true")
            span.col-xs-6 #{__('Will you attend?')}
            button.btn.btn-default.col-xs-2.accepted(ng-click='changeParticipation("ACCEPTED")', ng-class='{ "active": invitedAttendee.partstat == "ACCEPTED" }') #{__('Yes')}
            button.btn.btn-default.col-xs-2.undecided(ng-click='changeParticipation("TENTATIVE")', ng-class='{ "active": invitedAttendee.partstat == "TENTATIVE" }') #{__('Maybe')}
            button.btn.btn-default.col-xs-2.declined(ng-click='changeParticipation("DECLINED")', ng-class='{ "active": !invitedAttendee || invitedAttendee.partstat == "DECLINED" }') #{__('No')}
        .col-sm-12
          hr
        .col-sm-12
          .form-group(ng-show='isOrganizer || isNew(editedEvent)')
            .input-group
              span.input-group-addon
                i.mdi.mdi-users
              .fg-line
                tags-input(ng-model='newAttendees', display-property='displayName', key-property='email', placeholder='#{__("Attendees")}', on-tag-adding='onAddingAttendee($tag)', replace-spaces-with-dashes='false')
                  auto-complete(source='getInvitableAttendees($query)', min-length='1', debounce-delay='200', template="/views/modules/auto-complete/user-auto-complete")

      .modal-footer
        .col-sm-12
          .form-group
            .fg-line
              .col-sm-3
                button.btn.btn-default(type='submit', ng-click='addNewEvent()', ng-if="isNew(editedEvent)", ng-disabled="restActive")
                  span.hidden-xs #{__('Save')}
                  i.mdi.mdi-check.visible-xs
              .col-sm-3
                button.btn.btn-default(type='button', ng-if="isNew(editedEvent)", ng-disabled="true")
                  span.hidden-xs #{__('More options')}
              .col-sm-3
                button.btn.btn-default(type='button', ng-click="deleteEvent()", ng-if="isOrganizer && !isNew(editedEvent)", ng-disabled="restActive")
                  span.hidden-xs #{__('Delete')}
                  i.mdi.mdi-trash-o.visible-xs
              .col-sm-3
                button.btn.btn-default(type='button', ng-click="closeModal()")
                  span.hidden-xs #{__('Cancel')}
                  i.mdi.mdi-close.visible-xs
