div.whatsup-form.form-container(ng-controller='messageController', nv-file-drop="" uploader="uploader")
    form(name='organizationalMessageForm')
        .form-group(ng-controller='currentCollaborationObjectType')
            tags-input(ng-model='additionalData.recipients', placeholder="#{__('To the internal users and')}", min-tags='1', add-from-autocomplete-only='true',
                display-property='id', on-tag-added='validate()', on-tag-removed='validate()', replace-spaces-with-dashes='false', organizational-recipients)
                auto-complete(source='getCompanies($query)', min-length='1', debounce-delay='200')
        .form-group
            input.form-control(type='text', ng-model='additionalData.title', name='title', placeholder="#{__('Title')}", validate-organizational-title)
        .form-group(ng-class='{nopadding: rows !== 5}')
            textarea.whatsup-input.form-control(ng-model='messageContent', ng-focus='expand()', ng-blur='shrink()', rows="{{rows}}",
            placeholder="#{__('Message')}", ng-file-drop="onFileSelect($files)")
        .form-group
            map-get-display-current-position
        .form-group(ng-show='attachments && attachments.length > 0')
            message-edition-attachments

        .form-group(ng-class='{nopadding: rows !== 5}', ng-hide='rows !== 5')
            .text-left
                button.btn.btn-primary(type='submit', ng-click='sendMessage()') #{__('Publish')}
                &nbsp;
                button.btn.btn-default(ng-click='resetMessage()') #{__('Cancel')}
                &nbsp;
                button.btn.btn-link(type='file', ng-file-select='onFileSelect($files)', data-multiple='true')
                    i.fa.fa-paperclip
                &nbsp;
                a(href='', fill-position)
                    i.fa.fa-map-marker
