div.inner-widget.form-container(ng-controller='messageCommentController' organizational-comment)
    div.media-body
        #commenterror
        form(name='whatsupcommentform')
            .form-group(ng-class='{nopadding: rows !== 4}')
                label(ng-show='isInternal') #{__('Publish a message to')} : {{publishTo}}
                    span(ng-show='!publishTarget') #{__('everyone')}
                    span(ng-show='publishTarget') {{publishTarget}}
                textarea.whatsupcomment-input.form-control(ng-model='commentContent', ng-focus='expand()', ng-blur='shrink()',
                placeholder="#{__('Add a comment')}", rows="{{rows}}", ng-file-drop="onFileSelect($files)")
            .form-group
                map-get-display-current-position
            .form-group(ng-show='attachments && attachments.length > 0')
                message-edition-attachments
            .form-group.text-right(ng-hide='rows !== 4', ng-class='{nopadding: rows !== 4}')
                button.btn.btn-link(type='file', ng-file-select='onFileSelect($files)', data-multiple='true')
                    i.fa.fa-paperclip
                &nbsp;
                a(href='', ng-disabled='sending', fill-position)
                    i.fa.fa-map-marker
                &nbsp;
                button.btn.btn-primary(type='submit', ng-click='addComment(message)', ng-disabled='sending', ng-show='!isInternalUser') #{__('Comment')}
                .btn-group.dropup(ng-show='isInternalUser')
                  button.btn.btn-primary(type='submit', ng-click='addComment(message)', ng-disabled='sending') #{__('Comment')}
                  button.btn.btn-primary.dropdown-toggle(ng-disabled='sending' data-toggle="dropdown")
                    span.caret
                  ul.dropdown-menu(role="menu")
                    li
                      a(href='', ng-click='addPrivateComment(message)') #{__('Private Comment')}
                &nbsp;
                button.btn.btn-default(type='reset', ng-click='resetComment()', ng-disabled='sending') #{__('Cancel')}
