.row.event-recurrence-edition
  .col-xs-12
    .form-group
      .input-group
        span.input-group-addon
          i.mdi.mdi-repeat
        .fg-line.select
          select.form-control(
            ng-model="vm.freq",
            ng-options="item.value as (item.label | esnI18n) for item in vm.CAL_RECUR_FREQ",
            ng-change="vm.setRRULE()",
            ng-disabled="!vm.canModifyEventRecurrence")
    .form-group.event-recurrence-flex-container(ng-show="vm.freq")
      .interval
        span.col-xs-3 #{__('Interval')}:
        .col-xs-9
          .fg-line.recurrence-interval-input
            input.input-sm.form-control(type="number", min="1", max="999", ng-model="vm.event.rrule.interval", ng-disabled="!vm.canModifyEventRecurrence")
          div(ng-switch="vm.event.rrule.freq")
            span(ng-switch-default) #{__('days')}
            span(ng-switch-when="WEEKLY") #{__('weeks')}
            span(ng-switch-when="MONTHLY") #{__('months')}
            span(ng-switch-when="YEARLY") #{__('years')}
      .on-days(ng-if="vm.event.rrule.freq === 'WEEKLY'")
        span.col-xs-3 #{__('On days')}:
        div.col-xs-9.labels
          label.checkbox.checkbox-inline(ng-repeat="day in vm.CAL_WEEK_DAYS")
            input.force-position-initial.form-control(ng-click="vm.toggleWeekdays(day)", type="checkbox", ng-disabled="!vm.canModifyEventRecurrence")
            i.input-helper
              span.force-absolute-center {{day}}
      .end
        span.col-xs-3 #{__('End')}:
        div.radios.col-xs-9
            label.radio.radio-inline
              input.force-position-initial.form-control(type="radio", name="inlineRadioEndOptions", ng-click="vm.resetUntil(); vm.resetCount();", checked, ng-disabled="!vm.canModifyEventRecurrence")
              i.input-helper
               span.force-absolute-center #{__('Never')}
            label.radio.radio-inline
              input.force-position-initial.form-control(type="radio", name="inlineRadioEndOptions", ng-click="vm.resetUntil();", ng-checked="vm.event.rrule.count", ng-disabled="!vm.canModifyEventRecurrence")
              i.input-helper
              .input-group.force-absolute-center
                span.input-group-addon #{__('After')}
                .fg-line
                  input.input-sm.form-control(type="number", min="1", max="{{vm.CAL_MAX_RRULE_COUNT}}", ng-model="vm.event.rrule.count", ng-focus="selectEndRadioButton(1)", ng-disabled="!vm.canModifyEventRecurrence")
                span.input-group-addon.last #{__('occurrences')}
            label.radio.radio-inline
              input.force-position-initial.form-control(type="radio", name="inlineRadioEndOptions", ng-click="vm.resetCount();", ng-checked="vm.event.rrule.until", ng-disabled="!vm.canModifyEventRecurrence")
              i.input-helper
              .input-group.force-absolute-center
                span.input-group-addon #{__('At')}
                .fg-line
                  input.input-sm.form-control(type="text", ng-model="vm.event.rrule.until", ng-focus="selectEndRadioButton(2)", data-autoclose="1", data-min-date="today", data-start-week="1", data-date-format="yyyy/MM/dd", bs-datepicker, ng-disabled="!vm.canModifyEventRecurrence")
