pre {{ email.textBody }}
br
br
br

p {{ marker }}
cite
  | ------- #{__('Forwarded message')} -------
  br
  | #{__('Subject')}: {{ email.quoted.subject }}
  br
  | #{__('Date')}: {{ email.quoted.date | date:dateFormat:tz }}
  br
  | #{__('From')}: {{ email.quoted.from.email }}
  br
  | {{ email.quoted.to | emailerList:'#{__('To')}: '}}
  br
  | {{ email.quoted.cc | emailerList:'#{__('CC')}: '}}
br
br

blockquote {{ email.quoted.textBody | inboxQuote }}
