.calendar-shared-consultation.card
  sub-header
    calendar-external-consultation-header
  .block-header.hidden-xs
    h2 #{__('Consult shared calendar')}
  .calendar-shared-consultation-body
    .calendar-name
      .row
        .col-xs-3
          div #{__('Name')}
        .col-xs-9
          div {{ $ctrl.sharedCalendar.name }}
    .calendar-color
      .row
        .col-xs-3
          div #{__('Color')}
        .col-xs-9
          .color-picker-container
            i.color-picker-value(ng-style="{'background-color': $ctrl.sharedCalendar.color}")
    .calendar-author
      .row
        .col-xs-3
          div #{__('Owner')}
        .col-xs-9
          div {{ $ctrl.sharedCalendarOwner.firstname + ' ' + $ctrl.sharedCalendarOwner.lastname }}
     hr
    .delegation-title #{__('Your right on this calendar')}
    .delegation-line
      .col-xs-2
        a.attendee-avatar(href="", ng-attr-title="$ctrl.user.displayName")
          img(src="/images/user.png", fallback-src="/images/user.png", ng-src="/api/avatars?email={{ $ctrl.user.preferredEmail | urlencode }}")
      .col-xs-7.col-md-4.name
        div {{ $ctrl.user.firstname + ' ' + $ctrl.user.lastname }}
      .col-xs-4.col-md-2(ng-if="$ctrl.userRightLabel")
        div {{ $ctrl.userRightLabel }}