.inbox-thread-list-item.swipe(inbox-swipeable-list-item, swipe-right="onSwipeRight", swipe-left="onSwipeLeft", left-template="{{ leftTemplate }}", ng-class="{ selected: item.selected }")
  .inbox-list-item-content.clickable(
      ng-click="esnIsDragging || ctrl.openThread(item)",
      esn-draggable,
      inbox-draggable-list-item,
      esn-drag-message="getDragMessage($dragData)",
      esn-drag-data="getDragData()",
      esn-drag-class="dragging",
      ng-class="{ dragging: esnIsDragging && item.selected }"
    )
    .inbox-item-with-icon
      .list-image.badge-container(ng-click="ctrl.select(item, $event)", desktop-hover="hovering = hover && !esnIsDragging")
        inbox-emailer-avatar(ng-hide="hovering || item.selected", emailer='item.lastEmail.from')
        label.checkbox.clickable(ng-hide="!hovering && !item.selected")
          input(type='checkbox', ng-model="item.selected")
          i.input-helper
      .media-body
        .inbox-list-item-subject-and-from
          .inbox-subject.lv-title
            span.badge-number(ng-if="item.messageIds.length > 1", ng-class="{bold: item.isUnread}") ({{ item.messageIds.length }})
            span.inbox-subject-inline(ng-class="{bold: item.isUnread}") {{ item.lastEmail.subject }}
            span.inbox-preview-inline.inbox-preview-divider(ng-if='item.lastEmail.subject') -
            .inbox-preview-inline.lv-small.preview(ng-if="item.lastEmail.preview") {{ item.lastEmail.preview }}
          inbox-emailer.inbox-from.lv-title(emailer="item.lastEmail.from", ng-class="{bold: item.isUnread}")
        .inbox-list-item-date-and-indicators(ng-class="{bold: item.isUnread}")
          .date-container {{ item.lastEmail.date | date: item.group.dateFormat }}
          inbox-indicators(item="item.lastEmail")
    .inbox-preview-block.preview {{ item.lastEmail.preview }}
