//- NOTE: When adding form controls that should change the event in this form,
//-       be sure to add them to the EVENT_MODIFY_COMPARE_KEYS constant, to
//-       make sure they are checked during modification.
form.event-quick-form(role="form", aria-hidden="true", ng-class="{ 'readonly': !isOrganizer }", ng-submit='submit()')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss="modal", aria-label="Close", ng-click="$hide()")
          span(aria-hidden="true") &times;
        h4.modal-title(ng-if='isNew(editedEvent)') #{__('Create a new event')}
        h4.modal-title(ng-if='!isNew(editedEvent)') #{__('Edit event')}
      .modal-body.overflow-none
        .row
          .col-xs-12
            .form-group
              .fg-line
                input.input.title.form-control(type="text", ng-model='editedEvent.title', ng-model-options="{getterSetter: true}", maxlength="{{::EVENT_FORM.title.maxlength}}", placeholder="#{__('Title')}", ng-readonly="!isOrganizer")
          .col-xs-12
            .form-group
              .input-group
                span.input-group-addon
                  i.mdi.mdi-calendar-multiple
                .fg-line.select
                  select.form-control(ng-disabled="!isOrganizer || !isNew(editedEvent)", ng-model='calendar', ng-options='calendar as calendar.name for calendar in calendars')
          cal-event-date-edition(event="editedEvent", disabled="!isOrganizer")
          .col-xs-12
            .form-group(ng-show="isOrganizer || editedEvent.location")
              .input-group
                span.input-group-addon
                  i.mdi.mdi-map-marker
                .fg-line
                  input.input.location.form-control(type="text", ng-model='editedEvent.location', ng-model-options="{getterSetter: true}", maxlength="{{::EVENT_FORM.location.maxlength}}", placeholder="#{__('Location')}", ng-readonly="!isOrganizer")
          cal-attendees-autocomplete-input(ng-show='isOrganizer || isNew(editedEvent)', original-attendees='editedEvent.attendees', mutable-attendees='newAttendees')
          .col-xs-12(ng-if='editedEvent.attendees.length > 1 || newAttendees.length > 0')
            .form-group.status.row
              span.col-xs-12.col-sm-6.text-center #{__('Will you attend?')}
              .col-xs-12.col-sm-6.text-center
                .btn-group(role="group")
                  button.btn.btn-link.accepted(type='button', ng-click='changeParticipation("ACCEPTED")', ng-class='{ "active": userAsAttendee.partstat === "ACCEPTED" }') #{__('Yes')}
                  button.btn.btn-link.undecided(type='button', ng-click='changeParticipation("TENTATIVE")', ng-class='{ "active": userAsAttendee.partstat === "TENTATIVE" }') #{__('Maybe')}
                  button.btn.btn-link.declined(type='button', ng-click='changeParticipation("DECLINED")', ng-class='{ "active": userAsAttendee.partstat === "DECLINED" }') #{__('No')}
          cal-attendees-list(ng-if='editedEvent.attendees.length > 1 || newAttendees.length > 0', attendees='editedEvent.attendees', read-only='::!isOrganizer', organizer='editedEvent.organizer', mode='edition')
      .modal-footer.flex
        .flex-vertical-centered.flex-start
          .delete-button(ng-if="isOrganizer && (isInvolvedInATask(editedEvent) || !isNew(editedEvent))")
            button.btn.btn-link.btn-icon.color-danger.delete(type='button', ng-click="deleteEvent()", ng-disabled="!canPerformCall()")
              i.mdi.mdi-delete
          .options-button
            button.btn.btn-link.color-default(type='button', ng-click="goToFullForm()") #{__('More')}
        .flex-vertical-centered.flex-end
          .close-button
            button.btn.btn-link.color-default(type='button', ng-click="$hide()") #{__('Cancel')}
          .save-button
            button.btn.btn-primary.save(ng-if='isOrganizer' type='submit', ng-disabled="!canPerformCall()") #{__('Save')}
