form(name='form')
  fieldset
    .input-group.m-b-20
      span.input-group-addon
        i.mdi.mdi-account
      .fg-line
        input.form-control(type='text', ng-model='settings.firstname', name='firstname', id='firstname', placeholder=__('First Name'), required, esn-track-first-blur)
    .input-group.m-b-20
      span.input-group-addon
        i.mdi.mdi-account
      .fg-line
        input.form-control(type='text', ng-model='settings.lastname', name='lastname', id='lastname', placeholder=__('Last Name'), required, esn-track-first-blur)
    .input-group.m-b-20
      span.input-group-addon
        i.mdi.mdi-email
      .fg-line
        input.form-control(type='email', ng-model='settings.email', name='email', placeholder=__('Email'), autofocus=true, required, esn-track-first-blur)
    .input-group.m-b-20
      span.input-group-addon
        i.mdi.mdi-lock
      .fg-line
        input.form-control(type='password', ng-model='settings.password', name='email', placeholder=__('Password'), autofocus=true, required, esn-track-first-blur)
    .input-group.m-b-20
      span.input-group-addon
        i.mdi.mdi-lock
      .fg-line
        input.form-control(type='password', ng-model='settings.confirmPassword', name='email', placeholder=__('Confirm Password'), autofocus=true, required, esn-track-first-blur)
    .clearfix

    a.m-t-25.col-xs-12.btn.btn-success(ng-click='signup()', icon='new-user', color='success', ng-disabled='signupTask.running') #{__('Register')}
