.media.notification-content.esn-panel
  div(ng-show='error')
    p #{__('Error while getting notifications')}
  div(ng-show='loading && !error')
    p
      i.fa.fa-cog.fa-spin
      | #{__('Loading notifications')}
  div(ng-hide='loading || error')
    a.pull-left(ng-href='/#/collaborations/{{::invitationCollaboration.objectType}}/{{::invitationCollaboration._id}}')
      img.media-object(ng-src='/api/avatars?objectType={{::invitationCollaboration.objectType}}&id={{::invitationCollaboration._id}}', src='/images/community.png')
    .media-body
      .notification-head.ellipsis
        span.pull-right.date.hidden-xs(am-time-ago="::notification.timestamps.creation")
        a(ng-href="/#/collaborations/{{::invitationCollaboration.objectType}}/{{::invitationCollaboration._id}}") {{::invitationCollaboration.title}}
      .notification-body
        span
          a(ng-href="/#/profile/{{::invitationSender._id}}") {{::invitationSender.firstname}} {{::invitationSender.lastname}}
          | &nbsp;#{__('invites you to join this community')}
      div(ng-switch='notification.actionDone')
        .notification-actions(ng-switch-default)
          collaboration-invitation-accept-button
          &nbsp;
          collaboration-invitation-decline-button
        .notification-actions(ng-switch-when='accept') #{__('You have been added to the community, welcome')} !
        .notification-actions(ng-switch-when='decline') #{__('You have declined the invitation')}
