.media
  div(ng-show='error')
    p #{__('Error while getting notifications')}
  div(ng-show='loading && !error')
    p #{__('Loading notifications')}
  div(ng-hide='loading || error')
    a.pull-left(ng-href='/#/{{::collaborationPath}}/{{::collaborationJoined._id}}')
      img.media-object(ng-src='/api/avatars?objectType={{::collaborationJoined.objectType}}&id={{::collaborationJoined._id}}', fallback-src='/images/collaboration.png')
    .media-body
      .ellipsis
        span.pull-right.date.hidden-xs(am-time-ago="::notification.timestamps.creation")
        a(ng-href="/#/{{::collaborationPath}}/{{::collaborationJoined._id}}") {{::collaborationJoined.title}}
      div
        span
          a(ng-href="/#/profile/{{::joiner._id}}") {{::joiner.firstname}} {{::joiner.lastname}}
          span(ng-switch='collaborationJoined.objectType')
            span(ng-switch-when='community') &nbsp; #{__('joined this community')}
            span(ng-switch-when='project') &nbsp; #{__('joined this project')}
            span(ng-switch-default) &nbsp; #{__('joined this collaboration')}
