form(name='form')
  fieldset
    .alert.bs-alert-danger(ng-if="form.confirmpassword._blur && form.confirmpassword.$error.unique") #{__('The two passwords do not match')}
    .alert.bs-alert-success(ng-if="hasSucceeded") #{__('Successfully reset your password. You will be redirected to the login page in a few seconds.')}
    .input-group.m-b-20
      span.input-group-addon
        i.mdi.mdi-lock
      .fg-line
        input.form-control(type='password', ng-model='credentials.password', name='password', placeholder=__('Password'), required, ng-disabled="hasSucceeded")
    .input-group.m-b-20
      span.input-group-addon
        i.mdi.mdi-lock
      .fg-line
        input.form-control(type='password', ng-model='credentials.confirmPassword', name='confirmpassword', password-match='credentials.password' placeholder=__('Confirm your password'), required, esn-track-first-blur, ng-disabled="hasSucceeded")
    .clearfix

    button.m-t-25.col-xs-12.btn.btn-accent(type='submit', esn-submit="resetPassword(form)") #{__('Confirm')}
