.email-view
  .thread-header.visible-md.visible-lg
    .flex-space-between.flex-vertical-centered
      button.btn.btn-default(type='button', ui-sref="^()")
        i.mdi.mdi-arrow-left-bold
        | #{__(' Back')}
      .header-label {{ ::ctrl.thread.subject }}
      button.btn.btn-primary(type='button')
        | #{__(' More')}
        i.mdi.mdi-dots-vertical


  div(ng-repeat="email in ctrl.emails")
    ng-include(src="'/unifiedinbox/views/partials/email'")

  .lv-footer
    .modal-attachments
      ul.actions
        li
          a(ng-click="ctrl.forward()", title="#{__('Forward')}")
            i.mdi.mdi-forward
          a(ng-click="ctrl.replyAll()", title="#{__('Reply all')}")
            i.mdi.mdi-reply-all
          a(ng-click="ctrl.reply()", title="#{__('Reply')}")
            i.mdi.mdi-reply

  inbox-fab
