.col-xs-12
  .well.text-center
    span.btn.btn-info.btn-file #{__('Select a file')}...
      input(type="file", id="profile_image", load-button, max-size="10")
  #error
  .row.text-center
    .col-md-offset-0.col-md-8.col-sm-offset-1.col-sm-10.col-xs-12
      img-loaded(width="380")
    .col-md-offset-0.col-md-4.col-sm-offset-1.col-sm-10.col-xs-12(ng-hide="!preview")
      .thumbnail
        canvas(width="128", height="128", id="preview", img-preview)
        .caption
          .alert.alert-info(ng-show="progress === 0") #{__('Crop and upload your avatar')}.
          .alert.alert-info(ng-show="progress > 0 && progress < 100 && !uploadError") #{__('Uploading, please wait')}...
          .alert.alert-success(ng-show="progress === 100 && !uploadError") #{__('Avatar has been uploaded')}!
          .alert.alert-danger(ng-show="uploadError") #{__('Error while uploading')}!
          p
            button.btn.btn-primary.btn-large(ng-click="upload()") {{status}}
