.communities-list
  .block-header
    h2.pull-left
      i.mdi.mdi-account-multiple
      | #{__('Communities')}
    community-create-button.pull-right
    .clearfix
  .card
    .listview.lv-bordered.lv-lg
      .lv-header-alt
        .btn-group.btn-group-justified
          .btn-group
            .btn.btn-default(type='button', ng-class="{'btn-primary': selected === 'all', disabled: loading}", ng-click="getAll()") #{__('All')}
          .btn-group
            .btn.btn-default(type='button', ng-class="{'btn-primary': selected === 'membership', disabled: loading}", ng-click="getMembership()") #{__('Member of')}
          .btn-group
            .btn.btn-default(type='button', ng-class="{'btn-primary': selected === 'moderator', disabled: loading}", ng-click="getModerator()") #{__('Owned')}
      .lv-body(ng-hide="loading || error")
        community-display.lv-item.media(ng-repeat="community in communities | orderBy:'title'", community="community", actions='true')
        .lv-item(ng-if="communities.length === 0 && selected === 'all'")
          p #{__('There is no communities yet. Create a new one with the following link:')}
            community-create-button
        .lv-item(ng-if="!communities.length && selected === 'membership'")
          p #{__('You are not member of any community. Please join one first.')}
        .lv-item(ng-if="!communities.length && selected === 'moderator'")
          p #{__('You are not moderator of any community yet. Create a new one with the following link:')}
            community-create-button
      .lv-body(ng-if="error && !loading")
        .alert.alert-danger
          | #{__('Error while loading communities !')}
