.col-xs-12.nopadding
      .row
        .col-xs-12
          h2
            i.mdi.mdi-account
            | #{__('Contacts')}
      .row.text-center(ng-show='restActive')
        div.throbber(openpaas-logo-spinner, spinner-key='addressbooksSpinner')
      .row(ng-show='!restActive && !addressbooks.length')
        .col-xs-12
          | #{__('No addressbooks')}
          hr
          .vertiz-space(ng-controller='googleContactImporterController')
            span #{__('Import contacts from')} : &nbsp;
            i.fa.fa-google.fa-lg.fa-border(ng-click='googleImport()')
      .row(ng-class='{list: currentFocus() === "list", addressbook: currentFocus() === "addressbook", contact: currentFocus() === "contact"}' ng-hide='restActive || !addressbooks.length')
          .col-xs-12.col-md-2.addressbooks-container
            .vertiz-space
              strong #{__('Address Books')}

            ul(class="nav nav-list")
              li(data-ng-repeat="addressbook in addressbooks", ng-click="loadAddressBook(addressbook)")
                span(ng-class="isChecked(addressbook._id)") &nbsp; {{addressbook.name}}
            hr
            .vertiz-space(ng-controller='googleContactImporterController')
              span #{__('Import contacts from')} : &nbsp;
              i.fa.fa-google.fa-lg.fa-border(ng-click='googleImport()')
              #contactserror

          .col-xs-12.col-md-4
            div.hidden-md.hidden-lg
              .vertiz-space
                button.btn.btn-lg(ng-click='selected_addressbook=null')
                  i.fa.fa-angle-double-left
                strong.horiz-space {{selectedAddressBookName()}}
              hr
            .row.text-center(ng-show='contactsRestActive')
              span.throbber(openpaas-logo-spinner, spinner-key='contactsSpinner')
            ul.nav.nav-list.ellipsis(ng-hide='contactsRestActive')
              li.vertiz-space.ellipsis(ng-repeat='contact in contacts', ng-class="isContactSelected(contact._id)", ng-click="selectContact(contact)")
                span(title="{{ selectedContactDisplayName(contact) }}") {{ selectedContactDisplayName(contact) }}

          .col-xs-12.col-md-6
            div.container-fluid.ellipsis(ng-show='contact')
              .row
                .col-xs-12
                  h4.media-heading.vertiz-space.text-center.ellipsis(title="{{selectedContactDisplayName(contact)}}")
                    button.btn.btn-lg.hidden-md.hidden-lg.pull-left(ng-click='contact=null')
                      i.fa.fa-angle-double-left
                    | {{selectedContactDisplayName(contact)}}
                  div.ellipsis(title="{{contact.emails[0]}}")
                    li(data-ng-repeat="email in contact.emails")
                      a(href='mailto:{{email}}') {{email}}
                .col-xs-12
                  hr
                  div
                    button.btn.btn-primary(type='submit', ng-click='sendInvitation(contact)', ng-disabled='running || isInvited(contact)')
                      i.mdi.mdi-exit-to-app(ng-hide="running") &nbsp;
                        | {{isInvited(contact) ? 'Invited' : 'Invite!'}}
                      span(ng-hide="!running") #{__('Please wait...')}
                    .vertiz-space
