div(ng-controller='selectActiveItem')
  header(class="topbar" role="navigation")
    .container-fluid
      a(href="#/", ng-click='selectItem(1)')
        img.logo(src="/images/logo.png")
      div.pull-right.avatar
        div.dropdown
          button.btn-link.dropdown-toggle(type="button" id="userPreferencesMenu" data-toggle="dropdown")
            div(ng-controller='avatarController')
              img.img-circle(ng-src='{{avatarURL}}' width="24px" height="24px")
              span.caret
          ul.dropdown-menu.dropdown-menu-right(ng-controller='currentDomainController', role="menu", aria-labelledby="userPreferencesMenu")
              li: a(href='/#/profile', ng-click='selectItem(1)') #{__('My Account')}
              li: a(href='{{"/#/domains/" + domain._id + "/members"}}', ng-click='selectItem(1)') #{__('Members')}
              li: a(href='{{"/#/domains/" + domain._id + "/members/invite"}}', ng-click='selectItem(1)') #{__('Invitation')}
              li: a(href='/#/applications', ng-click='selectItem(1)') #{__('Applications')}
              li.divider
              li: a(href='/logout') #{__('Logout')}

  conference-invitation-notification
  api-notification
  .nav-wrapper
    nav(class="navbar navbar-default" role="navigation" data-offset-top="44" bs-affix)
      .container-fluid
        .row.esn-navbar-wrapper
          .col-sm-2.hidden-xs.nopadding.esn-navbar-side.text-center LINAGORA
          .col-sm-10.col-xs-12.nopadding
            div.esn-navbar-side
              div.esn-item.esn-user-notification(ng-controller="userNotificationController")
                span
                  user-notification-button
                  span.badge(data-ng-hide="!unreadCount.count") {{ unreadCount.count }}
            div.esn-navbar-main
              .esn-item(ng-class='{active: selected === 1}')
                span
                  a(href='', ng-click='selectItem(1)')
                    i.fa.fa-comments-o
                    span.hidden-xs(ng-controller='currentDomainController') {{domain.name}}
              .esn-item(ng-class='{active: selected === 2}')
                span
                  a(href='/#conferences', ng-click='selectItem(2)')
                    i.fa.fa-video-camera
                    span.hidden-xs #{__('Conferences')}
              .esn-item(ng-class='{active: selected === 3}')
                span
                  a(href='/#communities', ng-click='selectItem(3)')
                    i.fa.fa-users
                    span.hidden-xs #{__('Communities')}
              .esn-item(ng-class='{active: selected === 4}')
                span
                  a(href='/#projects', ng-click='selectItem(4)')
                    i.fa.fa-suitcase
                    span.hidden-xs #{__('Projects')}
