extends layout
block content
    div.login-bg
        div.form-container
            form(method='POST')
                legend #{__('Sign Up')}
                .form-group
                    label.control-label(for='email') #{__('Email')}
                    input.form-control(type='email', name='email', id='email', placeholder="#{__('you@yourcompany.com')}", autofocus=true, required)
                .form-group
                    .row
                        .col-xs-6
                            label.control-label(for='firstname') #{__('First Name')}
                            input.form-control(type='text', name='firstname', id='firstname', placeholder="#{__('First Name')}", required)
                        .col-xs-6
                            label.control-label(for='lastname') #{__('Last Name')}
                            input.form-control(type='text', name='lastname', id='lastname', placeholder="#{__('Last Name')}", required)
                .form-group
                    button.btn.btn-warning.pull-right(type='submit')
                        i.fa.fa-sign-in
                        | #{__('Sign Up')}
