.login-content
  .row
    .block-header.flex-space-between.flex-vertical-centered.flex-wrap
      h2 #{__('Password Management')}
  .card.p-15
    form(name='form')
      fieldset
        .alert.bs-alert-danger(ng-if="form.confirmpassword._blur && form.confirmpassword.$error.unique") #{__('The two passwords do not match')}
        .alert.bs-alert-success(ng-if="hasSucceeded") #{__('Successfully changed your password.')}
        .alert.bs-alert-danger(ng-if="hasFailed") #{__('Old password is not valid.')}
        .input-group.m-b-20
          span.input-group-addon
            i.mdi.mdi-lock
          .fg-line
            input.form-control(type='password', ng-model='credentials.oldpassword', name='password', placeholder="#{__('Old password')}", required, ng-disabled="hasSucceeded")
        .input-group.m-b-20
          span.input-group-addon
            i.mdi.mdi-lock
          .fg-line
            input.form-control(type='password', ng-model='credentials.newpassword', name='password', placeholder="#{__('New password')}", required, ng-disabled="hasSucceeded")
        .input-group.m-b-20
          span.input-group-addon
            i.mdi.mdi-lock
          .fg-line
            input.form-control(type='password', ng-model='credentials.confirmPassword', name='confirmpassword', password-match='credentials.newpassword' placeholder="#{__('Confirm your password')}", required, esn-track-first-blur, ng-disabled="hasSucceeded")
        .clearfix

        button.m-t-25.col-xs-12.btn.btn-accent(type='submit', esn-submit="changePassword(form)", ng-disabled="hasSucceeded") #{__('Confirm')}

