.login-content
  .block-header
    h2 #{__('Password Management')}

  .alert.bs-alert-danger(ng-if="form.confirmpassword._blur && form.confirmpassword.$error.unique") #{__('The two passwords do not match')}
  .alert.bs-alert-success(ng-if="hasSucceeded") #{__('Successfully changed your password.')}

  .card.p-15
    .card-body.card-padding
      form(name='form', esn-autocomplete-off)

        esn-form-group(label=__('Old password'))
          input.form-control.fg-input(type="password", ng-model="credentials.oldpassword", name="password", required, ng-disabled="hasSucceeded", autocomplete="off")
        esn-form-group(label=__('New password'))
          input.form-control.fg-input(type="password", ng-model="credentials.newpassword", name="password", required, ng-disabled="hasSucceeded", autocomplete="off")
        esn-form-group(label=__('Confirm your password'))
          input.form-control.fg-input(type="password", ng-model="credentials.confirmPassword", name="confirmpassword", password-match='credentials.newpassword', esn-track-first-blur, required, ng-disabled="hasSucceeded", autocomplete="off")

        button.full-width.btn.btn-accent(type='submit', esn-submit="changePassword(form)", ng-disabled="hasSucceeded") #{__('Confirm')}
