.card
  .card-header.ch-alt
    h2
      a(href='#/project/{{::project._id}}') {{::project.title}}
      small
        span.label.label-default {{::project.type}}
        &nbsp;
        i.mdi.mdi-account-multiple
        span(ng-if='project.members_count !== 1') {{::project.members_count || 0}} #{__('members')}
        span(ng-if='project.members_count === 1') 1 #{__('member')}
        span.label.label-warning(ng-show="isCreator()") #{__('Creator')}
  .card-body
    .flex-horizontal-centered
      .hidden-xs.p-20
        a(href='#/project/{{::project._id}}')
          img(fallback-src='/project/images/project.png', src='/project/images/project.png', ng-src='/project/api/projects/{{::project._id}}/avatar')
      .project-details
        .flex-horizontal-centered
          .p-20
            .text-center
            label #{__('From')}
            .form-group
              .input-group
                .input-group-addon
                  i.mdi.mdi-calendar
                .fg-line
                  input.form-control(type="text", value="{{project.startDate | amDateFormat:'MMM DD YYYY'}}" disabled)
          .p-20
            label #{__('To')}
            .form-group
              .input-group
                .input-group-addon
                  i.mdi.mdi-calendar
                .fg-line
                  input.form-control(type="text", value="{{project.endDate | amDateFormat:'MMM DD YYYY'}}" disabled)
        .p-20.p-description(ng-show='project.description')
          p(ng-hide='truncate === true') {{::project.description}}
