.default-collaboration-widget
  .title.ellipsis
    | #{__('Add communities')}
  hr
  .bg-danger(ng-show='error')
    p #{__('Error while adding communities')}
  div.form-container
    form(name='form')
      .form-group
        .row
          tags-input(ng-disabled='running', ng-model='members', display-property='{{::displayProperty}}',
          placeholder='{{::placeholder}}', min-tags='1', add-from-autocomplete-only='true',
          on-tag-added='resetView()', replace-spaces-with-dashes='false')
            auto-complete(source='getInvitableCommunities($query)', min-length='1', debounce-delay='200')
      .form-group
        .row
          button.btn.btn-primary.pull-right(type='button', ng-click='addMembers()', ng-disabled='running')
            i.fa.fa-sign-in(ng-hide='running') &nbsp;
              | #{__('Add')}
            span(ng-show='running')
              i.fa.fa-spinner.fa-spin &nbsp;
              | #{__('Please wait...')}
