.col-xs-12.col-md-10
  .block-header
    h2 #{__('Projects')}

  .card
    .listview.lv-bordered.lv-lg
      .lv-header-alt
        .btn-group.btn-group-justified
          .btn-group
            .btn.btn-default(type='button', ng-class="{'btn-primary': selected === 'all', disabled: loading}", ng-click="getAll()") #{__('All')}
          .btn-group
            .btn.btn-default(type='button', ng-class="{'btn-primary': selected === 'membership', disabled: loading}", ng-click="getMembership()") #{__('Member of')}
          .btn-group
            .btn.btn-default(type='button', ng-class="{'btn-primary': selected === 'moderator', disabled: loading}", ng-click="getModerator()") #{__('Owned')}
      hr(ng-show="!projects.length")
    .lv-body.p-20
      project-display.lv-item(project="project", ng-hide="loading", ng-repeat="project in projects | orderBy:'title'")
      .lv-item(ng-show="loading", role="alert")
        p #{__('Loading projects...')}
      .lv-item(ng-show="error && !loading", role="alert")
        p #{__('Error while loading projects !')}
      .lv-item(ng-show="!loading && !error && projects.length === 0 && selected === 'all'", role="alert")
        p #{__('There is no projects yet. Create a new one with the following link:')}
          project-create-button
      .lv-item(ng-show="!loading && !error && projects.length === 0 && selected === 'membership'", role="alert")
        p #{__('You are not member of any project. Please join one first.')}
      .lv-item(ng-show="!loading && !error && projects.length === 0 && selected === 'moderator'", role="alert")
        p #{__('You are not moderator of any project yet. Create a new one with the following link:')}
          project-create-button
