.calendar-sidebar
  .listview.p-t-10.calendars-list
    .lv-body
      a.lv-item(href="", cal-toggle-view="basicDay", ng-click="$hide()")
        .media
          .pull-left
            i.mdi.mdi-menu
          .media-body
            .lv-title
              span #{__('Planning')}
      a.lv-item(href="", cal-toggle-view="agendaDay", ng-click="$hide()")
        .media
          .pull-left
            i.mdi.mdi-view-day
          .media-body
            .lv-title
              span #{__('Day')}
      a.lv-item(href="", cal-toggle-view="agendaThreeDays", ng-click="$hide()")
        .media
          .pull-left
            i.mdi.mdi-view-day
          .media-body
            .lv-title
              span #{__('3 Days')}
      a.lv-item(href="", cal-toggle-view="agendaWeek", ng-click="$hide()")
        .media
          .pull-left
            i.mdi.mdi-view-week
          .media-body
            .lv-title
              span #{__('Week')}
      a.lv-item(href="", cal-toggle-view="month", ng-click="$hide()")
        .media
          .pull-left
            i.mdi.mdi-calendar-blank
          .media-body
            .lv-title
              span #{__('Month')}
    .lv-footer.m-t-5

  calendars-list(on-edit-click="$hide")
