div
    div.form-container(ng-show='step===0')
        div.alert.alert-danger(ng-show='error')
            p {{error}}
        form(name='form')
            fieldset
                .form-group
                    tags-input(ng-disabled='running', ng-model='emails', display-property='{{displayProperty}}',
                    placeholder='{{placeholder}}', allowed-tags-pattern='{{pattern}}', min-tags='1',
                    add-on-enter='true', add-on-space='true', add-on-comma='true', on-tag-added='validateTags($tag)',
                    on-tag-removed='validateTags($tag)')
                .form-group
                    button.btn.btn-primary.pull-right(type='submit', ng-click='invite()', ng-disabled='running || error')
                        i.mdi.mdi-exit-to-app(ng-hide="running") &nbsp;
                            | #{__('Send invitations')}
                        span(ng-hide="!running") #{__('Please wait...')}

    div.form-container(ng-show='step===1')
        .alert.alert-success.animated
            | #{__('Invitations have been sent. You will be notified when new users join the platform')}.
        .text-right
            button.btn.btn-primary(ng-click='step=0') #{__('Send new invitations')}
