ng-form(name="form")
  input.input.form-control.date(type="text",
    size="10",
    ng-model="$ctrl.uiValue",
    class="$ctrl.className",
    data-autoclose="{{::$ctrl.autoclose}}",
    data-start-week="{{::$ctrl.startWeek}}",
    data-date-format="{{::$ctrl.dateFormat}}",
    placeholder="{{::$ctrl.placeholder}}",
    ng-change="$ctrl.onChange()",
    ng-blur="$ctrl.onBlur()",
    ng-focus="$ctrl.onFocus()",
    ng-click="$ctrl.onClick()",
    bs-datepicker,
    aria-expanded="false",
    ng-disabled="$ctrl.ngDisabled",
    data-is-all-day="$ctrl.isAllDay",
    data-min-date="{{$ctrl.minDate}}")