div.login-bg
    div.form-container
        form(method='POST')
            legend #{__('Sign Up')}
            .form-group
                .row
                    .col-xs-6
                        label.control-label(for='firstname') #{__('First Name')}
                        input.form-control(type='text', name='firstname', id='firstname', placeholder="#{__('First Name')}", required)
                    .col-xs-6
                        label.control-label(for='lastname') #{__('Last Name')}
                        input.form-control(type='text', name='lastname', id='lastname', placeholder="#{__('Last Name')}", required)
            .form-group
                label.control-label(for='company') #{__('Company Name')}
                input.form-control(type='company', name='company', id='company', required)
            .form-group
                label.control-label(for='domain') #{__('Domain Name')}
                input.form-control(type='domain', name='domain', id='domain', required)
            .form-group
                .row
                    .col-xs-6.pull-left
                        label.control-label(for='password') #{__('Password')}
                        input.form-control(type='password', name='password', id='password', required)
            .form-group
                .row
                    .col-xs-6.pull-left
                        label.control-label(for='confirmpassword') #{__('Confirm Password')}
                        input.form-control(type='password', name='confirmpassword', id='confirmpassword', required)
            .form-group
                button.btn.btn-warning.pull-right(type='submit')
                    i.fa.fa-sign-in
                    | #{__('Sign Up')}
