.modal(tabindex="-1", role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", ng-click="$hide()") &times;
        h4.modal-title #{__('Subscribe to public calendars')}
      .modal-body
        .calendar-public-configuration
          .user-search.form-group
            .autocomplete
              users-autocomplete-input(mutable-users='$ctrl.users', on-user-added='$ctrl.onUserAdded', on-user-removed='$ctrl.onUserRemoved', add-from-autocomplete-only='true')

          .calendar-list
            .empty(ng-if='!$ctrl.calendarsPerUser.length')
              span #{__('Search users to subscribe to their public calendars')}

            .header(ng-if='$ctrl.calendarsPerUser.length')
              .name
                span #{__('Name')}
              .rights
                span #{__('Rights')}
              .actions
                span #{__('Subscribe')}
            cal-calendar-public-configuration-item(item="item", ng-repeat="item in $ctrl.calendarsPerUser")
      .modal-footer
        button.btn.btn-default(type="button", ng-click="$hide()") #{__('Cancel')}
        button.btn.btn-primary(type='button', ng-disabled='!$ctrl.getSelectedCalendars().length', ng-click='$ctrl.subscribe(); $hide()') #{__('Save')}

