.modal.inbox-root.inbox-modal
  form(role="form", aria-hidden="true", ng-submit='editFolder()')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss="modal", aria-label="Close", esn-back-button="^")
            span(aria-hidden="true") &times;
          h4.modal-title.ellipsis {{ ::mailbox.name }}
        .modal-body.overflow-none
          .row
            .col-xs-12
              .form-group.fg-line
                .field-name #{__('Rename')}
                input.form-control(ng-model="mailbox.name", placeholder="#{__('Enter a name')}", auto-focus)
              .form-group.fg-line.select
                .field-name #{__('Is located under')}
                select.form-control(ng-model="mailbox.parentId", ng-options="box.id as box.qualifiedName for box in mailboxes | inboxFilterDescendantMailboxes: mailbox.id")
                  option(value="") #{__('Unified Inbox')}
        .modal-footer.flex
          .flex-vertical-centered.flex-start
            .delete-button
              button.btn.btn-link.btn-icon.color-danger.delete(type='button', ui-sref='.delete')
                i.mdi.mdi-delete
          .flex-vertical-centered.flex-end
              button.btn.btn-link.color-default(type='button', esn-back-button="^") #{__('Cancel')}
              button.btn.btn-primary.save(esn-submit="editFolder()") #{__('Save')}
