sub-header
  inbox-configuration-vacation-subheader

.inbox-configuration-vacation
  form
    span #{__('Vacation responder')}
    .inbox-toggle-switch.form-group
      span.clickable.vacation-disabled(ng-class='{"toggle-active": !vacation.isEnabled}', ng-click="ctrl.enableVacation(false)") #{__('Off')}
      toggle-switch(ng-model='vacation.isEnabled', color='blue')
      span.clickable.vacation-enabled(ng-class='{"toggle-active": vacation.isEnabled}', ng-click="ctrl.enableVacation(true)") #{__('On')}
    fieldset(ng-disabled="!vacation.isEnabled")
      .form-group.flex-form-group
        .field-name.field-label #{__('Start date')}
        .fg-line
          input.input.form-control(type='text', ng-model="vacation.fromDate", autoclose="1", start-week="1", date-format="yyyy/MM/dd", placeholder="#{__('Start date')}", ng-change="ctrl.updateDateAndTime('fromDate')", bs-datepicker)
        .separator
        .fg-line
          input.input.form-control(type="text", ng-model="vacation.fromDate", autoclose="0", time-format= "shortTime", placeholder="#{__('No end time')}", aria-expanded="false", ng-change="ctrl.fixTime('fromDate'); ctrl.updateDateAndTime('fromDate')", lng-clockpicker)
      .checkbox.checkbox-styled
        label
          input(type="checkbox", ng-model='vacation.hasToDate')
          i.input-helper
          span #{__('Vacation stops at')}
      .form-group.flex-form-group.vacation-end-date(ng-disabled="!vacation.hasToDate")
        .field-name.field-label #{__('End date')}
        .fg-line(ng-class="{'invalid': ctrl.toDateIsInvalid()}")
          input.input.form-control(type='text', ng-model="vacation.toDate", autoclose="1", start-week="1", date-format="yyyy/MM/dd", placeholder="#{__('No end date')}", ng-disabled="!vacation.hasToDate", ng-class="{'invalid': ctrl.toDateIsInvalid()}", ng-change="ctrl.updateDateAndTime('toDate')", bs-datepicker)
        .separator
        .fg-line(ng-class="{'invalid': ctrl.toDateIsInvalid()}")
          input.input.form-control(type="text", ng-model="vacation.toDate", autoclose="0", time-format= "shortTime", placeholder="#{__('No end time')}", aria-expanded="false", ng-disabled="!vacation.hasToDate", ng-class="{'invalid': ctrl.toDateIsInvalid()}", ng-change="ctrl.fixTime('toDate'); ctrl.updateDateAndTime('toDate')", lng-clockpicker)
      .form-group.full-width.fg-line
        .field-name #{__('Message body')}
        textarea.form-control(auto-size, rows="10", ng-model="vacation.textBody", placeholder="#{__('Start writing your vacation message here')}")
