.modal(tabindex="-1", role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", ng-click="$hide()") &times;
        h4.modal-title #{__('Create a new community')}
      .modal-body

        .row.alert.alert-info(ng-show="sending", role="alert")
          p
            i.fa.fa-cog.fa-spin
            span(ng-show="create.step === 'post'") #{__('Creating the community...')}
            span(ng-show="create.step === 'upload'") #{__('Uploading avatar...')}
            span(ng-show="create.step === 'redirect'") #{__('Redirecting to community page...')}
          .progress
            .progress-bar.progress-bar-striped.active(role="progressbar", aria-valuenow="{{percent}}", aria-valuemin="0", aria-valuemax="100", style="width: {{percent}}%")
              span.sr-only {{percent}} % #{__('Complete')}

        form(name='communityForm', ng-hide="sending")
          .form-group
            #communityerror
          .form-group(ng-show="step === 0")
            label #{__('Title')}&nbsp;*
            input.form-control(type='text', ng-change="validateTitle()", ng-model='community.title', id="title", name='title', placeholder="#{__('Title')}", autofocus=true, required)
            span.help-block #{__('Community title. Have to be unique in the current domain')}.
          .form-group(ng-show="step === 0")
            fieldset(disabled)
              label #{__('Visiblity')}&nbsp;
              .radio
                label
                  input(type="radio", name="rigths", ng-model="community.rights", value="open", checked)
                  | #{__('Open')}
              .radio
                label
                  input(type="radio", name="rigths", ng-model="community.rights", value="private")
                  | #{__('Private')}
              .radio
                label
                  input(type="radio", name="rigths", ng-model="community.rights", value="confidential")
                  | #{__('Confidential')}
              span.help-block #{__("Choose the best policy dependending on the community usage")}.
          .form-group(ng-show="step === 1")
            label #{__('Avatar')}
            .row
              .col-md-6.col-xs-6.col-lg-6
                span.btn.btn-info.btn-file #{__('Select an image')}...
                  input(type="file", id="community_image", load-local-image-button, max-size="10")
              .col-md-6.col-xs-6.col-lg-6
                local-image-preview(width="150", height="150", file="image")
          .form-group(ng-show="step === 1")
            label #{__('Description')}
            textarea.form-control.textarea-fixed(rows="3", ng-model='community.description', name='description')
            span.help-block #{__("A Human readable description which will help users to know what this community is about")}.
      .modal-footer
        button.btn.btn-primary.pull-left(type="button", ng-disabled="sending", ng-show="step === 1", ng-click="step = 0") #{__('Previous')}
        button.btn.btn-primary(type="button", ng-disabled="!validateTitle()", ng-show="step === 0", ng-click="step = 1") #{__('Next')}
        button.btn.btn-primary(type="button", ng-disabled="sending", ng-show="step === 1" ng-click="create(community)") #{__('Create')}
        button.btn.btn-default(type="button", ng-disabled="sending", ng-click="$hide()") #{__('Cancel')}