.modal-header
  button.close(type="button", ng-click="createModal.hide()") &times;
  h4.modal-title #{__('Create a community')}
.modal-body
  form(name='communityForm')
    .form-group
      .row.alert.alert-warning(role="alert")
        p #{__('You are about to create')}
          strong &nbsp;'{{community.title}}'&nbsp;
          | #{__('as a')}
          strong &nbsp;'{{community.type}}'&nbsp;
          | #{__('community')}. #{__('You can customize it with an avatar and a description now or do it later on the community page')}.
      .row
        label #{__('Avatar')}
        .btn-group.btn-group-justified
          .btn-group
            span.btn.btn-info.btn-file
              i.fa.fa-upload
              | #{__('Select an image')}
              input(type="file", load-button)
          .btn-group
            button.btn.btn-info.btn-file(data-ng-disabled='!image.selected || image.validated', data-ng-click='image.validated = true')
              i.fa.fa-check
              | #{__('Accept picture')}
      .vertiz-space
      .row.error
      .row
        .col-xs-6.col-xs-offset-3.col-sm-3.col-sm-offset-0.community-img-preview-container
          div(ng-show='!image.selected')
            img(width="128", height="128", src='/images/community.png')
          div(ng-show='image.selected')
            .img-preview
              a(data-ng-click='removeSelectedImage()', href='')
                i.fa.fa-times.fa-5.fa-border
              canvas(width="128", height="128", id="preview", img-preview)
        .col-xs-8.col-xs-offset-2.col-sm-9.col-sm-offset-0(ng-show='image.selected && !image.validated')
          .hidden-md.hidden-sm.hidden-lg
            img-loaded(width="190")
          .hidden-xs
            img-loaded(width="380")
    .form-group
      label #{__('Description')}
      textarea.form-control.textarea-fixed(rows="3", ng-model='community.description', name='description')
      span.help-block #{__("A human readable description which will help users know what this community is about")}.

.modal-footer(ng-hide="sending")
  button.btn.btn-default.pull-left(type="button", ng-click="wizard.previousStep()")
    i.fa.fa-chevron-left
    | #{__('Previous')}
  button.btn.btn-secondary-dark(type="button", ng-click="createCommunity()") #{__('Create')}
  button.btn.btn-default(type="button", ng-click="$hide()") #{__('Cancel')}
