.modal(tabindex="-1", role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", ng-click="$hide()", ng-hide="sending") &times;
        h4.modal-title(ng-hide="step !== 0") #{__('Create a community')}
        h4.modal-title(ng-show="step === 1 && !sending") #{__('About to create the')} '{{community.title}}' #{__('community')}
        h4.modal-title(ng-show="sending") #{__('Creating the')} '{{community.title}}' #{__('community')}...
      .modal-body

        .row.alert.alert-info(ng-show="sending", role="alert")
          p
            i.fa.fa-cog.fa-spin
            span(ng-show="create.step === 'post'") #{__('Creating the community')}...
            span(ng-show="create.step === 'upload'") #{__('Uploading avatar')}...
            span(ng-show="create.step === 'redirect'") #{__('Redirecting to community page')}...
            span(ng-show="create.step === 'uploadfailed'") #{__('Upload failed')}!

          .progress
            .progress-bar.progress-bar-striped.active(role="progressbar", aria-valuenow="{{percent}}", aria-valuemin="0", aria-valuemax="100", style="width: {{percent}}%")
              span.sr-only {{percent}} % #{__('Complete')}

        form(name='communityForm', ng-hide="sending")
          .form-group
            #communityerror
          .form-group(ng-show="step === 0", ng-class='{"has-error": communityForm.title.$error.unique || !validateTitle()}')
            label #{__('The community title')}&nbsp;*
            input.form-control(type='text', ng-change="validateTitle()", ng-model='community.title', id="title", name='title', autofocus=true, required, ensure-unique-community-title, esn-track-first-blur)
            span.help-block(ng-hide='communityForm.title.$error.unique && !communityForm.title.$error.ajax') #{__('The community title has to be unique in the current domain.')}
            span.help-block(ng-show='communityForm.title.$error.unique && !communityForm.title.$error.ajax') #{__('This community title already exists. Please choose another one.')}
          .form-group(ng-show="step === 0")
            fieldset
              label #{__('Visiblity')}&nbsp;
              .radio
                label
                  input(type="radio", ng-model="community.type", value="open", ng-checked="true")
                  span.label.label-default(ng-class='{"community-highlight-label" : community.type==="open"}')  #{__('Open')}
                  span.help-block(ng-class='{"community-highlight-help" : community.type==="open"}') #{__('Publish content from and for everyone. Each user can freely read, join and participate to the community')}.
              .radio
                label
                  input(type="radio", ng-model="community.type", value="restricted")
                  span.label.label-default(ng-class='{"community-highlight-label" : community.type==="restricted"}') #{__('Restricted')}
                  span.help-block(ng-class='{"community-highlight-help" : community.type==="restricted"}') #{__('Content is freely accessible to all users, but only members can participate')}.
              .radio
                label
                  input(type="radio", ng-model="community.type", value="private")
                  span.label.label-default(ng-class='{"community-highlight-label" : community.type==="private"}') #{__('Private')}
                  span.help-block(ng-class='{"community-highlight-help" : community.type==="private"}') #{__('Only members can read and publish contents in this community. Each user can request membership')}.
              .radio
                label
                  input(type="radio", ng-model="community.type", value="confidential")
                  span.label.label-default(ng-class='{"community-highlight-label" : community.type==="confidential"}') #{__('Confidential')}
                  span.help-block(ng-class='{"community-highlight-help" : community.type==="confidential"}') #{__('Only members of this community can read and publish content. All informations about this community are hidden to other users. Membership is only available by invitation')}.
          .form-group(ng-show="step === 1")
            .row.alert.alert-warning(role="alert")
              p #{__('You are about to create')}
                strong &nbsp;'{{community.title}}'&nbsp;
                | #{__('as a')}
                strong &nbsp;'{{community.type}}'&nbsp;
                | #{__('community')}. #{__('You can customize it with an avatar and a description now or do it later on the community page')}.
            label #{__('Avatar')}
            .row
              .col-xs-3.col-md-3.col-lg-3
                .row
                  label
                    span.btn.btn-info.btn-file #{__('Select an image')}...
                      input(type="file", load-button)
                .row(ng-show='imageselected')
                  canvas(width="128", height="128", id="preview", img-preview)
              .col-xs-9.col-md-9.col-lg-9(ng-show='imageselected')
                img-loaded(width="380")
          .form-group(ng-show="step === 1")
            label #{__('Description')}
            textarea.form-control.textarea-fixed(rows="3", ng-model='community.description', name='description')
            span.help-block #{__("A human readable description which will help users know what this community is about")}.
      .modal-footer.widget(ng-hide="sending")
        button.btn.btn-default.pull-left(type="button", ng-disabled="sending", ng-show="step === 1", ng-click="backToStep0()")
          i.fa.fa-chevron-left
          | #{__('Previous')}
        button.btn.btn-info(type="button", ng-disabled="!validateTitle() || communityForm.title.$error.unique", ng-show="step === 0", ng-click="validateStep0()")
          | #{__('Next')} &nbsp;
          i.fa.fa-chevron-right
        button.btn.btn-primary(type="button", ng-disabled="sending", ng-show="step === 1" ng-click="create(community)") #{__('Create')}
        button.btn.btn-default(type="button", ng-disabled="sending", ng-click="$hide()") #{__('Cancel')}