.col-xs-12.esn-panel.hidden
    h4 #{__('Invite people to join the community')}
    .hidden.bg-danger(error-container)
        p {{error.details || error}}
    div.form-container
        form(name='form')
            fieldset
                .form-group
                    tags-input(ng-disabled='running', ng-model='users', display-property='{{::displayProperty}}',
                    placeholder='{{::placeholder}}', min-tags='1', add-from-autocomplete-only='true',
                    on-tag-added='resetView()', replace-spaces-with-dashes='false')
                        auto-complete(source='getInvitableUsers($query)', min-length='1', debounce-delay='200')
                    .hidden(success-container)
                        p #{__('Invitations have been sent. You will be notified when new users join the platform')}.
                .form-group
                    button.btn.btn-primary.pull-right(type='button', ng-click='inviteUsers()', ng-disabled='running')
                        i.fa.fa-sign-in(button-content) &nbsp;
                            | #{__('Send invitations')}
                        span.hidden(running-container)
                            i.fa.fa-spinner.fa-spin &nbsp;
                            | #{__('Please wait...')}
