.block-header.hidden-xs
  h2 #{__('Calendar configuration')}

.calendar-edit.card.form-container
  .card-body
    form(ng-submit='submit()')
      .form-group.fg-line(ng-class='{"has-error": calendar.name.length < 1}')
        .field-name #{__('Name')}
        input.form-control(type="text", placeholder="#{__('Enter a name')}", ng-model="calendar.name", maxlength="255")
        span.help-block(ng-show="calendar.name.length < 1")
          | #{__('Please input a name if you want to save this edition')}
      .form-group.fg-line
        .field-name #{__('Color')}
        input.form-control(type="text", ng-model="calendar.color")
      .visible-xs
        span.pull-right
          button.btn.btn-default.btn-sm.m-t-10(ng-if="!newCalendar", type="button", ng-click="openDeleteConfirmationDialog()") #{__('Delete')}
        .clearfix
      .hidden-xs
        button.btn.btn-default.btn-sm.m-t-10(ng-if="!newCalendar", type="button", ng-click="openDeleteConfirmationDialog()") #{__('Delete')}
        span.pull-right
          button.btn.btn-default.btn-sm.m-t-10.visible-xs(type="button", ng-click="mobileCancel()") #{__('Cancel')}
          button.btn.btn-default.btn-sm.m-t-10.hidden-xs(type="button", ng-click="cancel()") #{__('Cancel')}
          button.btn.btn-primary.btn-sm.m-t-10(type="button", ng-click="submit()")
            span(ng-if='newCalendar') #{__('Create')}
            span(ng-if='!newCalendar') #{__('Edit')}
        .clearfix
