.row
  .col-xs-12.no-padding-xs.calendar-edit
    h2.hidden-xs #{__('Calendar configuration')}
    .card.form-container
      .card-body.card-padding
        form(ng-submit='submit()')
          .form-group(ng-class='{"has-error": calendar.name.length < 1}')
            label #{__('Name')}
            input.input-sm.form-control(type="text", ng-model="calendar.name", maxlength="255")
            span.help-block(ng-show="calendar.name.length < 1")
              | #{__('Please input a name if you want to save this edition')}
          .form-group
            label #{__('Color')}
            input.input-sm.form-control(type="text", ng-model="calendar.color")
          .visible-xs
            span.pull-right
              button.btn.btn-default.btn-sm.m-t-10(ng-if="!newCalendar", type="button", ng-click="delete()") #{__('Delete')}
            .clearfix
          .hidden-xs
            button.btn.btn-default.btn-sm.m-t-10(ng-if="!newCalendar", type="button", ng-click="delete()") #{__('Delete')}
            span.pull-right
              button.btn.btn-default.btn-sm.m-t-10(type="button", ng-click="cancel()") #{__('Cancel')}
              button.btn.btn-primary.btn-sm.m-t-10(type="button", ng-click="submit()") #{__('Edit')}
            .clearfix
