.modal.inbox-root.inbox-modal
  form(role="form", aria-hidden="true", ng-submit='addFolder()')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss="modal", aria-label="Close", esn-back-button="^")
            span(aria-hidden="true") &times;
          h4.modal-title.ellipsis #{__('Create a new folder')}
        .modal-body.overflow-none
          .row
            .col-xs-12
              .form-group.fg-line
                .field-name #{__('Name')}
                input.form-control(ng-model="mailbox.name", placeholder="#{__('Enter a name')}", auto-focus)
              .form-group.fg-line.select
                .field-name #{__('Is located under')}
                select.form-control(ng-model="mailbox.parentId", ng-options="mailbox.id as mailbox.qualifiedName for mailbox in mailboxes")
                  option(value="") #{__('Unified Inbox')}
        .modal-footer
          .flex-vertical-centered.flex-end
              button.btn.btn-link.color-default(type='button', esn-back-button="^") #{__('Cancel')}
              button.btn.btn-primary.save(esn-submit="addFolder()") #{__('Save')}
