.oauth-card
  form.oauth-form(name='applicationsForm', action='/oauth/authorize/decision', method='post')
    legend
      .text-center
        img(src="/images/logo.png", alt=__("OpenPaas Logo"))
        .oauth-authorize-message !{__('Authorize <em>%s</em> to use your account?', client.name)}
        .oauth-redirect-message #{__('You will be redirected to %s', client.redirectUri)}
    input(name="transaction_id", type="hidden", value=transactionId)
    .oauth-btn-group
      input.btn.btn-primary.save(type="submit", name=__('Allow'), value="Authorize", id="allow")
      input.btn.btn-cancel.btn-link.color-default.cancel(type="submit", name=__('Deny'), value="Deny", id="deny")