.listview.calendars-list
  .configuration-container.visible-xs
    .lv-item.clickable.configuration-button(href="", ui-sref="calendar.list")
      i.mdi.mdi-settings
      | #{__('Manage calendars')}
    hr

  cal-user-calendars-list(
    user-calendars="$ctrl.userCalendars",
    toggle-calendar="$ctrl.toggleCalendar",
    select-calendar="$ctrl.selectCalendar",
    hidden-calendars="$ctrl.hiddenCalendars"
  )

  cal-shared-calendars-list(
    shared-calendars="$ctrl.sharedCalendars",
    toggle-calendar="$ctrl.toggleCalendar",
    select-calendar="$ctrl.selectCalendar",
    hidden-calendars="$ctrl.hiddenCalendars",
    ng-if="$ctrl.sharedCalendars.length"
  )