.listview.calendars-list
  .configuration-container.visible-xs
    .lv-item.clickable.configuration-button(href="", ui-sref="calendar.list")
      i.mdi.mdi-settings
      | #{__('Manage calendars')}
    hr

  cal-user-calendars-list(
    user-calendars="$ctrl.userCalendars",
    toggle-calendar="$ctrl.toggleCalendar",
    hidden-calendars="$ctrl.hiddenCalendars"
  )

  cal-external-calendars-list(
    shared-calendars="$ctrl.sharedCalendars",
    public-calendars="$ctrl.publicCalendars",
    toggle-calendar="$ctrl.toggleCalendar",
    hidden-calendars="$ctrl.hiddenCalendars"
  )