.listview.calendars-list
  cal-user-calendars-list(
    my-calendars="$ctrl.myCalendars",
    toggle-calendar="$ctrl.toggleCalendar",
    select-calendar="$ctrl.selectCalendar",
    hidden-calendars="$ctrl.hiddenCalendars"
  )

  cal-shared-calendars-list(
    shared-calendars="$ctrl.sharedCalendars",
    toggle-calendar="$ctrl.toggleCalendar",
    select-calendar="$ctrl.selectCalendar",
    hidden-calendars="$ctrl.hiddenCalendars",
    ng-if="$ctrl.sharedCalendars.length"
  )