div.card.event-full-form(keep-scroll-position)
  .card-header
    .row
      .col-xs-8
        h1 #{__('Create a new event')}
      .col-xs-4
          button.btn.btn-primary(type='button')
            | #{__('Create')}
          button.btn.btn-default(type='button')
            | #{__('Cancel')}

  .card-body.card-padding
    form(role="form", aria-hidden="true", ng-class="{ 'readonly': !isOrganizer }", ng-submit='submit()')
      .row
        .col-xs-12.col-sm-6
          .row
            .col-xs-12
              .form-group
                .fg-line
                  input.input.title.form-control(type="text", ng-model='editedEvent.title', maxlength="{{::EVENT_FORM.title.maxlength}}", placeholder="#{__('Title')}", ng-readonly="!isOrganizer")

          .row
            .col-xs-12
              .form-group
                .input-group
                  span.input-group-addon
                    i.mdi.mdi-calendar-multiple
                  .fg-line.select
                    select.form-control
                      option(value="calendarA") calendarA
                      option(value="calendarB") calendarB

          event-date-edition(event="editedEvent", disabled="!isOrganizer")

          .row
            .col-xs-12
              .form-group
                .input-group
                  span.input-group-addon
                    i.mdi.mdi-map-marker
                  .fg-line
                    input.input.form-control(type="text", ng-model='editedEvent.location', placeholder="#{__('Location')}")

          .row
            .col-xs-12
              .form-group
                .input-group
                  span.input-group-addon
                    i.mdi.mdi-repeat
                  .fg-line.select
                    select.form-control
                      option(value="recurrenceA") recurrenceA
                      option(value="recurrenceB") recurrenceB

          .row
            .col-xs-12
              .form-group
                .input-group
                  span.input-group-addon
                    i.mdi.mdi-alarm
                  .fg-line.select
                    select.form-control
                      option(value="alarmA") alarmA
                      option(value="alarmB") alarmB

          .row
            .col-xs-12
              .form-group
                .input-group
                  span.input-group-addon
                    i.mdi.mdi-lock
                  .fg-line.select
                    select.form-control
                      option(value="privacyA") privacyA
                      option(value="privacyB") privacyB

        .col-xs-12.col-sm-6
          .row
            .col-xs-12
              .form-group(ng-show='isOrganizer || isNew(editedEvent)')
                .input-group
                  span.input-group-addon
                    i.mdi.mdi-account-multiple-plus
                  .fg-line
                    tags-input(ng-model='newAttendees', display-property='displayName', key-property='email', placeholder='#{__("Attendees")}', on-tag-adding='onAddingAttendee($tag)', replace-spaces-with-dashes='false')
                      auto-complete(source='getInvitableAttendees($query)', min-length='1', debounce-delay='200', template="/views/modules/auto-complete/user-auto-complete")

            attendees-list(attendees='event.attendees', read-only='::!isOrganizer')

          .row
            .col-xs-12
              .form-group
                .input-group
                  span.input-group-addon
                    i.mdi.mdi-format-align-justify
                  .fg-line
                    textarea.form-control(placeholder="#{__('Notes...')}")
