doctype html
html
    include ../commons/utils
    head
        meta(charset='utf8')
        base(href='/')
        title #{title} - OpenPaas
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='icon', type='image/png', href='images/logo-tiny.png')
        link(rel='stylesheet', href='/components/roboto-fontface/css/roboto-fontface.css')
        link(rel='stylesheet', href='/css/modernizr.css')
        link(rel='stylesheet', href='/generated/css/setup/styles.css')
        +injectCSSFromModules('setup', injections)
        script(src='/components/jquery/dist/jquery.js')
        script(src='/components/bootstrap/dist/js/bootstrap.js')
        script(src='/components/angular/angular.js')
        +injectJSFromModules('setup', injections)
        +injectAngularFromModules('setup', injections)
        script(src='/js/setup/app.js')

    body

      div.container(ng-cloak ng-app='setupApp' ng-controller='wizardController')
          div
              h1 #{__('Setup your software')}

          div(ng-hide='step != 0')
              h2 #{__('Welcome to the Linagora Enterprise Social Network')}!
              div
                  p #{__('The following wizard will help you configuring the software')}.
                  p #{__('You need a running MongoDB database server')}.

              button.btn.pull-right(ng-click='step = step + 1') Next

          div(ng-hide='step != 1')
              h2 #{__('Configure access to the MongoDB server')}
              div
                div.form-container
                  form(role="form")
                    div.form-group
                      label(for='hostname') #{__('Database Server Hostname')}
                      input(ng-model='settings.hostname' ng-change='test.status="none"' type='text' class='form-control' id='hostname' ng-disabled='ajaxRunning()')
                    div.form-group
                      label(for='port') #{__('Database Server Port')}
                      input(ng-model='settings.port' ng-change='test.status="none"' type='number' class='form-control' id='port' ng-disabled='ajaxRunning()')
                    div.form-group
                      label(for='dbname') #{__('Database Name')}
                      input(ng-model='settings.dbname' ng-change='test.status="none"' type='text' class='form-control' id='dbname' ng-disabled='ajaxRunning()')
                    div.form-group
                      label(for='username') #{__('Database connection user name')}
                      input(ng-model='settings.username' ng-change='test.status="none"' type='text' class='form-control' id='username' ng-disabled='ajaxRunning()')
                      span.help-block #{__('Fill the username and password fields only if your MongoDB connection requires it')}.
                    div.form-group
                      label(for='password') #{__('Database Password')}
                      input(type='password' ng-model='settings.password' ng-change='test.status="none"' class='form-control' id='password' ng-disabled='ajaxRunning()')
                    div(ng-show="test.status=='success'")
                      div.text-success #{__('Successfull connection to the database')}
                    div(ng-show="test.status=='error'")
                      div.text-danger {{test.err.message}}: {{test.err.details}}

                    button.pull-left.btn.btn-info(ng-disabled='!infocomplete() || ajaxRunning()' ng-click='testConnection()' type='button')
                      &nbsp;{{testButton.label}}

                    button.pull-right.btn.btn-primary(type='button' ng-disabled="test.status!='success' || ajaxRunning()" ng-click='recordSettings()')
                      {{recordButton.label}}
                    .clearfix &nbsp;

                    div(ng-show="record.status=='error'")
                      .pull-right
                        div.text-danger {{record.err.message}}: {{record.err.details}}
                      .clearfix &nbsp;

          div(ng-hide='step != 2')
            div.form-container
              h2 #{__('Wonderful! The setup is complete')}.
              p #{__('Well you certainly were expecting a longer, and more complicated journey. Sorry')}.
              p.text-primary #{__('Please reload this page to get started with Linagora ESN')}.
