form.form-horizontal.compose.ng-cloak(ng-submit="send()")

  .compose-header
    .fields
      .form-group.select
        label.control-label #{__('From')}
        select.form-control(ng-model="email.identity", ng-options="ctrl.getIdentityLabel(identity) group by identity.description for identity in ctrl.identities", name="from")
      .form-group
        label.control-label #{__('To')}
        recipients-auto-complete.inbox-recipients.recipients-to(ng-model="email.to", template="recipients-auto-complete")
      .form-group.ng-hide(ng-hide="isCollapsed")
        label.control-label #{__('CC')}
        recipients-auto-complete.inbox-recipients.recipients-cc(ng-model="email.cc", template="recipients-auto-complete")
      .form-group.ng-hide(ng-hide="isCollapsed")
        label.control-label #{__('BCC')}
        recipients-auto-complete.inbox-recipients.recipients-bcc(ng-model="email.bcc", template="recipients-auto-complete")
    .inbox-more-recipients(ng-click="isCollapsed = !isCollapsed", ng-class="{ 'isCollapsed': isCollapsed }")
      i.mdi(ng-class="isCollapsed ? 'mdi-chevron-down' : 'mdi-chevron-up'")

  input.form-control.compose-subject(type="text", placeholder="#{__('Subject')}", ng-model="email.subject", ng-change="$updateTitle(email.subject)")

  email-body-editor

  .compose-footer.flex-space-between
    button.btn.btn-default.btn-link.btn-icon(feature-flag="linagora.esn.unifiedinbox.drafts", ng-click="destroyDraft()", type="button", ng-disabled="isSendingMessage", title="#{__('Delete')}")
      i.mdi.mdi-delete

    .compose-right-footer
      button.btn.btn-default.btn-link.btn-icon(feature-flag="linagora.esn.unifiedinbox.composer.attachments", type="button", ng-file-select="ctrl.onAttachmentsSelect($files)", data-multiple="true", ng-disabled="isSendingMessage", ng-class="{ 'btn-with-badge': attachmentStatus.number > 0 }")
        .badge-container
          .badge.composer-badge(ng-hide='attachmentStatus.number === 0', ng-class="{ error: attachmentStatus.error }") {{ attachmentStatus.number | maxPlus:99 }}
          i.mdi.mdi-paperclip(ng-class="{ uploading: attachmentStatus.uploading }")
      button.btn.btn-primary(type="submit", value="submit", ng-disabled="isSendingMessage") #{__('Send')}
        i.mdi.mdi-send