form.form-horizontal.compose(ng-submit="send()", fullscreen-edit-form-container)

  .compose-header
    .row
      .picture.col-sm-1.hidden-xs
        img(ng-controller='avatarController' ng-src='{{avatarURL}}')
      .recipients.col-xs-11.col-sm-10
        .form-group
          label.col-xs-1.control-label(for="to") #{__('To')}
          .col-xs-10
            recipients-auto-complete.hidden-sm.hidden-md.hidden-lg(ng-model="email.rcpt.to", template="fullscreen-recipients-auto-complete")
            recipients-auto-complete.hidden-xs(ng-model="email.rcpt.to", template="recipients-auto-complete")
        .form-group.ng-hide(ng-hide="isCollapsed")
          label.col-xs-1.control-label(for="cc") #{__('CC')}
          .col-xs-10
            recipients-auto-complete.hidden-sm.hidden-md.hidden-lg(ng-model="email.rcpt.cc", template="fullscreen-recipients-auto-complete")
            recipients-auto-complete.hidden-xs(ng-model="email.rcpt.cc", template="recipients-auto-complete")
        .form-group.ng-hide(ng-hide="isCollapsed")
          label.col-xs-1.control-label(for="bcc") #{__('BCC')}
          .col-xs-10
            recipients-auto-complete.hidden-sm.hidden-md.hidden-lg(ng-model="email.rcpt.bcc", template="fullscreen-recipients-auto-complete")
            recipients-auto-complete.hidden-xs(ng-model="email.rcpt.bcc", template="recipients-auto-complete")
      .more-recipients.col-xs-1(ng-class="{ 'isCollapsed': isCollapsed }")
        span(ng-click="isCollapsed = !isCollapsed")
            i.mdi.mdi-chevron-up

    input.form-control.compose-subject(type="text", placeholder="#{__('Subject')}", ng-model="email.subject")

  .compose-body(ng-model="email.htmlBody", ng-class="{ 'isCollapsed': isCollapsed }", editor-placeholder="#{__('Start writing your email here')}")
    summernote(config="summernoteOptions")
  .btn-group.compose-buttons(role="group", aria-label="label")
    button.btn.btn-primary(type="submit", value="submit") #{__('Send')}
      i.mdi.mdi-send