.message-bottom-links
  like-button(
    ng-show='::writable',
    target-object-type='"esn.message"',
    target-id='message._id',
    liked='message.likes.me.liked',
    on-liked='onMessageLiked()',
    on-unliked='onMessageUnliked()',
    total-likes="message.likes.total_count"
  )

