.contacts-list.col-xs-12
  .row.all-centered
    .col-xs-12.col-md-8
      .block-header.flex-space-between.flex-vertical-centered.flex-wrap
        h2 #{__('Contacts')}
        .contacts-list-toolbar
          .contacts-toggle
            contact-list-toggle
          .contacts-search
            input(type="text", ng-model="searchInput", ng-change='search()', ng-blur='appendQueryToURL()', ng-model-options="{ debounce: 600 }")
          .clear-input
            span.clickable.mdi.mdi-close(ng-click="clearSearchInput()", ng-show="searchInput")

        fab(ng-click='openContactCreation()')
  .vertiz-space
  .row
    .col-xs-12.text-center.contacts-search-results.fadeIn200ms(ng-switch="searchResult.count" ng-if="!!searchInput")
      span(ng-switch-when='0') #{__('No contacts found')}
      span(ng-switch-when='1') #{__('1 contact found')}
      span(ng-switch-default)
        span(ng-if='searchResult.formattedResultsCount.isFormatted') #{__('About')} 
        span(ng-if='searchResult.formattedResultsCount.hits') {{searchResult.formattedResultsCount.hits}} #{__('contacts found')}
  .row
    .col-xs-12
      .contact-error-container
  .vertiz-space

  .row
    .col-xs-12(infinite-scroll='scrollHandler()' infinite-scroll-distance='1' infinite-scroll-disabled='loadingNextContacts || searchFailure || lastPage')
      contact-list-displayer
      .text-center
        div.throbber(openpaas-logo-spinner, spinner-key='contactListSpinner')
