.col-xs-12.col-md-10.no-padding-xs
  .card.m-t-25.hidden-xs(ng-submit='accept()')
    .card-header.contact-header
      .row
        .col-xs-8
          h1 {{contact.displayName}}
        .col-xs-4
          .contact-buttons
            button.btn.btn-default(type='button', ng-click='close()')
              i.mdi.mdi-reply
              | #{__(' Back')}
            a(ng-href='#/contact/edit/{{::bookId}}/{{::contact.id}}')
              button.btn.btn-primary(ng-disabled='calling || !loaded', type='button')
                i.mdi.mdi-pencil
                | #{__(' Edit')}
    .card-body.contact-body
      .contact-error-container
      contact-display(ng-if='loaded && !error' contact='contact', formatted-birthday='formattedBirthday', default-avatar="defaultAvatar")

  .contact-header.visible-xs(ng-swipe-right='close()')
      .contact-controls-wrapper
        .contact-controls.row(data-offset-top="0" bs-affix)
          a.hover-scale-animation.col-xs-6(href='', ng-click='close()')
            i.mdi.mdi-arrow-left.m-l-5.m-r-5
            | #{__('Back')}
          div.hover-scale-animation.dropdown.pull-right.col-xs-6
            a.hover-scale-animation.p-l-5.p-r-10(ng-href='#/contact/edit/{{::bookId}}/{{::contact.id}}')
              i.mdi.mdi-pencil
  .contact-content.visible-xs.fadeIn200ms(ng-if='loaded && !error')
    .contact-avatar
      img(ng-src='{{contact.photo || defaultAvatar}}')
    .contact-error-container
      div.contact-fn
        | {{contact.displayName}}
      .contact-infos

        .contact-items-group(ng-if='phones && phones.length')
          i.mdi.mdi-phone
          div(ng-repeat='tel in phones track by $index')
            .contact-item-data
              p
                a(ng-href='tel:{{tel.value}}') {{tel.value}}
              p.type {{tel.type}}

        .contact-items-group(ng-if='emails && emails.length')
          i.mdi.mdi-email
          div(ng-repeat='email in emails track by $index')
            .contact-item-data
              p
                a(ng-href='mailto:{{email.value}}') {{email.value}}
              p.type {{email.type}}

        .contact-items-group(ng-if='contact.social && contact.social.length')
          i.mdi.mdi-account-circle
          div(ng-repeat='social in contact.social track by $index')
            .contact-item-data
              p {{social.value}}
              p.type {{social.type}}

        .contact-items-group(ng-if='shouldDisplayWork()')
          div
            p.title #{__('Work')}
          .contact-item-data(ng-if='contact.org[0]')
            p {{contact.org[0]}}
            p.type #{__('Company')}
          .contact-item-data(ng-if='contact.orgRole')
            p {{contact.orgRole}}
            p.type #{__('Job')}
          .contact-item-data(ng-if='contact.orgUri')
            p
              a(ng-href='{{contact.orgUri}}' target='_blank') {{contact.orgUri}}
            p.type #{__('Website')}
          .contact-item-data(ng-if="getAddress('work')" ng-model="address" ng-init="address = getAddress('work')")
            p {{address.street}}
            p {{address.zip}} {{address.city}}
            p {{address.country}}
            p.type #{__('Address')}

        .contact-items-group(ng-if='shouldDisplayHome()')
          div
            p.title #{__('Home')}
          .contact-item-data(ng-if="getAddress('home')" ng-model="address" ng-init="address = getAddress('home')")
            p {{address.street}}
            p {{address.zip}} {{address.city}}
            p {{address.country}}
            p.type #{__('Address')}
          .contact-item-data(ng-if='contact.nickname')
            p {{contact.nickname}}
            p.type #{__('Nickname')}
          .contact-item-data(ng-if='formattedBirthday')
            p {{formattedBirthday}}
            p.type #{__('Birthday')}

        .contact-items-group(ng-if='shouldDisplayOthers()')
          div
            p.title #{__('Others')}
          .contact-item-data(ng-if="getAddress('other')" ng-model="address" ng-init="address = getAddress('other')")
            p {{address.street}}
            p {{address.zip}} {{address.city}}
            p {{address.country}}
            p.type #{__('Address')}
          .contact-item-data(ng-if="contact.urls")
            p(ng-repeat='url in contact.urls')
              a(ng-href='{{url.value|prefixLink:"http"}}' target='_blank') {{url.value}}
            p.type #{__('Websites')}
          .contact-item-data(ng-if='contact.tags.length!=0')
            ul.tag-list
              li.tag-item(ng-repeat='tag in contact.tags track by $index') {{tag.text}}
          .contact-item-data(ng-if='contact.notes')
            p {{contact.notes}}
            p.type #{__('Comments')}
