.col-xs-12.col-md-10.no-padding-xs
  .card.card-contact(ng-submit='accept()')
    .card-header.contact-header.hidden-xs
      .row
        .col-xs-8
          h1 #{__('Edit a contact')}
        .col-xs-4
          .contact-buttons
            button.btn.btn-default(type='button', ng-click='close()')
              | #{__('Cancel')}
            button.m-r-15.btn.btn-primary(ng-disabled='calling || !loaded', type='button', ng-click='save()')
              i.mdi.mdi-check.m-r-5
              | #{__('Save')}
            .contact-dropdown.lv-actions.actions
              li.dropdown
                a(href='', data-toggle="dropdown" aria-expanded="false" aria-haspopup="true")
                  i.mdi.mdi-dots-vertical
              ul.dropdown-menu.dropdown-menu-right
                li
                  a(ng-click="deleteContact()") #{__('Delete')}
    .contact-header.visible-xs
      .contact-controls-wrapper
        .contact-controls.row(data-offset-top="0" bs-affix)
          a.hover-scale-animation.col-xs-6(href='', ng-click='save()')
            i.mdi.mdi-check.m-l-5.m-r-5
            | #{__('Save')}
          .col-xs-6.contact-dropdown.dropdown.pull-right
            a.hover-scale-animation.moreactions.dropdown-toggle(href='', data-toggle="dropdown" aria-expanded="false" aria-haspopup="true")
              i.mdi.mdi-dots-vertical.m-r-5
            ul.dropdown-menu.dropdown-menu-right(role="menu")
              li
                a(ng-click="deleteContact()") #{__('Delete')}
              li
                a(ng-click="close()") #{__('Cancel')}
    .card-body.card-padding.contact-body
      .contact-error-container
      contact-edition-form(ng-if='loaded && !error', contact='contact')
