.contacts-list(keep-scroll-position)

  .block-header
    h2 #{__('Contacts')}

  .contacts-list-toolbar
    .contacts-toggle
      contact-list-toggle
    .contacts-search
      input(type="text", ng-model="searchInput", ng-change='search()', ng-blur='appendQueryToURL()', ng-model-options="{ debounce: 600 }")

  button.btn.btn-float.bgm-accent.m-btn(type="button", ng-click="openContactCreation()")
    i.mdi.mdi-plus

  .vertiz-space
  .row
    .col-xs-12.text-center.contacts-search-results.fadeIn200ms(ng-switch="searchResult.count" ng-if="!!searchInput")
      span(ng-switch-when='0') #{__('No contacts found')}
      span(ng-switch-when='1') #{__('1 contact found')}
      span(ng-switch-default)
        span(ng-if='searchResult.formattedResultsCount.isFormatted') #{__('About')} 
        span(ng-if='searchResult.formattedResultsCount.hits') {{searchResult.formattedResultsCount.hits}} #{__('contacts found')}
  .row
    .col-xs-12
      .contact-error-container
  .vertiz-space

  .row
    .col-xs-12(infinite-scroll='scrollHandler()' infinite-scroll-distance='1' infinite-scroll-disabled='loadingNextSearchResults || searchFailure || lastPage || !searchInput')
      contact-list-displayer
