.block-header.hidden-xs
  h2 #{__('%s folder configuration', '{{ ::mailbox.name }}')}

.inbox-main-content.configuration.card
  form(ng-submit="editFolder()")
    .form-group.fg-line
      .field-name #{__('Rename')}
      input.form-control(ng-model="mailbox.name", required)
    .form-group.fg-line.select
      .field-name #{__('Is located under')}
      select.form-control(ng-model="mailbox.parentId", ng-options="mailbox.id as mailbox.qualifiedName for mailbox in mailboxes | orderBy: ['level', 'name']")

    .button-bar.hidden-xs
      input.btn.btn-default.pull-left(type="button", value="#{__('Delete')}", ng-click="confirmationDialog()")
      input.btn.btn-primary(type="submit", value="#{__('Edit')}")
      input.btn.btn-default(type="button", value="#{__('Cancel')}", ui-sref="unifiedinbox")

    .button-bar.visible-xs
      a.submit.btn.btn-default(href='', ng-click='confirmationDialog()')
        i.mdi.mdi-delete.m-l-5.m-r-5
        | #{__('Delete')}
