.calendars-configuration.card
  sub-header
    calendars-configuration-mobile-header.hidden-md
  .block-header.hidden-xs
    h2 #{__('Calendars configuration')}
  .card-body
    .listview
      .lv-body.no-padding
        a.lv-item(href="", ui-sref='calendar.add')
          .media
            .pull-left
              i.mdi.mdi-plus
              span #{__('Add a new calendar')}
        a.lv-item(ui-sref='calendar.public')
          .media
            .pull-left
              i.mdi.mdi-plus
              span #{__('Add a public calendar')}
        hr
        .lv-item
          .media
            .pull-left.calendars-configuration-title
              i.mdi.mdi-calendar
              span.name #{__('My calendars')}
        a.lv-item(href="", ng-repeat="calendar in $ctrl.userCalendars", ui-sref='calendar.edit({calendarId: calendar.id})')
          .media
            .pull-left
              i.mdi.mdi-label(ng-style="{'color': calendar.color}")
              span {{::calendar.name}}
        .lv-item
          .media
            .pull-left.calendars-configuration-title
              i.mdi.mdi-calendar
              span.name #{__('External calendars')}
        a.lv-item(href="", ng-repeat="calendar in $ctrl.sharedCalendars", ui-sref='calendar.external.shared({calendarId: calendar.id})')
          .media
            .pull-left
              i.mdi.mdi-label(ng-style="{'color': calendar.color}")
              span {{::calendar.name}}