.row.event-recurrence-edition
  .col-xs-12
    .form-group
      .input-group
        span.input-group-addon
          i.mdi.mdi-repeat
        .fg-line.select
          select.form-control(
            ng-model="event.rrule.freq",
            ng-options="item.value as item.label for item in RECUR_FREQ",
            ng-change="updateFlexClass()",
            ng-disabled="readOnly")
    .form-group.event-recurrence-flex-container(ng-show="event.rrule.freq !== undefined")
      .interval
        span.col-xs-3 #{__('Interval')}:
        .col-xs-9
          .fg-line.recurrence-interval-input
            input.input-sm.form-control(type="number", ng-model="event.rrule.interval", ng-disabled="readOnly")
          div(ng-switch="event.rrule.freq")
            span(ng-switch-default) #{__('days')}
            span(ng-switch-when="WEEKLY") #{__('weeks')}
            span(ng-switch-when="MONTHLY") #{__('months')}
            span(ng-switch-when="YEARLY") #{__('years')}
      .on-days(ng-if="event.rrule.freq === 'WEEKLY'")
        span.col-xs-3 #{__('On days')}:
        div.col-xs-9.labels
          label.checkbox.checkbox-inline(ng-repeat="day in WEEK_DAYS")
            input.form-control(ng-click="toggleWeekdays(day)", type="checkbox", ng-disabled="readOnly")
            i.input-helper {{day}}
      .end
        span.col-xs-3 #{__('End')}:
        div.radios.col-xs-9
            label.radio.radio-inline
              input.form-control(type="radio", name="inlineRadioEndOptions", ng-click="resetUntil(); resetCount();", checked, ng-disabled='readOnly')
              i.input-helper
              | #{__('Never')}
            label.radio.radio-inline
              input.form-control(type="radio", name="inlineRadioEndOptions", ng-click="resetUntil();", ng-checked="event.rrule.count", ng-disabled="readOnly")
              i.input-helper
              .input-group
                span.input-group-addon #{__('After')}
                .fg-line
                  input.input-sm.form-control(type="number", ng-model="event.rrule.count", ng-focus="selectEndRadioButton(1)", ng-disabled="readOnly")
                span.input-group-addon.last #{__('occurrences')}
            label.radio.radio-inline
              input.form-control(type="radio", name="inlineRadioEndOptions", ng-click="resetCount();", ng-checked="event.rrule.until", ng-disabled="readOnly")
              i.input-helper
              .input-group
                span.input-group-addon #{__('At')}
                .fg-line
                  input.input-sm.form-control(type="text", ng-model="event.rrule.until", ng-focus="selectEndRadioButton(2)", data-autoclose="1", data-min-date="today", data-start-week="1", data-date-format="yyyy/MM/dd", bs-datepicker, ng-disabled="readOnly")
