.row.event-date-edition
  .visible-xs
    .row.nomargin
      .col-xs-3.col-sm-2
        .form-group
          .fg-line
            i.mdi.mdi-clock
      .col-xs-9.col-sm-3
        .form-group
          .fg-line
            input.input.form-control(type="text", size="10", ng-model="event.start", data-autoclose="1", data-min-date="today", data-start-week="1", data-date-format="yyyy/MM/dd", placeholder="#{__('Start date')}", ng-change="onStartDateChange()", ng-blur="dateOnBlur()", bs-datepicker, aria-expanded="false", ng-disabled="disabled", date-to-moment)
          .fg-line(ng-if='!allDay')
            input.input.form-control(type="text", size="10", ng-model="event.start", data-autoclose="0", placeholder="#{__('Time')}", ng-change="onStartDateChange()", ng-blur="dateOnBlur()", clockpicker-wrapper, aria-expanded="false", ng-disabled="disabled")
    .row.nomargin
      .col-xs-3.col-sm-2
        .form-group
          .fg-line
            i.mdi.mdi-arrow-right
      .col-xs-9.col-sm-3
        .form-group
          .fg-line
            input.input.form-control(type="text", size="10", class="form-control", ng-model="event.end", data-autoclose="1", data-min-date="{{getMinDate()}}", data-start-week="1", data-date-format="yyyy/MM/dd", placeholder="#{__('End date')}", ng-change="onEndDateChange()", aria-expanded="false", ng-disabled="disabled", ng-blur="dateOnBlur()", bs-datepicker, date-to-moment, friendlify-end-date)
          .fg-line(ng-if='!allDay')
            input.input(type="text", size="10", class="form-control", ng-model="event.end", data-autoclose="0", data-min-time="{{getMinTime()}}", placeholder="#{__('Time')}", ng-change="onEndDateChange()", aria-expanded="false", ng-disabled="disabled", ng-blur="dateOnBlur()", clockpicker-wrapper)
  .hidden-xs
    .col-xs-3.col-sm-2
      .form-group
        .fg-line
          i.mdi.mdi-clock
    .col-xs-9.col-sm-3
      .form-group
        .fg-line
          input.input.form-control(type="text", size="10", ng-model="event.start", data-autoclose="1", data-min-date="today", data-start-week="1", data-date-format="yyyy/MM/dd", placeholder="#{__('Start date')}", ng-change="onStartDateChange()", ng-blur="dateOnBlur()", bs-datepicker, aria-expanded="false", ng-disabled="disabled", date-to-moment)
        .fg-line(ng-if='!allDay')
          input.input.form-control(type="text", size="10", ng-model="event.start", data-autoclose="0", placeholder="#{__('Time')}", ng-change="onStartDateChange()", ng-blur="dateOnBlur()", clockpicker-wrapper, aria-expanded="false", ng-disabled="disabled")
    .col-xs-3.col-sm-2
      .form-group
        .fg-line
          i.mdi.mdi-arrow-right
    .col-xs-9.col-sm-3
      .form-group
        .fg-line
          input.input.form-control(type="text", size="10", class="form-control", ng-model="event.end", data-autoclose="1", data-min-date="{{getMinDate()}}", data-start-week="1", data-date-format="yyyy/MM/dd", placeholder="#{__('End date')}", ng-change="onEndDateChange()", aria-expanded="false", ng-disabled="disabled", ng-blur="dateOnBlur()", bs-datepicker, date-to-moment, friendlify-end-date)
        .fg-line(ng-if='!allDay')
          input.input(type="text", size="10", class="form-control", ng-model="event.end", data-autoclose="0", data-min-time="{{getMinTime()}}", placeholder="#{__('Time')}", ng-change="onEndDateChange()", aria-expanded="false", ng-disabled="disabled", ng-blur="dateOnBlur()", clockpicker-wrapper)
  .col-xs-12.col-sm-2
    .form-group
      .fg-line
        .checkbox.allday
          label
            input(type="checkbox", ng-model='allDay', ng-disabled="disabled", ng-change="allDayOnChange(); setEventDates();")
            i.input-helper #{__('All day')}
