.form-group.fg-line(ng-class='{"has-error": !$ctrl.calendar.name}')
  .field-name #{__('Name')}
  input.form-control(type="text", placeholder="#{__('Enter a name')}", ng-model="$ctrl.calendar.name", maxlength="255")

.public-access-line.public-access-visibility-line
  i.mdi.mdi-account-multiple.big
  .public-access-line-visibility-key.col-xs-4
    | #{__('Public right')}
  .public-access-line-visibility-value.form-group.col-xs-8
    .select
      select.form-control(ng-model='$ctrl.publicSelection', ng-disabled="!$ctrl.canModifyPublicSelection")
        option(ng-repeat="publicRight in ::$ctrl.publicRights" value="{{publicRight.value}}" ng-selected="publicRight.value === $ctrl.publicSelection") {{ publicRight.name }}

div(ng-if="$ctrl.sharedCalendarOwner")
  .public-access-line.public-access-visibility-line
    i.mdi.mdi-account-switch.big
    .public-access-line-visibility-key.col-xs-4
      | #{__('Shared by')}
    .public-access-line-visibility-value.calendar-owner.form-group.col-xs-8
      a.attendee-avatar.margin-right-15(href="", ng-attr-title="$ctrl.user.displayName")
        esn-avatar(user-email="{{$ctrl.sharedCalendarOwner.preferredEmail}}")
      | {{ $ctrl.displayNameOfSharedCalendarOwner }}

  .public-access-line.public-access-visibility-line(ng-if="$ctrl.shareeRight")
    i.mdi.mdi-account-key.big
    .public-access-line-visibility-key.col-xs-4
      | #{__('Your permission')}
    .public-access-line-visibility-value.form-group.col-xs-8
      | {{ $ctrl.shareeRight }}

.form-group.flex-vertical-centered
  .field-name #{__('Color')}
  .color-picker-container(calendar-color-picker-toggler, color="$ctrl.calendar.color")
    // .select > .form-control is mandatory here for the select-like behavior
    // of material-admin
    .select
      .form-control
    i.color-picker-value(ng-style="{'background-color': $ctrl.calendar.color}")
span.delete-calendar-button(ng-if="$ctrl.canDeleteCalendar()", type="button", ng-click="$ctrl.openDeleteConfirmationDialog()")
  span(ng-if="!$ctrl.isSubscription") #{__('Delete this calendar')}
  span(ng-if="$ctrl.isSubscription") #{__('Unsubscribe from this calendar')}
