.inbox-list-header(ng-class="{ searching: $ctrl.searching }")
  inbox-filter-button.clickable(ng-if="$ctrl.filters.length > 0", filters="$ctrl.filters")
  .inbox-list-header-group(ng-if="!$ctrl.searching", ng-switch="$ctrl.group.name")
    span(ng-switch-when="Today") #{__('Today')}
    span(ng-switch-when="Yesterday") #{__('Yesterday')}
    span(ng-switch-when="This week") #{__('This week')}
    span(ng-switch-when="Last week") #{__('Last week')}
    span(ng-switch-when="This month") #{__('This month')}
    span(ng-switch-when="Last month") #{__('Last month')}
    span(ng-switch-when="This year") #{__('This year')}
    span(ng-switch-when="Old messages") #{__('Old messages')}
  .inbox-list-header-actions
    .inbox-list-header-quick-filter
      inbox-filter-input.hidden-xs(filter="$ctrl.quickFilter", on-change="$ctrl.setQuickFilter($filter)")
      inbox-filter-input.visible-xs(ng-if="$ctrl.searching", auto-focus-input="true", filter="$ctrl.quickFilter", on-change="$ctrl.setQuickFilter($filter)", on-blur="$ctrl.searching = false")
      i.clickable.mdi.mdi-magnify.visible-xs(ng-if="!$ctrl.searching", ng-click="$ctrl.searching = true", ng-class="{ active: $ctrl.quickFilter }")
    inbox-list-group-toggle-selection
