.calendar-configuration.card.form-container
  sub-header
    calendar-configuration-header
  .block-header.hidden-xs
    h2 #{__('Calendar configuration')}
  .row
    .col-xs-12
      calendar-configuration-tabs(
        selected-tab = "$ctrl.selectedTab",
        get-main-view = "$ctrl.getMainView",
        is-admin = "$ctrl.isAdmin",
        new-calendar = "$ctrl.newCalendar",
        get-delegation-view = "$ctrl.getDelegationView"
      )
      .card-body.calendar-configuration-body
        form(ng-submit='$ctrl.submit()')
          calendar-configuration-tab-main(
            ng-show='$ctrl.selectedTab === "main"',
            calendar = "$ctrl.calendar",
            new-calendar= "$ctrl.newCalendar",
            is-default-calendar= "$ctrl.isDefaultCalendar",
            open-delete-confirmation-dialog = "$ctrl.openDeleteConfirmationDialog",
            mobile-cancel = "$ctrl.mobileCancel",
            cancel = "$ctrl.cancel",
            submit = "$ctrl.submit"
          )
          calendar-configuration-tab-delegation(
            ng-show='$ctrl.selectedTab === "delegation"',
            delegation-types="$ctrl.delegationTypes",
            delegations="$ctrl.delegations",
            selection="$ctrl.selectedShareeRight",
            public-selection = "$ctrl.publicSelection",
            public-rights = "$ctrl.publicRights",
            go-to-edit-delegation = "$ctrl.goToEditDelegation",
            new-users-groups= "$ctrl.newUsersGroups",
            add-user-group = "$ctrl.addUserGroup",
            remove-user-group = "$ctrl.removeUserGroup",
            on-adding-user = "$ctrl.onAddingUser"
          )
