.calendar-configuration.card.form-container
  sub-header
    calendar-configuration-header.hidden-md
  .block-header.hidden-xs
    h2 #{__('Calendar configuration')}
  .row
    .col-xs-12.no-padding-xs
      ul.esn-tab
        li.btn-wave(ng-class="{'active': vm.selectedTab === 'main'}")
          a(href="", ng-click="vm.getMainView()")
            | #{__('Main')}
        li.btn-wave(ng-class="{'active': vm.selectedTab === 'delegation'}", ng-show='isAdmin && !newCalendar')
          a(href="", ng-click="vm.getDelegationView()")
            | #{__('Delegation')}
      .card-body.m-t-25
        form(ng-submit='vm.submit()')
          div(ng-show='vm.selectedTab === "main"')
            .form-group.fg-line(ng-class='{"has-error": vm.calendar.name.length < 1}')
              .field-name #{__('Name')}
              input.form-control(type="text", placeholder="#{__('Enter a name')}", ng-model="vm.calendar.name", maxlength="255")
              span.help-block(ng-show="vm.calendar.name.length < 1")
                | #{__('Please input a name if you want to save this calendar')}
            .form-group.flex-vertical-centered
              .field-name #{__('Color')}
              .color-picker-container(calendar-color-picker-toggler, color="vm.calendar.color")
                // .select > .form-control is mandatory here for the select-like behavior
                // of material-admin
                .select
                  .form-control
                i.color-picker-value(ng-style="{'background-color': vm.calendar.color}")
            .visible-xs
              span.delete-calendar-button.flex-vertical-centered(ng-if="!vm.newCalendar", type="button", ng-click="vm.openDeleteConfirmationDialog()")
                | #{__('Delete this calendar')}
            .hidden-xs
              span.delete-calendar-button.flex-vertical-centered.m-t-10.pull-left.clickable(ng-if="!vm.newCalendar", type="button", ng-click="vm.openDeleteConfirmationDialog()")
                | #{__('Delete this calendar')}
              span.pull-right
                button.btn.btn-default.btn-sm.m-t-10.visible-xs(type="button", ng-click="vm.mobileCancel()") #{__('Return to calendar')}
                button.btn.btn-default.btn-sm.m-t-10.hidden-xs(type="button", ng-click="vm.cancel()") #{__('Return to calendar')}
                button.btn.btn-primary.btn-sm.m-t-10(type="button", ng-click="vm.submit()")
                  span(ng-if='vm.newCalendar') #{__('Create')}
                  span(ng-if='!vm.newCalendar') #{__('Save')}
              .clearfix
          .delegation(ng-show='selectedTab === "delegation"')
            .row.public.flex-wrap.flex-vertical-centered
              .col-sm-6.col-xs-12
                i.mdi.mdi-account-multiple.vertical-align.big
                span.vertical-align
                  | #{__('Public read')}
              .col-sm-6.col-xs-12
                span.vertical-align
                  .input-group
                    span.input-group-addon
                      i.mdi.mdi-eye
                    .fg-line
                      .select
                        select.form-control(ng-model='publicSelection')
                          option(ng-repeat="delegationType in ::delegationTypes" value="{{delegationType.value}}" ng-selected="none" ng-if="delegationType.access==='all'") {{ delegationType.name }}
            .row.public.flex-wrap.flex-vertical-centered.hidden-md
                .col-sm-6.col-xs-12
                  .btn-group.btn-addusers
                    button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false")
                      i.mdi.mdi-account-multiple-plus
                      | #{__('Add users and groups delegation')}
                    ul.dropdown-menu(role="menu")
                      li(ng-repeat="delegationType in ::delegationTypes" ng-if="delegationType.access==='all'")
                        a(ng-click="goToEditDelegation()")
                          | {{delegationType.name}}
            hr
            .row.hidden-xs
              .col-sm-12.col-xs-12
                span #{__('Delegation on this calendar')}
            .row.hidden-xs
              .col-sm-6.col-xs-12
                users-autocomplete-input(mutable-users='newUsersGroups')
              .col-sm-4.col-xs-8
                span
                  .select
                    select.addDelegation.form-control(ng-model='selection')
                      option(ng-repeat="delegationType in ::delegationTypes" value="{{delegationType.value}}" ng-selected="none") {{delegationType.name}}
               .col-sm-2.col-xs-4
                .btn.btn-primary.btn-sm(ng-click="addUserGroup()") #{__('Add')}

            hr
            .row.hidden-xs(ng-repeat="delegation in delegations")
              .row.no-margin
                .col-sm-offset-1.col-sm-1.col-xs-2
                  a.attendee-avatar(href="", ng-attr-title='delegation.user.displayName')
                    img(src='/images/user.png', fallback-src='/images/user.png', ng-src='/api/avatars?email={{ delegation.user.email | urlencode }}')
                .col-sm-4.col-xs-4.name
                  span {{ delegation.user.displayName }}
                .col-sm-4.col-xs-4
                  span
                    .select
                      select.form-control(ng-model='delegation.selection')
                        option(ng-repeat="delegationType in ::delegationTypes" value="{{delegationType.value}}" ng-selected="delegationType.value === delegation.selection") {{delegationType.name}}
                .col-sm-2
                  a(href="", ng-click='removeUserGroup(delegation)')
                    i.mdi.mdi-delete
              hr
