.calendar-configuration.card.form-container
  sub-header
    calendar-configuration-header
  .calendar-configuration-title.hidden-xs
    h2 #{__('Calendar configuration')}
  .row
    .col-xs-12
      calendar-configuration-tabs(
        selected-tab = "$ctrl.selectedTab",
        new-calendar= "$ctrl.newCalendar",
        calendar = "$ctrl.calendar"
      )
      .card-body.calendar-configuration-body
        form(ng-submit='$ctrl.submit()')
          calendar-configuration-tab-main(
            ng-if="$ctrl.calendar",
            ng-show='$ctrl.selectedTab === "main"',
            calendar = "$ctrl.calendar",
            calendar-home-id = "$ctrl.calendarHomeId"
            new-calendar= "$ctrl.newCalendar",
            public-selection = "$ctrl.publicSelection",
          )
          calendar-configuration-tab-delegation(
            ng-show='$ctrl.selectedTab === "delegation"',
            delegations="$ctrl.delegations",
            selected-sharee-right="$ctrl.selectedShareeRight",
            new-users-groups= "$ctrl.newUsersGroups",
            add-user-group = "$ctrl.addUserGroup",
            remove-user-group = "$ctrl.removeUserGroup",
          )
