mixin attendeeDisplay(mail, details)
  div
    if (details.cn)
      span #{details.cn} <
        span.small #{mail}
      | >,
    else
      span.small #{mail}

doctype html
html.mail
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style
      include ../css/media.less

  body
    .wrapper
      br
      .mail-content

        table
          tr.table-header
            td(colspan="3")
              div
                a(href="http://localhost:8080/")
                  img(src="cid:logo", alt="open-paas logo")
            td.organizer(colspan="2")
              h5
                p
                  | #{content.event.organizer.cn} (
                  span.small #{content.event.organizer.mail}
                  | )
                p.big has invited you to a meetings!
            td.avatar
              img(src="#{content.event.organizer.avatar}", alt="organizer avatar", width="45px", height="42px")
          tr
            th(colspan="6").title #{content.event.summary}
          tr
            td
              img(src="cid:access_time", alt="From")
            td
              p #{content.event.start.date}
              p #{content.event.start.time}
            td
              img(src="cid:keyboard_arrow_right", alt="To")
            td
              p #{content.event.end.date}
              p #{content.event.end.time}
            td.small no recurrence
            td
              a(href='#{content.baseUrl}/#/calendar') See in calendar
          tr
            td
              img(src="cid:place", alt="Location")
            td(colspan="4") #{content.event.location}
            td
              a(href='http://localhost:8080/') Map
          tr
          tr
            td
              img(src="cid:people", alt="Attendees")
            td(colspan="5")
              each details, mail in content.event.attendees
                span
                  +attendeeDisplay(mail, details)
          tr
            td
              img(src="cid:format_align_justify", alt="Description")
            td(colspan="5") #{content.event.description}
          tr
            td
              img(src="cid:folder_open", alt="Files")
            td(colspan="5")
              span file.odt
          tr.table-footer
            td.attend-question(colspan="3")
              | Will you attend to this event ?
            td(colspan="1")
              a.green(href="http://localhost:8080/") Yes
            td(colspan="1")
              a.blue(href="http://localhost:8080/") Maybe
            td(colspan="1")
              a.red(href="http://localhost:8080/") No

      footer
        div.footer
          a(href='#{content.baseUrl}/#/calendar') More details...
