mixin attendeeDisplay(mail, partstat)
  div
    span #{mail},

doctype html
html.mail
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style
      include ../css/media.less

  body
    .wrapper
      br
      .mail-content

        table
          tr.table-header
            td(colspan="3")
              div.logo
                a(href="http://localhost:8080/")
                  img(src="cid:logo", alt="open-paas logo")
            td(colspan="2")
              h5
                p #{content.event.organizer}
                p invited you to a meetings!
            td
              img(src="#{content.user.avatar}", alt="user avatar", style="background:white;", width="45px", height="42px")
          tr
            th(colspan="6").title #{content.event.summary}
          tr
            td
              img(src="cid:access_time", alt="to logo")
            td
              p #{content.event.start.date}
              p #{content.event.start.time}
            td
              img(src="cid:keyboard_arrow_right", alt="to logo")
            td
              p #{content.event.end.date}
              p #{content.event.end.time}
            td.small no recurrence
            td
              a(href='http://localhost:8080/') See in calendar
          tr
            td
              img(src="cid:place", alt="location-arrow logo")
            td(colspan="4") #{content.event.location}
            td
              a(href='http://localhost:8080/') Map
          tr
          tr
            td
              img(src="cid:people", alt="users logo")
            td(colspan="5")
              each partstat, mail in content.event.attendees
                span
                  +attendeeDisplay(mail, partstat)
          tr
            td
              img(src="cid:format_align_justify", alt="bars logo")
            td(colspan="5") #{content.event.description}
          tr
            td
              img(src="cid:folder_open", alt="folder-o logo")
            td(colspan="5")
              span file.odt
          tr.table-footer
            td(colspan="2")
              a.green(href="http://localhost:8080/") Yes
            td(colspan="3")
              a.blue(href="http://localhost:8080/") Maybe
            td(colspan="1")
              a.red(href="http://localhost:8080/") No

      footer
        .producer
          a.linagora(href="http://localhost:8080/") More details...
