.action-list(ng-click='$hide(); $event.stopPropagation()')
  .action
    a(ng-click='ctrl.markAsUnread()', title="#{__('Unread')}")
      i.mdi.mdi-eye-off
      span.label
        | #{__('Unread')}
  .action
    a(ng-click='ctrl.markAsFlagged()', title="#{__('Star')}")
      i.mdi.mdi-star
      span.label
        | #{__('Star')}
  .action
    a(ng-click='ctrl.unmarkAsFlagged()', title="#{__('Unstar')}")
      i.mdi.mdi-star-off
      span.label
        | #{__('Unstar')}
  .action
    a(ng-click='ctrl.move()', title="#{__('Move to')}")
      i.mdi.mdi-folder-move
      span.label
        | #{__('Move to')}
