<p>
  The user <%= firstname %> <%= lastname %>, sent a new feedback:
</p>
<p>
  Title : <%= subject %>
  
  <%= content %>
</p>
Sincerely,
The OpenPaaS Team!
<footer>
  Reply to this email directly to answer the message <a href="<%= email %>">here</a>.
</footer>
