.card
  .card-header.ch-alt
    h2.title.ellipsis #{__('Membership requests')}

  .card-body.card-padding
    .alert.alert-danger(ng-show="ctrl.error", ng-switch="ctrl.error", role="alert")
      span(ng-switch-when="403") #{__('Error, you do not have the permission to read memberships')}.
      span(ng-switch-default) #{__('Error while getting memberships')}.

    span(ng-show="ctrl.loading") #{__("Loading membership requests")}
    span(ng-show="!ctrl.requests && !ctrl.error") #{__("You have no notifications")}

  .listview
    .lv-body(ng-show="ctrl.requests && !ctrl.error")
      div(ng-repeat="request in ctrl.requests | filter: {workflow: 'request'}")
        esn-collaboration-member-avatar(member="request", collaboration="ctrl.collaboration")
        collaboration-membership-requests-actions(user='request.user', collaboration='ctrl.collaboration', object-type="{{ctrl.objectType}}")