.card-body.card-padding(ng-if="ctrl.error")
  .alert.alert-danger(ng-switch="ctrl.error", role="alert")
    span(ng-switch-when="403") #{__('Error, you do not have the permission to read memberships')}.
    span(ng-switch-default) #{__('Error while getting memberships')}.

.card-body.card-padding(ng-if="ctrl.loading")
  span #{__("Loading membership requests")}

.card-body.card-padding(ng-if="!ctrl.loading && !ctrl.requests && !ctrl.error")
  span #{__("You have no notifications")}

.listview
  .lv-body(ng-show="ctrl.requests && !ctrl.error")
    .collaboration-membership-requests-members(ng-repeat="request in ctrl.requests | filter: {workflow: 'request'}")
      esn-collaboration-member-avatar(member="request", collaboration="ctrl.collaboration")
      esn-collaboration-membership-requests-actions(user='request.user', collaboration='ctrl.collaboration', object-type="{{ctrl.objectType}}")

.div(ng-if="!ctrl.requests.length")
  .no-request.text-center
    span #{__('No pending request')}