.col-xs-12.col-md-10.esn-panel
  .row
    h2.esn-communities-header
      ul.list-inline
        li
          i.mdi.mdi-cloud
          | #{__('Module Manager')}
  .vertiz-space

  .row
    .col-xs-12
      p.alert.alert-warning
        | #{__('You are about to install new modules in the community')}
        strong &nbsp;'{{::community.title}}'
        | .

  .row.alert.alert-info(ng-show="loading", role="alert")
    p #{__('Loading modules...')}
  .row.alert.alert-danger(ng-show="error && !loading", role="alert")
    p #{__('Error while loading modules !')}
  .row.alert.alert-info(ng-show="!loading && !error && applications.length === 0", role="alert")
    p #{__('There are no modules yet.')}
  .vertiz-space

  .row.text-center(ng-if="applications")
    div(ng-repeat="application in applications | orderBy:'title'")
      community-app-display(community="community", application="application")

  .row
    .col-xs-12
      a.btn.btn-info(href="/#/communities/{{::community._id}}")
        i.mdi.mdi-arrow-left
        | #{__('Go back to the community')}
  .vertiz-space
