.card.m-b-0
  .card-header
    .media
      a.pull-left(ui-sref="profile({user_id: entry.actor._id})")
        img.lv-img(src='/images/user.png', ng-src='/api/users/{{::entry.actor._id}}/profile/avatar', alt=__("User Avatar"))
      .media-body
        h2(ng-if='entry.object._id === user._id')
          a(ui-sref="profile({user_id: entry.actor._id})") {{::entry.actor.displayName}}
          span(ng-if='entry.inReplyTo.length > 0') &nbsp;#{__('replied to')}
          span(ng-if='entry.inReplyTo.length === 0') &nbsp;#{__('posted')}
          a(ng-if='entry.inReplyTo.length > 0', ng-href="#/messages/{{::entry.inReplyTo[0]._id}}/activitystreams/{{::entry.target[0]._id}}") &nbsp;#{__('a message')}
          a(ng-if='entry.inReplyTo.length === 0', ng-href="#/messages/{{::entry.object._id}}/activitystreams/{{::entry.target[0]._id}}") &nbsp;#{__('a message')}
        h2(ng-if='entry.actor._id === user._id')
          span #{__('You')}
          span(ng-if='entry.inReplyTo.length > 0') &nbsp;#{__('replied to')}
          span(ng-if='entry.inReplyTo.length === 0') &nbsp;#{__('posted')}
          a(ng-if='entry.inReplyTo.length > 0', ng-href="#/messages/{{::entry.inReplyTo[0]._id}}/activitystreams/{{::entry.target[0]._id}}") &nbsp;#{__('a message')}
          a(ng-if='entry.inReplyTo.length === 0', ng-href="#/messages/{{::entry.object._id}}/activitystreams/{{::entry.target[0]._id}}") &nbsp;#{__('a message')}
        small
          span(am-time-ago="::entry.published")
