.modal
  .modal-dialog
    .modal-content.action-list
      .action
        a(ng-click='ctrl.forward(); $hide()', title="#{__('Forward')}")
          i.mdi.mdi-forward
          span.label
            | #{__('Forward')}
      .action
        a(ng-click='ctrl.reply(); $hide()', title="#{__('Reply')}")
          i.mdi.mdi-reply
          span.label
            | #{__('Reply')}
      .action
        a(ng-click='ctrl.replyAll(); $hide()', title="#{__('Reply all')}")
          i.mdi.mdi-reply-all
          span.label
            | #{__('Reply all')}
      .action
        a(ng-click='ctrl.markAsUnread(); $hide()', title="#{__('Mark as unread')}")
          i.mdi.mdi-eye-off
          span.label
            | #{__('Mark as unread')}
      .action
        a(ng-click='ctrl.moveToTrash(); $hide()', title="#{__('Delete')}")
          i.mdi.mdi-delete
          span.label
            | #{__('Delete')}