.lv-footer
  .action
    a(ng-click="ctrl.forward()", title="#{__('Forward')}")
      i.mdi.mdi-forward
      span.label
        | #{__('Forward')}
  .action
    a(ng-click="ctrl.reply()", title="#{__('Reply')}")
      i.mdi.mdi-reply
      span.label
        | #{__('Reply')}
  .action
    a(ng-click="ctrl.replyAll()", title="#{__('Reply all')}")
      i.mdi.mdi-reply-all
      span.label
        | #{__('Reply all')}
