.card(ng-class='{"isCollapsed": email.isCollapsed}')

  .email-header(ng-click="ctrl.toggleIsCollapsed(email)", ng-class='{"clickable": email.isCollapsed != undefined}')

    .avatarify
      .from
        label.line-header #{__('From')}:
        emailer(emailer="::email.from")
      .to
        label.line-header #{__('To')}:
        emailer-group(group="::email.to")
      .cc
        label.line-header #{__('CC')}:
        emailer-group(group="::email.cc")
      .preview.ellipsis.line-header {{::email.preview}}

    .email-header-right
      ul.actions
        li.action-item
          a(ng-click="ctrl.replyAll(); $event.stopPropagation()" title="#{__('Reply all')}")
            i.mdi.mdi-reply-all
        li.action-item
          a(action-list="/unifiedinbox/views/email/view/action-list.html", title="#{__('More')}")
            i.mdi.mdi-view-module
      .flex-space-between.flex-vertical-centered.horiz-space
        inbox-star(item='::email')
        span.action-item.date {{::email.date | date:'short' }}

  .email-body
    html-email-body(ng-if="email.htmlBody", email="::email")
    .lv-item.multilines(ng-if="!email.htmlBody") {{ ::email.textBody }}

  .lv-footer.attachments(ng-if="email.attachments.length > 0")
    inbox-attachment(ng-repeat="attachment in email.attachments", ng-if="::!attachment.isInline", attachment="::attachment")
