.email-view.col-xs-12.col-md-10

  ul.actions
    li
      a(ng-href="/#/unifiedinbox/{{::mailbox}}" title="#{__('Go back to mailbox')}")
        i.mdi.mdi-v-centered.mdi-folder
    li
      a(ng-click="moveToTrash()" title="#{__('Move to trash')}")
        i.mdi.mdi-v-centered.mdi-delete

  .block-header
    h2.subject {{::email.subject}}
    h3.headers
      .text-right
        span.date {{::email.date | date:'short' }}
        i.mdi.mdi-clock
      .avatarify
        .from
          span.line-header #{__('From')}:
          emailer(emailer="::email.from")
        .to
          span.line-header #{__('To')}:
          emailer-group(group="::email.to")
        .cc
          span.line-header #{__('CC')}:
          emailer-group(group="::email.cc")

  .email-body
    html-email-body(ng-if="email.htmlBody", email="::email")
    .lv-item.multilines(ng-if="!email.htmlBody") {{::email.textBody}}
    .lv-item(ng-if="!email.htmlBody && !email.textBody") {{::email.preview}}
      .text-center(openpaas-logo-spinner, spinner-start-active='1',spinner-size='0.5')

  .lv-footer(ng-if="email.attachments.length > 0")
    .attachments
      i.title.mdi.mdi-attachment #{__('Attachments')}
      inbox-attachment(ng-repeat="attachment in ::email.attachments", ng-if="::!attachment.isInline", attachment="::attachment")
