.multi-input-content
  .form-group(ng-repeat='item in content track by $index' resetable-input)
    div
      .col-xs-4.col-sm-3
        .fg-line
          .select
            select.form-control.multi-input-type(
              ng-init="item.type = item.type || types[0]",
              ng-model='item.type',
              ng-options='type as (type | esnI18n) for type in types',
              ng-change="onTypeChange($index)"
            )
      .col-xs-8.col-sm-9
        .fg-line
          input.form-control.multi-input-text(type='text', ng-model='item.street', placeholder=__("Street"), ng-model-options="{allowInvalid: true}", ng-change='verifyNew($index)', ng-focus="onFocusFn($index)", ng-blur="hideDeleteButton($index)")
          i.clickable.mdi.mdi-minus-circle-outline.button-remove(ng-show="showDeleteButtonArray[$index]", ng-click="deleteField($index)")
    div
      div
        .col-xs-4.col-sm-3
          .fg-line
            input.form-control(type='text', ng-model='item.zip', placeholder=__("Zip"), ng-model-options="{allowInvalid: true}", ng-change='verifyNew($index)', ng-focus="onFocusFn($index)", ng-blur="hideDeleteButton($index)")
        .col-xs-8.col-sm-9
          .fg-line
            input.form-control(type='text', ng-model='item.city', placeholder=__("City"), ng-model-options="{allowInvalid: true}", ng-change='verifyNew($index)', ng-focus="onFocusFn($index)", ng-blur="hideDeleteButton($index)")
      .col-xs-12
        .fg-line
          input.form-control(type='text', ng-model='item.country', placeholder=__("Country"), ng-model-options="{allowInvalid: true}", ng-change='verifyNew($index)', ng-focus="onFocusFn($index)", ng-blur="hideDeleteButton($index)")
.multi-input-button.clickable(ng-if="showAddButton" ng-click="addField()")
  .form-group
    .col-xs-12.flex-vertical-centered.m-t-10.m-b-10
      i.mdi.mdi-plus-circle.button-add.m-r-5
      | #{__("Add a new address")}
