.timeline-view.event-message(data-tv-type="event", ng-class="{'timeline-view-liner': parentMessage, 'just-posted': message._id === lastPost.messageId, 'esn-panel': parentMessage, 'thread': parentMessage}")
  .tv-header.media
    a.tvh-user.pull-left(href='#')
      img.img-responsive(src='/images/user.png', ng-src='/api/users/{{message.author._id}}/profile/avatar')
    .media-body.p-t-5
      i.mdi.mdi-email(ng-show='message.source === "email"', title='sent via email reply')
      strong {{message.author.firstname}} {{message.author.lastname}}
      span &nbsp;#{__('created an event')}
      br
      message-date-link(message='message', activitystream='activitystream')
      .share
        message-bottom-links
      activity-stream-origin(ng-if='parentMessage && !message.isOrigin', streams='message.streamOrigins')
  .tv-body
    display-position(position='message.position')
    .loading.text-center
      .throbber(openpaas-logo-spinner, spinner-key='activityStreamSpinner', spinner-size='0.3', spinner-start-active)
      | #{__('Loading calendar event data, please wait...')}

    p.multilines {{event.description}}

    p
      .event-details
        .text-center
          strong.dates {{event.formattedDate}} #{__('from')} {{event.formattedStartTime}}&nbsp;
            sup {{event.formattedStartA}}
            |&nbsp; #{__('to')} {{event.formattedEndTime}}&nbsp;
            sup {{event.formattedEndA}}
          .vertiz-space(style='color: #666' ng-show='event.location')
            u #{__('Location:')}
            | &nbsp;{{event.location}}
          .vertiz-space
            strong #{__('Do you want to participate?')}
          .vertiz-space
            button.btn.btn-link.accepted(ng-click='changeParticipation("ACCEPTED")', ng-class='{ selected: partstat == "ACCEPTED" }') #{__('Yes')}
            button.btn.btn-link.declined(ng-click='changeParticipation("DECLINED")', ng-class='{ selected: partstat == "DECLINED" }') #{__('No')}
            button.btn.btn-link.undecided(ng-click='changeParticipation("TENTATIVE")', ng-class='{ selected: partstat == "TENTATIVE" }') #{__('Maybe')}
        .attendees
          .statusrow(ng-if='attendeesPerPartstat.ACCEPTED > 0') #{__('Going')}#{': '}
            span(ng-repeat="attendee in event.attendees | partstat:'ACCEPTED' track by attendee.email")
              a(ng-href='mailto:{{attendee.email}}' title='{{attendee.fullmail}}') {{attendee.name}}
              span(ng-if='!$last') #{', '}
          .statusrow(ng-if='attendeesPerPartstat.DECLINED > 0') #{__('Not Going')}#{': '}
            span(ng-repeat="attendee in event.attendees | partstat:'DECLINED' track by attendee.email")
              a(ng-href='mailto:{{attendee.email}}' title='{{attendee.fullmail}}') {{attendee.name}}
              span(ng-if='!$last') #{', '}

    .row
      message-attachments(message='message')
    .row
      message-oembeds(message='message')
  .tv-comments
    message-comments
