.media
  div(ng-show='error')
    p #{__('Error while getting notification')}
  div(ng-show='loading && !error')
    p #{__('Loading notifications')}
  div(ng-hide='loading || error')
    a.pull-left(ng-show='context', ng-href='{{::context.url}}')
      img.media-object(ng-src='{{::context.avatarUrl}}', alt=__("Context"))
    a.pull-left(ng-hide='context', ng-href='{{::subject.url}}')
      img.media-object(ng-src='{{::subject.avatarUrl}}', alt=__("Subject"))
    a.cancel(href="", ng-click='acknowledge()')
      i.nomargin.remove.mdi.mdi-close
    .media-body
      .ellipsis
        span.pull-right.date.hidden-xs(am-time-ago="::notification.timestamps.creation")
        a(ng-show='context', ng-href="{{::context.url}}") {{::context.displayName}}
      div
        span
          a(ng-href="{{::subject.url}}") {{::subject.displayName}}

          span {{::verb}}

          span {{::complement}}
      div(ng-show='notification.description')
        span {{::notification.description}}
      div(ng-hide='notification.acknowledged')
        span(ng-repeat='action in notification.action')
          a(ng-href='{{::action.url}}', target='_blank')
            button.btn.btn-info(type="submit") {{::action.display.text}}

      div(ng-show='notification.acknowledged') #{__('This notification is processed')}
