div
  header#header
    div(ng-if='enableScrollListener && !disableByEvent', scroll-listener, data-on-scroll-down='hide()', data-on-scroll-top='show()', data-on-scroll-up='show()', data-on-destroy='!disableByEvent && show()', data-disabled='isDisabled')

    div.header-inner.flex-vertical-centered.flex-space-between
      ul.list-inline.all-centered
        li.logo
          a(href='', ui-sref='home')
            img.openpaas-logo(src="/images/white-logo.svg", alt='#{__("OpenPaas Logo")}')
      ul.list-inline.all-centered.header-actions
        li.hover-scale-animation
          a(href='')
            i.mdi.mdi-magnify(ui-sref='search.main')
        li.hover-scale-animation.toggle-fullscreen
          a(href='', ng-click='toggleFullScreen()')
            i.md.mdi.mdi-fullscreen
        li.hover-scale-animation(ng-if='false')
          esn-user-notification-toggler
        li.hover-scale-animation
          application-menu-toggler
        li.avatar-container.dropdown(ng-controller='avatarController')
          a(href='', data-toggle='dropdown', aria-expanded='true')
            img.header-avatar(ng-src="{{avatarURL}}", alt='#{__("Avatar")}')
          ul.dropdown-menu.dm-icon.dropdown-menu-right
            li
              a(ui-sref="profile({ user_id: '' })")
                i.mdi.mdi-account
                | #{__('Profile')}
            li
              a(ui-sref="controlcenter")
                i.mdi.mdi-account-settings-variant
                | #{__('Control Center')}
            li
              a(href="/logout")
                i.mdi.mdi-power
                | #{__('Logout')}
    sub-header-container
  sidebar
  api-notification
