div.login-bg(data-ng-controller='login')
    div.form-container
        form(name='loginForm')
            span.label.label-danger(data-ng-show='error') {{error}}
            legend #{__('Sign In')}
            .form-group
                label.control-label(for='username') #{__('Username')}
                input.form-control(data-ng-model='username', type='text', name='username', id='username', placeholder="#{__('Username')}", autofocus=true)
            .form-group
                label.control-label(for='username') #{__('Password')}
                input.form-control(data-ng-model='password', type='password', name='password', id='password', placeholder="#{__('Password')}")
            .form-group
                div(data-ng-if="loginFailureInARow > maxLoginFailureInARow", vc-recaptcha, data-ng-model="$parent.recaptcha" tabindex="3", theme="clean", key="6Ldu4O8SAAAAAHqn2ifj-eQVetUksEo7VQdvzXM9")
            .form-group
                button.btn.btn-primary(type='submit', data-ng-click='login()')
                    i.fa.fa-unlock-alt
                    | #{__('Login')}
