.inbox-classification-indicator(
  ng-if="$ctrl.shouldBeDisplayed",
  bs-tooltip,
  data-container=".inbox-list",
  data-placement="left",
  data-trigger="hover",
  data-template-url="/unifiedinbox.ml/app/components/classification-message-indicator/classification-message-indicator-tooltip.html",
  ng-click="$event.stopPropagation(); $ctrl.moveItem()"
)
  i.inbox-classification-indicator-icon.mdi.mdi-lightbulb-outline
  .inbox-classification-indicator-mailbox.ellipsis {{ $ctrl.mailbox.name }}
