.lv-body
  .lv-item.calendar-item.calendar-header-title.hidden-md
    .media
      .pull-left
        i.mdi.mdi-calendar
      .media-body
        .lv-title #{__('My calendars')}
  .lv-item.calendar-item.calendar-header-title-desktop.visible-md
    .media
      .pull-left
        i.mdi.mdi-calendar
      .pull-right
        .lv-actions.actions
          .dropdown
            a(href='', data-toggle='dropdown', aria-expanded='true')
              i.mdi.mdi-plus
            ul.dropdown-menu.dropdown-menu-right
              li
                a(ui-sref='calendar.add') #{__('New calendar')}

      .media-body
        .lv-title #{__('My calendars')}

  calendars-list-items(
    calendars="$ctrl.userCalendars",
    toggle-calendar="$ctrl.toggleCalendar",
    hidden-calendars="$ctrl.hiddenCalendars",
    state-to-go="'calendar.edit'"
  )
