.row.event-date-edition
  .visible-xs
    .row.nomargin
      .col-xs-3.col-sm-2
        .form-group
          .fg-line
            i.mdi.mdi-clock
      .col-xs-9.col-sm-3
        .form-group
          .fg-line
            input.input.form-control(type="text", size="10", ng-model="ctrl.event.start", data-autoclose="1", data-start-week="1", data-date-format="yyyy/MM/dd", placeholder="#{__('Start date')}", ng-change="ctrl.onStartDateChange()", ng-blur="ctrl.dateOnBlurFn()", bs-datepicker, aria-expanded="false", ng-disabled="ctrl.disabled", cal-date-to-moment)
          .fg-line(ng-if='!ctrl.allDay')
            input.input.form-control(type="text", size="10", ng-model="ctrl.event.start", data-autoclose="0", placeholder="#{__('Time')}", ng-change="ctrl.onStartDateChange()", ng-blur="ctrl.dateOnBlurFn()", lng-clockpicker, lng-clockpicker-options="{twelvehour: false}", aria-expanded="false", ng-disabled="ctrl.allDay || ctrl.disabled")
          .fg-line(ng-if='ctrl.allDay')
            input.input.form-control(type="text", size="10", ng-model="ctrl.previousStart", data-autoclose="0", placeholder="#{__('Time')}", ng-change="ctrl.onStartDateChange()", ng-blur="ctrl.dateOnBlurFn()", lng-clockpicker, lng-clockpicker-options="{twelvehour: false}", aria-expanded="false", ng-disabled="ctrl.allDay || ctrl.disabled")
    .row.nomargin
      .col-xs-3.col-sm-2
        .form-group
          .fg-line
            i.mdi.mdi-arrow-right
      .col-xs-9.col-sm-3
        .form-group
          .fg-line
            input.input.form-control(type="text", size="10", class="form-control", ng-model="ctrl.event.end", data-autoclose="1", data-start-week="1", data-date-format="yyyy/MM/dd", data-min-date="{{ctrl.getMinDate()}}", placeholder="#{__('End date')}", ng-change="ctrl.onEndDateChange()", aria-expanded="false", ng-disabled="ctrl.disabled", ng-blur="ctrl.dateOnBlurFn()", bs-datepicker, cal-date-to-moment, cal-friendlify-end-date, data-is-all-day="ctrl.allDay")
          .fg-line(ng-if='!ctrl.allDay')
            input.input(type="text", size="10", class="form-control", ng-model="ctrl.event.end", data-autoclose="0", placeholder="#{__('Time')}", ng-change="ctrl.onEndDateChange()", aria-expanded="false", ng-disabled="ctrl.allDay || ctrl.disabled", ng-blur="ctrl.dateOnBlurFn()", lng-clockpicker, lng-clockpicker-options="{twelvehour: false}")
          .fg-line(ng-if='ctrl.allDay')
            input.input(type="text", size="10", class="form-control", ng-model="ctrl.previousEnd", data-autoclose="0", placeholder="#{__('Time')}", ng-change="ctrl.onEndDateChange()", aria-expanded="false", ng-disabled="ctrl.allDay || ctrl.disabled", ng-blur="ctrl.dateOnBlurFn()", lng-clockpicker, lng-clockpicker-options="{twelvehour: false}")
  .hidden-xs
    .col-xs-3.col-sm-2
      .form-group
        .fg-line
          i.mdi.mdi-clock
    .col-xs-9.col-sm-3
      .form-group
        .fg-line
          input.input.form-control(type="text", size="10", ng-model="ctrl.event.start", data-autoclose="1", data-start-week="1", data-date-format="yyyy/MM/dd", placeholder="#{__('Start date')}", ng-change="ctrl.onStartDateChange()", ng-blur="ctrl.dateOnBlurFn()", bs-datepicker, aria-expanded="false", ng-disabled="ctrl.disabled", cal-date-to-moment)
        .fg-line(ng-if='!ctrl.allDay')
          input.input.form-control(type="text", size="10", ng-model="ctrl.event.start", data-autoclose="0", placeholder="#{__('Time')}", ng-change="ctrl.onStartDateChange()", ng-blur="ctrl.dateOnBlurFn()", lng-clockpicker, lng-clockpicker-options="{twelvehour: false}", aria-expanded="false", ng-disabled="ctrl.allDay || ctrl.disabled")
        .fg-line(ng-if='ctrl.allDay')
          input.input(type="text", size="10", class="form-control", ng-model="ctrl.previousStart", data-autoclose="0", placeholder="#{__('Time')}", ng-change="ctrl.onEndDateChange()", aria-expanded="false", ng-disabled="ctrl.allDay || ctrl.disabled", ng-blur="ctrl.dateOnBlurFn()", lng-clockpicker, lng-clockpicker-options="{twelvehour: false}")
    .col-xs-3.col-sm-2
      .form-group
        .fg-line
          i.mdi.mdi-arrow-right
    .col-xs-9.col-sm-3
      .form-group
        .fg-line
          input.input.form-control(type="text", size="10", class="form-control", ng-model="ctrl.event.end", data-autoclose="1", data-start-week="1", data-date-format="yyyy/MM/dd", data-min-date="{{ctrl.getMinDate()}}", placeholder="#{__('End date')}", ng-change="ctrl.onEndDateChange()", aria-expanded="false", ng-disabled="ctrl.disabled", ng-blur="ctrl.dateOnBlurFn()", bs-datepicker, cal-date-to-moment, cal-friendlify-end-date, data-is-all-day="ctrl.allDay")
        .fg-line(ng-if='!ctrl.allDay')
          input.input(type="text", size="10", class="form-control", ng-model="ctrl.event.end", data-autoclose="0", placeholder="#{__('Time')}", ng-change="ctrl.onEndDateChange()", aria-expanded="false", ng-disabled="ctrl.allDay || ctrl.disabled", ng-blur="ctrl.dateOnBlurFn()", lng-clockpicker, lng-clockpicker-options="{twelvehour: false}")
        .fg-line(ng-if='ctrl.allDay')
          input.input(type="text", size="10", class="form-control", ng-model="ctrl.previousEnd", data-autoclose="0", placeholder="#{__('Time')}", ng-change="ctrl.onEndDateChange()", aria-expanded="false", ng-disabled="ctrl.allDay || ctrl.disabled", ng-blur="ctrl.dateOnBlurFn()", lng-clockpicker, lng-clockpicker-options="{twelvehour: false}")
  .col-xs-12.col-sm-2
    .form-group
      .fg-line
        .checkbox.allday
          label
            input(type="checkbox", ng-model='ctrl.allDay', ng-disabled="ctrl.disabled", ng-change="ctrl.allDayOnChange(); ctrl.setEventDates();")
            i.input-helper #{__('All day')}
