.av-fadeIn(ng-show='view')
.attachment-viewer(ng-if="onInit", ng-init='onInit()', ng-show='view', ng-click='close($event)')
  .av-topBar(ng-show='view')
    .av-details
      span.av-number {{number}}
      span.av-caption.ellipsis {{file.name}}
    .av-download(title='#{__("Download")} #{__("file")}')
      a(href='{{file.url}}', esn-download-file='{{file.name}}')
        i.mdi.mdi-download.mdi-hc-fw
    .av-closeContainer(ng-click='close($event)', title='#{__("Close")}')
      span.av-close
        i.mdi.mdi-close.mdi-hc-fw.av-closeButton
  .av-outerContainer(ng-show='view')
    .av-container
      .av-main(ng-show='main')
      .av-loader(ng-hide='main')
        span.av-cancel
      .av-nav
        span.av-prev.nav(ng-click='openPrev()', ng-show='nav', title='#{__("Previous")}')
          i.mdi.mdi-chevron-left.mdi-hc-fw  
        span.av-next.nav(ng-click='openNext()', ng-show='nav', title='#{__("Next")}')
          i.mdi.mdi-chevron-right.mdi-hc-fw
