ng-form(name="form")
  esn-form-group(label=__('First Name'))
    input.form-control(type='text', ng-model='$ctrl.user.firstname')
  esn-form-group(label=__('Last Name'))
    input.form-control(type='text', ng-model='$ctrl.user.lastname')
  esn-form-group(label=__('Job Title'))
    input.form-control(type='text', ng-model='$ctrl.user.job_title')
  esn-form-group(label=__('Service'))
    input.form-control(type='text', ng-model='$ctrl.user.service')
  esn-form-group(label=__('Building Location'))
    input.form-control(type='text', ng-model='$ctrl.user.building_location')
  esn-form-group(label=__('Office Location'))
    input.form-control(type='text', ng-model='$ctrl.user.office_location')
  esn-form-group(label=__('Main Phone'))
    input.form-control(type='text', ng-model='$ctrl.user.main_phone')
  esn-form-group(label=__('Bio'))
    textarea.form-control(rows="3", type='text', ng-model='$ctrl.user.description')
