input(
  bs-switch,
  data-ng-model="switch.status",
  type="checkbox",
  switch-size="{{'small'}}",
  switch-on-color="{{'success'}}",
  switch-off-color="{{'danger'}}",
  switch-active="{{active}}")
