.form-horizontal
  .row
    .col-lg-7
      .row
        .col-xs-12.col-sm-4.col-sm-push-8.all-centered
          div(modal-launcher, template="contact/views/partials/contact-avatar-modal", ng-click="showModal()")
            contact-photo(contact='contact', editable='true')
        .col-xs-12.col-sm-8.col-sm-pull-4
          .form-group
            input.bigger.form-control.floating-label(ng-if='!update', type='text', placeholder='#{__("First Name")}', ng-model='contact.firstName')
            inline-editable-input(ng-if='update', input-class='bigger form-control', type='text', placeholder='#{__("First Name")}', ng-model='contact.firstName', on-save='modify')
          .form-group
            inline-editable-input(ng-if='update', input-class='bigger form-control', type='text', placeholder='#{__("Last Name")}', ng-model='contact.lastName', on-save='modify')
            input.bigger.form-control.floating-label(ng-if='!update', type='text', placeholder='#{__("Last Name")}', ng-model='contact.lastName')
          .form-group
            inline-editable-input(ng-if='update', input-class='bigger form-control', type='text', placeholder='#{__("Organization")}', ng-model='contact.org', on-save='modify')
            input.bigger.form-control.floating-label(ng-if="!update", type='text', placeholder='#{__("Organization")}', ng-model='contact.org')
      .form-group(ng-show='contact.org')
        label.control-label.sr-only #{__("Job Title")}
        .col-sm-12
          inline-editable-input(ng-if='update', input-class='form-control', type='text', placeholder='#{__("Job Title")}', ng-model='contact.orgRole', on-save='modify')
          input.form-control.floating-label(ng-if='!update', type='text', placeholder='#{__("Job Title")}', ng-model='contact.orgRole')
      multi-inline-editable-input-group(ng-if='update', multi-input-model='contact.emails', multi-input-types='["Home", "Work", "Other"]', multi-input-texttype='email', multi-input-placeholder='#{__("Email")}', multi-input-on-save='modify')
      multi-inline-editable-input-group(ng-if='update', multi-input-model='contact.tel', multi-input-types='["Home", "Mobile", "Work", "Other"]', multi-input-texttype='tel', multi-input-placeholder='#{__("Phone")}', multi-input-on-save='modify')
      multi-inline-editable-input-group-address(ng-if='update', multi-input-model='contact.addresses', multi-input-types='["Home", "Work", "Other"]', multi-input-on-save='modify')
      multi-input-group(ng-if='!update', multi-input-model='contact.emails', multi-input-types='["Home", "Work", "Other"]', multi-input-texttype='email', multi-input-placeholder='#{__("Email")}')
      multi-input-group(ng-if='!update', multi-input-model='contact.tel', multi-input-types='["Home", "Mobile", "Work", "Other"]', multi-input-texttype='tel', multi-input-placeholder='#{__("Phone")}')
      multi-input-group-address(ng-if='!update', multi-input-model='contact.addresses', multi-input-types='["Home", "Work", "Other"]')
    .col-lg-5
      .form-group.tags-group
        label.control-label.sr-only #{__("Tags")}
        .col-sm-12
          tags-input(ng-model='contact.tags', placeholder='Tags', add-on-space='true', add-on-enter='true', min-length='1')
      multi-inline-editable-input-group(ng-if='update', multi-input-model='contact.social', multi-input-types='["Skype", "Twitter", "Other"]', multi-input-texttype='text', multi-input-placeholder='#{__("Social Account")}', multi-input-on-save='modify')
      multi-input-group(ng-if='!update', multi-input-model='contact.social', multi-input-types='["Skype", "Twitter", "Other"]', multi-input-texttype='text', multi-input-placeholder='#{__("Social Account")}')
      .form-group
        label.control-label.col-xs-3 #{__("Birthday")}
        .col-xs-9
          input.form-control(type='text', relaxed-date, ng-model='contact.birthday', name='date')
      .form-group
        label.control-label.sr-only #{__("Nickname")}
        .col-sm-12
          inline-editable-input(ng-if='update', input-class='form-control', type='text', placeholder='#{__("Nickname")}', ng-model='contact.nickname', on-save='modify')
          input.form-control.floating-label(ng-if='!update', type='text', placeholder='#{__("Nickname")}', ng-model='contact.nickname')
      .form-group(ng-show='contact.org')
        label.control-label.sr-only #{__("Company Website")}
        .col-sm-12
          inline-editable-input(ng-if='update', input-class='form-control', type='text', placeholder='#{__("Company Website")}', ng-model='contact.orgUri', on-save='modify')
          input.form-control.floating-label(ng-if='!update', type='text', placeholder='#{__("Company Website")}', ng-model='contact.orgUri')
  .row
    .col-md-12
      .form-group
        .col-xs-12
          textarea.form-control(ng-if='!update', rows='6', placeholder='#{__("Comments")}', ng-model='contact.notes')
          editable-textarea(ng-if='update', textarea-class='form-control', rows='6', placeholder='#{__("Comments")}', ng-model='contact.notes', on-save='modify')
