.form
  .row
    .col-xs-12.col-lg-7
      .row
        .col-xs-12.col-sm-4.col-sm-push-8.all-centered
          div(modal-launcher, template="contact/views/partials/contact-avatar-modal", ng-click="showModal()")
            contact-photo(contact='contact', editable='true')
        .col-xs-12.col-sm-8.col-sm-pull-4
          .fg-line
            input.form-control.floating-label(type='text', placeholder='#{__("First Name")}', ng-model='contact.firstName')
          .fg-line
            input.form-control.floating-label(type='text', placeholder='#{__("Last Name")}', ng-model='contact.lastName')
          .fg-line 
            input.form-control.floating-label(type='text', placeholder='#{__("Organization")}', ng-model='contact.org')
      div(ng-show='contact.org')
        label.control-label.sr-only #{__("Job Title")}
        .col-sm-12
          .fg-line 
            input.form-control.floating-label(type='text', placeholder='#{__("Job Title")}', ng-model='contact.orgRole')
      multi-input-group(multi-input-model='contact.emails', multi-input-types='["Home", "Work", "Other"]', multi-input-texttype='email', multi-input-placeholder='#{__("Email")}')
      multi-input-group(multi-input-model='contact.tel', multi-input-types='["Home", "Mobile", "Work", "Other"]', multi-input-texttype='tel', multi-input-placeholder='#{__("Phone")}')
      multi-input-group-address( multi-input-model='contact.addresses', multi-input-types='["Home", "Work", "Other"]')
    .col-xs-12.col-lg-5
      .row
        label.control-label.sr-only #{__("Tags")}
        .col-sm-12
          .form-group
            .fg-line
              tags-input.form-control(ng-model='contact.tags', placeholder='Tags', add-on-space='true', add-on-enter='true', min-length='1')
      .row          
        multi-input-group(multi-input-model='contact.social', multi-input-types='["Skype", "Twitter", "Other"]', multi-input-texttype='text', multi-input-placeholder='#{__("Social Account")}')
      .row
        .col-xs-3
          label.control-label.contact-field-label(for='date') #{__("Birthday")}
        .col-xs-9
          .form-group
            .fg-line
              input.form-control(type='text', relaxed-date, ng-model='contact.birthday', name='date')
              inline-notify(name='date')
      .row
        label.control-label.sr-only #{__("Nickname")}
        .col-sm-12
          .fg-line
            input.form-control(type='text', placeholder='#{__("Nickname")}', ng-model='contact.nickname')
      .row(ng-show='contact.org')
        label.control-label.sr-only #{__("Company Website")}
        .col-sm-12
          .form-group
            .fg-line
              input.form-control.floating-label(type='text', placeholder='#{__("Company Website")}', ng-model='contact.orgUri')
  .row
    .col-xs-12
      .form-group
        .fg-line
          textarea.form-control(rows='6', placeholder='#{__("Comments")}', ng-model='contact.notes')
