header
  .contacts-header-inner
    .all-centered
      .col-xs-12.col-md-8
        .flex-space-between.flex-vertical-centered.flex-wrap
          .contacts-header-title
            h2
              span #{__('Contacts')}
              small(ng-switch="searchResult.count" ng-if="!!searchInput")
                span(ng-switch-when='0') #{__('No contacts found')}
                span(ng-switch-when='1') #{__('1 contact found')}
                span(ng-switch-default)
                  span(ng-if='searchResult.formattedResultsCount.isFormatted') #{__('About')}&nbsp;
                  span(ng-if='searchResult.formattedResultsCount.hits') {{searchResult.formattedResultsCount.hits}} #{__('contacts found')}

          .contacts-list-toolbar
            .contacts-search
              contact-search-form
            .contacts-toggle
              contact-list-toggle
