.form.contact-edition-form
  .row

    .col-xs-12.col-lg-7
      .row
        .col-xs-12.col-sm-4.col-sm-push-8.hidden-lg.all-centered-xs
          div(modal-launcher, template="contact/views/partials/contact-avatar-modal", ng-click="showModal()")
            contact-photo(contact='contact', editable='true')
        .col-xs-12.col-sm-8.col-sm-pull-4.col-lg-12.col-lg-pull-0
          .form-group.fg-float
            .fg-line
              input.form-control.fg-input(type='text', ng-model='contact.firstName')
            label.fg-label #{__("First Name")}
          .form-group.fg-float
            .fg-line
              input.form-control(type='text', ng-model='contact.lastName')
            label.fg-label #{__("Last Name")}
          .form-group.fg-float
            .fg-line
              input.form-control(type='text', ng-model='contact.org')
            label.fg-label #{__("Organization")}
          .form-group.fg-float
            .fg-line
              input.form-control(type='text', ng-model='contact.orgRole')
            label.fg-label #{__("Job Title")}
          .form-group.fg-float(ng-show='contact.org')
            .fg-line
              input.form-control(type='url', ng-model='contact.orgUri')
            label.fg-label #{__("Company Website")}

      .row
        .col-xs-12
          label
            | #{__("Phones")}
            multi-input-group(multi-input-model='contact.tel', multi-input-types='["Home", "Mobile", "Work", "Other"]', multi-input-texttype='tel', multi-input-placeholder='#{__("Phone")}')

      .row
        .col-xs-12
          label
            | #{__("Emails")}
            multi-input-group(multi-input-model='contact.emails', multi-input-types='["Home", "Work", "Other"]', multi-input-texttype='email', multi-input-placeholder='#{__("Email")}')

      .row.visible-xs
        .col-xs-12
          label
            | #{__("Socials")}
            multi-input-group(multi-input-model='contact.social', multi-input-types='["Skype", "Twitter", "Other"]', multi-input-texttype='text', multi-input-placeholder='#{__("Social Account")}')

      .row
        .col-xs-12
          label
            | #{__("Addresses")}
            multi-input-group-address( multi-input-model='contact.addresses', multi-input-types='["Home", "Work", "Other"]')

    .col-xs-12.col-lg-5
      .row
        div(modal-launcher, template="contact/views/partials/contact-avatar-modal", ng-click="showModal()")
          contact-photo.visible-lg(contact='contact', editable='true')
      .row.hidden-xs
        multi-input-group(multi-input-model='contact.social', multi-input-types='["Skype", "Twitter", "Other"]', multi-input-texttype='text', multi-input-placeholder='#{__("Social Account")}')
      .row
        .col-xs-12
          label.more
            | #{__("More")}
            .form-group.fg-float
              .fg-line
                input.form-control(type='text', placeholder="", relaxed-date, ng-model='contact.birthday', data-autoclose="1", bs-datepicker, name='date')
              label.fg-label #{__("Birthday")}
            .form-group.fg-float
              .fg-line
                input.form-control(type='text', ng-model='contact.nickname')
              label.fg-label #{__("Nickname")}
      .row
        .col-xs-12
          .form-group
            .fg-line
              tags-input.form-control(ng-model='contact.tags', placeholder='Tags', add-on-space='true', add-on-enter='true', min-length='1')

  .row
    .col-xs-12
      .form-group.fg-float
        .fg-line
          textarea.form-control(data-auto-size, data-autosize-on="true", ng-model='contact.notes')
        label.fg-label #{__("Comments")}
