
doctype html
html.mail
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style
      include ../css/media.less

  body
    .wrapper
      br
      .mail-content

        table
          tr.table-header
            td(colspan='2').logo
              div
                a(href="#{content.baseUrl}")
                  img(src="cid:logo", alt='#{__("OpenPaas Logo")}')
            td(colspan='2').organizer
              h5
                p
                  | #{content.event.organizer.cn} (
                  span.small
                    a(href='mailto:#{content.event.organizer.email}')
                      img(src="cid:email", alt='#{__("Organizer mail")}')
                    | )
                p.big Event Reminder
            td(colspan='2').avatar.indent-right
              img(src="#{content.event.organizer.avatar}", alt='#{__("Organizer Avatar")}', width="45px", height="42px")
          tr
            td(colspan='6').indent
              span.title #{content.event.summary}
              span will start in #{content.alarm.triggerDisplay}

          tr
            td.indent
              if (content.event.end)
                img(src="cid:clock", alt='#{__("From")}')
              else
                img(src="cid:clock", alt='#{__("At")}')
            td
              p #{content.event.start.date}
              if (!content.event.allDay)
                p #{content.event.start.time}
            if (content.event.end)
              td
                if (content.event.allDay && content.event.end.date == content.event.start.date)
                  p all day
                else
                  img.check-transform(src="cid:check", alt='#{__("To")}')
              td
                if (!content.event.allDay || (content.event.allDay && content.event.end.date != content.event.start.date))
                  p #{content.event.end.date}
                  if (!content.event.allDay)
                    p #{content.event.end.time}
            else
              td(colspan="2")
            td.recurrence
            td.indent-right
              a(href='#{content.baseUrl}/#/calendar') See in calendar

          if (content.event.location)
            tr
              td(colspan='1').indent
                img(src="cid:map-marker", alt='#{__("Location")}')
              td(colspan='3').indent
                | #{content.event.location}


      footer
        div.footer
          a(href='#{content.baseUrl}/#/calendar') More details...
