
doctype html
html.mail
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style
      include ../css/media.less

  body
    .wrapper
      br
      .mail-content

        table
          tr.table-header
            td.logo(colspan="2")
              div
                a(href=content.baseUrl)
                  img(src="cid:logo", alt=translate('OpenPaas Logo'))
            td.organizer(colspan="2")
              h5
                p
                  | #{content.event.organizer.cn} (
                  span.small
                    a(href=`mailto:${content.event.organizer.email}`)
                      img(src="cid:email", alt=translate('Organizer mail'))
                    | )
                p.big #{translate('Event Reminder')}
            td.avatar.indent-right(colspan="2")
              img(src=content.event.organizer.avatar, alt=translate('Organizer Avatar'), width="45px", height="42px")
          tr
            td(colspan="6").indent
              span.title #{content.event.summary}
              span #{translate('will start in')} #{content.alarm.triggerDisplay}

          tr
            td.indent
              if (content.event.end)
                img(src="cid:clock", alt=translate('From'))
              else
                img(src="cid:clock", alt=translate('At'))
            td
              p #{content.event.start.date}
              if (!content.event.allDay)
                p #{content.event.start.time}
                p #{content.event.start.timezone}
            if (content.event.end)
              td
                if (content.event.allDay && content.event.end.date == content.event.start.date)
                  p #{translate('all day')}
                else
                  img.check-transform(src="cid:check", alt=translate('To'))
              td
                if (!content.event.allDay || (content.event.allDay && content.event.end.date != content.event.start.date))
                  p #{content.event.end.date}
                  if (!content.event.allDay)
                    p #{content.event.end.time}
                    p #{content.event.end.timezone}
            else
              td(colspan="2")
            td.recurrence
            td.indent-right
              a(href=content.seeInCalendarLink) #{translate('See in calendar')}

          if (content.event.location)
            tr
              td(colspan="1").indent
                img(src="cid:map-marker", alt=translate('Location'))
              td(colspan="3").indent
                | #{content.event.location}

          if (content.event.description)
            tr
              td
                img(src="cid:format-align-justify", alt="Description")
              td(colspan="5") #{content.event.description}

      footer
        div.footer
          a(href=content.consultLink) #{translate('More details...')}
