extends /modules/subheader/centered-subheader.pug

block left
  button.btn.btn-link.hidden-xs(esn-back-button='contact')
    .flex-vertical-centered
      i.mdi.mdi-arrow-left.mdi-margin-right
      span #{__('Back')}
  button.btn.btn-link.btn-icon.visible-xs(esn-back-button='contact')
    i.mdi.mdi-arrow-left

block right
  .dropdown.flex-vertical-centered
    a(href='', data-toggle='dropdown', aria-expanded='true')
      i.mdi.mdi-dots-vertical
    ul.dropdown-menu.dropdown-menu-right.clickable
      li
        a(href='', ng-if='displayShell.addressbook.canEditContact', ng-click='edit()') #{__('Edit')}
      li
        contact-action-copy.contact-dropdown-action-item(
          ng-if='displayShell.addressbook.canCopyContact',
          contact='contact'
        )
      li
        contact-action-move.contact-dropdown-action-item(
          ng-if='displayShell.addressbook.canMoveContact',
          contact='contact'
        )
