sub-header
  contact-addressbook-settings-subheader(
    name='$ctrl.addressbookDisplayName',
    form='form',
    on-submit='$ctrl.onSave()',
    on-cancel='$ctrl.onCancel()'
  )

form(name="form")
  .addressbook-settings-page.card
    .settings-page-title.hidden-xs
      h2 #{__('Address book settings')}

    .text-center(ng-if='!$ctrl.addressbook', openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')

    div(ng-if='$ctrl.addressbook', ng-init="$ctrl.selectedTab = 'delegation'")
      contact-addressbook-settings-tabs(
        selected-tab = "$ctrl.selectedTab"
      )
      .card-body.settings-page-body
        contact-addressbook-settings-main(
          ng-show='$ctrl.selectedTab === "main"',
          addressbook='$ctrl.addressbook'
          public-right='$ctrl.publicRight'
        )
        contact-addressbook-settings-delegation(
          ng-show='$ctrl.selectedTab === "delegation"'
          sharees='$ctrl.addressbook.sharees'
        )
