div.row(ng-controller='profileEditionController')
    div.col-md-4
        div
          a.thumbnail
            img(width="150", heigth="150", src='/api/user/profile/avatar')
        div
          a.btn.btn-default.btn-block(href="/#/profile/avatar") #{__('Edit Avatar')}
    div.col-md-8
        //Name
        div.row(style="margin:5px;")
            div.col-md-8
                span(us-spinner="{lines: 7, length: 3, width: 5, radius: 6, corners: 1, rotate: 0, direction: 1, speed: 1, trail: 50, top: '10%', left: '20%'}",
                    spinner-start-active='1',
                    ng-show='running.name')
                span.h4(editable-text='fullName', e-form='nameForm', onbeforesave='updateName($data)') {{ fullName || initFullName(user.firstname, user.lastname) }}
            div.col-md-4
                button.btn.btn-link(ng-click='nameForm.$show()', ng-hide='nameForm.$visible', ng-disabled='running.name') Change
        //Job
        div.row
            div.col-md-4
                label.h4 #{__('Job Title')}
            div.col-md-4
                div
                    span(us-spinner="{lines: 7, length: 3, width: 5, radius: 6, corners: 1, rotate: 0, direction: 1, speed: 1, trail: 50, top: '10%', left: '20%'}",
                    spinner-start-active='1',
                    ng-show='running.job')
                    span(editable-text='user.job_title', e-form='jobForm', id= 'jobForm', onbeforesave='updateJob($data)'
                        e-placeHolder="#{__('Job Title')}", e-maxlength='100') {{ user.job_title }}
            div.col-md-2
                button.btn.btn-link(ng-click='jobForm.$show()', ng-hide='jobForm.$visible', ng-disabled='running.job') Edit
        //Service
        div.row
            div.col-md-4
                label.h4 #{__('Service')}
            div.col-md-4
                span(us-spinner="{lines: 7, length: 3, width: 5, radius: 6, corners: 1, rotate: 0, direction: 1, speed: 1, trail: 50, top: '10%', left: '20%'}",
                spinner-start-active='1',
                ng-show='running.service')
                span(editable-text='user.service', e-form='serviceForm', onbeforesave='updateService($data)',
                    e-placeHolder="#{__('Service')}", e-maxlength='400') {{ user.service }}
            div.col-md-2
                button.btn.btn-link(ng-click='serviceForm.$show()', ng-hide='serviceForm.$visible', ng-disabled='running.service') Edit
        //Building location
        div.row
            div.col-md-4
                label.h4 #{__('Building Location')}
            div.col-md-4
                span(us-spinner="{lines: 7, length: 3, width: 5, radius: 6, corners: 1, rotate: 0, direction: 1, speed: 1, trail: 50, top: '10%', left: '20%'}",
                spinner-start-active='1',
                ng-show='running.building_location')
                span(editable-text='user.building_location', e-form='buildingForm', onbeforesave='updateBuildingLocation($data)',
                    e-placeHolder="#{__('Building Location')}", e-maxlength='400') {{ user.building_location }}
            div.col-md-2
                button.btn.btn-link(ng-click='buildingForm.$show()', ng-hide='buildingForm.$visible', ng-disabled='running.building_location') Edit
        //Office location
        div.row
            div.col-md-4
                label.h4 #{__('Office Location')}
            div.col-md-4
                span(us-spinner="{lines: 7, length: 3, width: 5, radius: 6, corners: 1, rotate: 0, direction: 1, speed: 1, trail: 50, top: '10%', left: '20%'}",
                spinner-start-active='1',
                ng-show='running.office_location')
                span(editable-text='user.office_location', e-form='officeForm', onbeforesave='updateOfficeLocation($data)',
                    e-placeHolder="#{__('Office Location')}", e-maxlength='400') {{ user.office_location }}
            div.col-md-2
                button.btn.btn-link(ng-click='officeForm.$show()', ng-hide='officeForm.$visible', ng-disabled='running.office_location') Edit
        //Phone
        div.row
            div.col-md-4
                label.h4 #{__('Phone')}
            div.col-md-4
                span(us-spinner="{lines: 7, length: 3, width: 5, radius: 6, corners: 1, rotate: 0, direction: 1, speed: 1, trail: 50, top: '10%', left: '20%'}",
                spinner-start-active='1',
                ng-show='running.phone')
                span(editable-text='user.main_phone', e-form='phoneForm', onbeforesave='updatePhone($data)',
                    e-placeHolder="#{__('Phone')}", e-maxlength='20') {{ user.main_phone }}
            div.col-md-2
                button.btn.btn-link(ng-click='phoneForm.$show()', ng-hide='phoneForm.$visible', ng-disabled='running.phone') Edit
