.popover(tabindex="-1", ng-controller='ESNSearchHeaderSettingsController')
  .popover-content
    button.btn.btn-link.btn-icon.pull-right(ng-click='$hide()', title=__('Close'))
      i.mdi.mdi-close.close-settings
    form(role="form", novalidate="true")
      .search-settings-body

      .search-settings-footer.flex
        .footer-left
          button.btn.btn-link.color-primary(type='button', title=__('Reset search options'), ng-click='resetSettings()', ng-disabled="all") #{__('Reset')}
        .footer-right
          button.btn.btn-link.color-default(type='button', title=__('Cancel'), ng-click='$hide()') #{__('Cancel')}
          button.btn.btn-primary.save(type='button', title=__('Search'), ng-click="updateSettings(); $hide();") #{__('Search')}