div(ng-class="{ 'on-background': $ctrl.inputVariant === 'on-background', 'fg-line': $ctrl.inputVariant === 'standard', 'fg-toggled': $ctrl.inputVariant === 'standard' && focused }")
  i.esn-filter-input-filter-icon.mdi.mdi-magnify(ng-class="{ 'focused': focused }")
  input.esn-filter-input-field.form-control(
    auto-focus="$ctrl.autoFocusInput || false",
    ng-model="$ctrl.filter",
    ng-model-options="{ debounce: 200 }",
    ng-change="$ctrl.onChange({ $filter: $ctrl.filter })",
    placeholder="{{ $ctrl.translatedPlaceholder }}",
    ng-focus="focused = true"
    ng-blur="focused = false"
  )
  button.esn-filter-input-clear-btn.btn.btn-link.btn-icon-inside-input(
    ng-click="$ctrl.clearFilter($event); $ctrl.onBlur()", 
    ng-show="$ctrl.autoFocusInput || $ctrl.filter",
  )
    i.mdi.mdi-close(ng-class="{ 'focused': focused }")
