.form.fadeIn200ms
  .edit-profile
    #profile-main.card
      .pm-overview.c-overflow
        .pmo-pic
          .p-relative.profile-edit-form(ng-controller='avatarController')
            a
              esn-avatar(avatar-url="avatarURL", hide-user-status="true")
            a.edit-h(ng-controller='avatarEdit' href='' ng-click="showAvatarEditModal()")
              i.mdi.mdi-camera
              span
                | #{__('Update Profile Picture')}
      .pm-body.clearfix
        .col-xs-12.col-sm-8.col-sm-pull-4.col-lg-12.col-lg-pull-0
          .fg-line
            input.form-control.floating-label(type='text', placeholder=__("First Name"), ng-model='user.firstname')
          .fg-line
            input.form-control.floating-label(type='text', placeholder=__("Last Name"), ng-model='user.lastname')
          .fg-line
            input.form-control.floating-label(type='text', placeholder=__("Job Title"), ng-model='user.job_title')
          .fg-line
            input.form-control.floating-label(type='text', placeholder=__("Service"), ng-model='user.service')
          .fg-line
            input.form-control.floating-label(type='text', placeholder=__("Building Location"), ng-model='user.building_location')
          .fg-line
            input.form-control.floating-label(type='text', placeholder=__("Office Location"), ng-model='user.office_location')
          .fg-line
            input.form-control.floating-label(type='text', placeholder=__("Main Phone"), ng-model='user.main_phone')
          .fg-line
            textarea.form-control(rows="3", type='text', placeholder=__("Bio"), ng-model='user.description')
