.lv-body
  .lv-item.calendar-item.calendar-header-title.hidden-md
    .media
      .pull-left
        i.mdi.mdi-calendar
      .media-body
        .lv-title #{__('Shared calendars')}
  .lv-item.calendar-item.calendar-header-title-desktop.visible-md
    .media
      .pull-left
        i.mdi.mdi-calendar
      .media-body
        .lv-title #{__('Shared calendars')}
  a.lv-item.calendar-item(href="", ng-repeat="calendar in $ctrl.sharedCalendars track by $index", ng-click="$ctrl.toggleCalendar(calendar)")
    .media
      .pull-left(ng-if="!$ctrl.hiddenCalendars[calendar.id]", ng-click="$ctrl.toggleCalendar(calendar)", title="#{__('Hide calendar')}")
        i.mdi.mdi-checkbox-marked-outline(ng-style="{'color': calendar.color}")
      .pull-left(ng-if="$ctrl.hiddenCalendars[calendar.id]", ng-click="$ctrl.toggleCalendar(calendar)", title="#{__('Show calendar')}")
        i.mdi.mdi-checkbox-blank-outline
      .pull-right.hidden-xs(ui-sref='calendar.shared({calendarId: calendar.id})', title="#{__('Consult')}", ng-click="$event.stopPropagation()")
        i.mdi.mdi-settings
      .pull-right(title="{{calendar.currentUserRight}}")
        i.mdi.mdi-pencil(ng-if="!calendar.readOnly", ng-style="{'color': calendar.color}")
        i.mdi.mdi-pencil-off(ng-if="calendar.readOnly", ng-style="{'color': calendar.color}")
      .media-body.hidden-lg
        .lv-title
          span {{calendar.name}}
      .media-body.visible-lg-block(title="{{ calendar.name }}")
        .lv-title
          span {{calendar.name}}
          