.lv-item.clickable.addressbook-item.waves-effect.waves-classic(
  title='{{::$ctrl.addressbookDisplayShell.displayName}}',
  ui-sref-active="selected",
  ui-sref='contact.addressbooks({ bookName: $ctrl.addressbookDisplayShell.shell.bookName })'
)
  .badge-container
    .badge
    i.addressbook-icon.mdi(ng-class='::$ctrl.addressbookDisplayShell.icon')
  .title.ellipsis
    span {{$ctrl.addressbookDisplayShell.displayName}}
  settings-overlay(ng-if='::$ctrl.actions.length > 0')
    md-menu-item(
      ng-repeat='action in ::$ctrl.actions',
      ng-click='action.execute($ctrl.addressbookDisplayShell.shell)'
    )
      md-button
        md-icon(md-menu-origin, md-svg-icon='{{action.icon}}')
        | {{ action.name | esnI18n }}
